<template>
  <node-view-wrapper :class="['resizable-image', {'resizable-image--selected': selected, 'float-left': node.attrs.float === 'left', 'float-right': node.attrs.float === 'right', 'not-prose': !isFigure}]" as="figure"
       :style="isFigure ? {} : {width: width}">
    <img :src="node.attrs.src" :alt="node.attrs.alt" :title="node.attrs.title"
         :style="isFigure ? {} : {width: width}" :class="{'rounded-full': node.attrs.rounded}" @click="setSelection">
    <node-view-content v-show="isFigure" class="w-full min-h-6 border border-2 border-gray-400 border-dashed" as="figcaption" />
    <div class="handler" v-show="selected && !isFigure" @mousedown="mouseDown"></div>
    <div class="toolbar" v-show="selected">
      <button class="button button--small button--icon" :class="{'button--active': node.attrs.rounded}" @click="toggleRounded" type="button" :disabled="isFigure">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <circle cx="12" cy="12" r="9" />
        </svg>
      </button>
      <button class="button button--small button--icon" :class="{'button--active': node.attrs.float === 'left'}" @click="toggleFloat('left')" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <rect width="6" height="6" x="4" y="5" rx="1" />
          <line x1="14" y1="7" x2="20" y2="7" />
          <line x1="14" y1="11" x2="20" y2="11" />
          <line x1="4" y1="15" x2="20" y2="15" />
          <line x1="4" y1="19" x2="20" y2="19" />
        </svg>
      </button>
      <button class="button button--small button--icon" :class="{'button--active': node.attrs.float === 'right'}" @click="toggleFloat('right')" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <rect width="6" height="6" x="14" y="5" rx="1" />
          <line x1="4" y1="7" x2="10" y2="7" />
          <line x1="4" y1="11" x2="10" y2="11" />
          <line x1="4" y1="15" x2="20" y2="15" />
          <line x1="4" y1="19" x2="20" y2="19" />
        </svg>
      </button>
    </div>
  </node-view-wrapper>
</template>

<script>
  import { NodeViewWrapper, NodeViewContent, nodeViewProps } from '@tiptap/vue-2'

  export default {
    name: 'ResizableImage',
    components: {
      NodeViewWrapper,
      NodeViewContent
    },
    props: nodeViewProps,
    data () {
      return {
        tempWidth: null
      }
    },
    computed: {
      width () {
        return this.tempWidth || this.node.attrs.width
      },
      isFigure () {
        return !this.node.attrs.float && !this.node.attrs.rounded
      }
    },
    methods: {
      mouseDown (evt) {
        evt.preventDefault()

        const startX = evt.pageX

        const fontSize = 16
        const startWidth = parseFloat(this.node.attrs.width.match(/(.+)em/)[1])

        const onMouseMove = (e) => {
          const currentX = e.pageX

          const diffInPx = currentX - startX
          const diffInEm = diffInPx / fontSize

          this.tempWidth = `${startWidth + diffInEm}em`
        }

        const onMouseUp = (e) => {
          e.preventDefault()

          document.removeEventListener('mousemove', onMouseMove)
          document.removeEventListener('mouseup', onMouseUp)

          this.updateAttributes({ width: this.tempWidth })
          this.tempWidth = null
        }

        document.addEventListener('mousemove', onMouseMove)
        document.addEventListener('mouseup', onMouseUp)
      },
      toggleFloat (side) {
        let newFloat = this.node.attrs.float
        if (side === this.node.attrs.float) newFloat = null
        else newFloat = side
        console.log('float', side, this.node.attrs.float, newFloat)
        this.updateAttributes({ float: newFloat })
      },
      toggleRounded () {
        console.log('rounded')
        this.updateAttributes({ rounded: !this.node.attrs.rounded })
      },
      setSelection () {
        this.editor.commands.setNodeSelection(this.getPos())
      }
    }
  }
</script>

<style lang="scss">
.resizable-image {
  @apply relative m-auto whitespace-normal select-none;

  &--selected {
    @apply ring-primary-500 ring-1;
  }

  .handler {
    @apply bg-white border border-primary-500 absolute w-2 h-2 -bottom-1 -right-1;
    cursor: nwse-resize;
  }

  .toolbar {
    @apply absolute -bottom-9 left-1/2 transform -translate-x-1/2 flex gap-1 select-none;
  }

}

</style>
