<template>
  <a :href="page.grupo ? `/grupos/${page.grupo.slug}/${page.slug}` : `/${page.slug}`" class="search-result-page">
    <img :src="page.imagem" v-if="page.imagem" class="search-result-page__image">
    <list-logo icon="fas fa-file-alt" class="flex-shrink-0" v-else />
    <div>
      <p class="search-result-page__title">
        {{ page.titulo }}
      </p>
      <p class="search-result-page__meta" v-if="page.grupo">
        {{ page.grupo.nome_curto }}
      </p>
    </div>
  </a>
</template>

<script>
  import ListLogo from '../ListLogo.vue'
  export default {
    name: 'SearchResultPage',
    components: { ListLogo },
    props: ['page']
  }
</script>

<style lang="scss">
.search-result-page {
  @apply rounded bg-white shadow py-3 px-4 flex gap-x-4 items-center mb-2 last:mb-0;

  &__image {
    @apply w-10 h-10 object-cover object-center rounded;
  }

  .sautor-list__item__logo {
    @apply mr-0;
  }

  &__title {
    @apply font-accent text-sm leading-tight md:text-base md:leading-tight;
    @apply decoration-2 underline-offset-1 decoration-transparent transition-colors duration-200;
  }

  &__meta {
    @apply text-gray-400 text-xs md:text-sm mt-0.5;
  }

  &:hover &__title {
    @apply underline decoration-primary-400;
  }
}
</style>
