<template>
  <a :href="`/pessoas/${person.id}`" class="search-result-person">
    <img :src="person.foto" class="search-result-person__photo" />
    <p class="search-result-person__name">{{ person.nome }}</p>
  </a>
</template>

<script>
  export default {
    name: 'SearchResultPerson',
    props: ['person']
  }
</script>

<style lang="scss">
.search-result-person {
  @apply rounded bg-white shadow py-3 px-4 flex gap-x-4 items-center mb-2 last:mb-0;

  &__photo {
    @apply w-10 h-10 rounded-full;
  }

  &__name {
    @apply font-accent text-sm leading-tight md:text-base md:leading-tight;
    @apply decoration-2 underline-offset-1 decoration-transparent transition-colors duration-200;
  }

  &:hover &__name {
    @apply underline decoration-primary-400;
  }
}
</style>
