<template>
  <transition name="search-overlay">
    <div class="search-overlay" v-show="isOpen">
      <button class="search-overlay__close" @click="$emit('close')">
        <span class="far fa-times"></span>
      </button>
      <form class="search-overlay__input" @submit.prevent="search">
        <span class="search-overlay__input__icon far fa-search"></span>
        <input ref="searchInput" type="search" class="search-overlay__input__input" v-model.trim="term" placeholder="Procurar…" />
        <svg class="search-overlay__input__spinner" :class="[isLoading ? 'opacity-100' : 'opacity-0']" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      </form>
      <div class="search-overlay__results">
        <div class="search-overlay__results__empty" v-if="noResults">
          Não há resultados para a sua pesquisa.
        </div>
        <div class="search-overlay__results__section" v-if="results && results.news && results.news.length > 0">
          <h3 class="search-overlay__results__section__title">Notícias</h3>
          <search-result-article v-for="article in results.news" :article="article" :key="article.id" />
        </div>
        <div class="search-overlay__results__section" v-if="results && results.groups && results.groups.length > 0">
          <h3 class="search-overlay__results__section__title">Grupos</h3>
          <search-result-group v-for="group in results.groups" :group="group" :key="group.id" />
        </div>
        <div class="search-overlay__results__section" v-if="results && results.pages && results.pages.length > 0">
          <h3 class="search-overlay__results__section__title">Páginas</h3>
          <search-result-page v-for="page in results.pages" :page="page" :key="page.id" />
        </div>
        <div class="search-overlay__results__section" v-if="results && results.people && results.people.length > 0">
          <h3 class="search-overlay__results__section__title">Pessoas</h3>
          <search-result-person v-for="person in results.people" :person="person" :key="person.id" />
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  import SearchResultArticle from './SearchResultNewsArticle.vue'
  import SearchResultGroup from './SearchResultGroup.vue'
  import SearchResultPage from './SearchResultPage.vue'
  import SearchResultPerson from './SearchResultPerson.vue'
  export default {
    name: 'SearchOverlay',
    components: { SearchResultPerson, SearchResultPage, SearchResultGroup, SearchResultArticle },
    props: ['isOpen'],
    data () {
      return {
        term: '',
        results: null,
        isLoading: false
      }
    },
    methods: {
      search () {
        if (this.term === '') return
        this.isLoading = true
        this.$http.get('/api/pesquisar', { params: { term: this.term } })
          .then(response => {
            this.results = response.data
          })
          .finally(() => {
            this.isLoading = false
          })
      }
    },
    computed: {
      noResults () {
        return this.results !== null && (this.results.news || []).length === 0 && (this.results.groups || []).length === 0 && (this.results.pages || []).length === 0 && (this.results.people || []).length === 0
      }
    },
    watch: {
      isOpen (newVal) {
        if (newVal) {
          this.$nextTick(() => {
            this.$refs.searchInput.focus()
          })
        }
      }
    }
  }
</script>

<style lang="scss">
@import "../../../sass/components/title";

.search-overlay {
  @apply fixed inset-0 bg-gray-100/90 backdrop-blur z-50 p-8 pt-12 md:pt-8 overscroll-contain overflow-y-auto;

  &__close {
    @apply fixed top-2 right-2;
    @apply block rounded-full w-12 h-12 flex justify-center items-center bg-transparent text-gray-600 transition-colors duration-200 text-lg;
    @apply hover:bg-gray-100;
    @apply focus:outline-none focus:ring-2 focus:ring-gray-200;
  }

  &__input {
    @apply max-w-prose mx-auto;
    @apply border-b-2 border-current border-opacity-80 text-gray-400 px-3 flex items-center gap-x-4 mb-10;
    @apply transition-colors duration-300;
    @apply focus-within:text-primary-500 focus-within:border-opacity-100;

    &__icon {
      @apply text-xl;
    }

    &__spinner {
      @apply animate-spin w-6 h-6 text-primary-500 transition-opacity duration-300;
    }

    &__input {
      @apply flex-1 border-none px-0 text-lg text-gray-900 placeholder:text-gray-400 bg-transparent focus:outline-none focus:ring-0;
    }
  }

  &__results {
    @apply grid gap-6 justify-center flex-wrap;
    grid-template-columns: repeat( auto-fit, minmax(200px, 400px) );

    &__empty {
      @apply text-center text-lg text-gray-500;
    }

    &__section {
      &__title {
        @extend .title;
        @extend .title--sm;
        @apply mb-4;
      }
    }
  }

  &-enter-active, &-leave-active {
    @apply transition duration-300;
  }

  &-enter, &-leave-to {
    @apply scale-110 opacity-0;
  }
}
</style>
