<template>
  <a :href="`/grupos/${group.slug}`" class="search-result-group">
    <list-logo :grupo="group" icon="fas fa-users" class="flex-shrink-0" />
    <p class="search-result-group__name">
      {{ group.nome }}
    </p>
  </a>
</template>

<script>
  import ListLogo from '../ListLogo.vue'
  export default {
    name: 'SearchResultGroup',
    components: { ListLogo },
    props: ['group']
  }
</script>

<style lang="scss">
  .search-result-group {
    @apply rounded bg-white shadow py-3 px-4 flex items-center mb-2 last:mb-0;

    &__name {
      @apply font-accent text-sm leading-tight md:text-base md:leading-tight;
      @apply decoration-2 underline-offset-1 decoration-transparent transition-colors duration-200;
    }

    &:hover &__name {
      @apply underline decoration-primary-400;
    }
  }
</style>
