.admin-layout {
  &__container {
    @extend %_full-container;
    @apply py-10 md:flex md:gap-6;
  }

  &__content {
    @apply flex-1 mt-4 md:mt-0;
  }

  &__header {
    @include __header;
  }
}

.admin-text-list {
  li {
    @apply relative;
    margin-top: .3em;
    margin-bottom: .3em;
    padding-left: 1.5em;
    &:before {
      content: '';
      @apply absolute bg-gray-300 rounded-full;
      width: .4em;
      height: .4em;
      left: 0.4em;
      top: 0.6em;
    }
  }
}

.admin-settings {
  &__section {
    @include __settings-section;
  }

  &__actions {
    @apply flex flex-col gap-3;
    @apply pt-8 md:mt-8 md:border-t border-gray-200 sm:flex-row-reverse sm:items-end sm:justify-between;

    .button {
      @apply w-full sm:w-auto;
    }
  }
}

.v-admin-news-create, .v-admin-news-edit, .v-admin-pages-create, .v-admin-pages-edit {
  #app_content {
    display: flex;
    flex-direction: column;

    .content-editor {
      flex: 1;
    }
  }
}