.group-index {

  &__main {
    @extend %_container;
    @apply py-0 my-16 flex items-center gap-8 flex-col md:flex-row;

    &__logo {
      @apply h-36 w-auto sm:max-w-[66%] md:max-w-[33%];
    }
    &__content {
      @apply flex-1 text-center;
    }
    &__name {
      @apply mb-4 text-primary-500 uppercase text-sm font-accent tracking-wider;

      &--lg {
        @apply text-xl;
      }
    }
    &__about {
      @apply prose lg:prose-lg max-w-none text-left;
    }

    &__logo + &__content {
      @apply md:text-left;
    }
  }

  &__logo {
    @apply py-0 my-8 mx-auto h-28 w-auto;
  }
  &__name {
    @extend %_container;
    @apply my-8 py-0;

    &:not(&--title) {
      @apply text-primary-500 uppercase text-sm font-accent tracking-wider text-center;
    }

    &--title {
      @extend %_title;
    }
  }
  &__about {
    @extend %_container;
    @apply py-0 my-8 max-w-prose;
  }

  &__news {
    @extend %_container;
    @apply py-0 my-16;

    &__title {

      &:not(&--lg) {
        @extend .title;
        @apply text-center mb-8;
      }

      &--lg {
        @extend %_title;
      }
    }
  }

  &__groups {
    @apply bg-gray-200;
    &__container {
      @extend %_container;
    }
  }
}

.group-footer {
  @apply p-8 bg-gray-300 flex flex-col md:flex-row justify-center md:items-center gap-6 md:gap-8 text-center text-gray-600;

  & > * {
    @apply flex-1;
  }

  &__address {
    @apply whitespace-pre-line;
  }

  &__times {
    h5 {
      @apply text-sm uppercase font-accent tracking-wider opacity-70;
    }

    p {
      //@apply text-sm;
    }
  }

  &__contacts {
    @apply flex flex-col gap-0.5 text-center items-center;
    &:last-child:not(:only-child) {
     @apply md:items-end;
    }
  }

  &__contact {
    @apply font-accent text-gray-600 hover:text-gray-800 transition transition-colors duration-300 underline decoration-2 decoration-gray-400 underline-offset-2;
  }

  &__social {
    @apply flex justify-center text-2xl gap-3 mt-1 md:text-xl;

    a {
      @apply text-gray-500 transition-colors duration-300 hover:text-gray-200;
    }
  }

  &--colors {
    @apply bg-primary-700 text-primary-50;
  }
  &--colors &__contact {
    @apply text-primary-50 decoration-primary-500 hover:text-white;
  }
  &--colors &__social a {
    @apply text-primary-200;
  }

  > *:first-child:not(:only-child) {
    @apply md:text-left;
  }

  > *:last-child:not(:only-child) {
    @apply md:text-right;
  }
}

.v-groups-index {
  .hero--group {
    @apply mb-16;
  }
}

.group-admin-layout {
  &__container {
    @extend %_full-container;
    @apply py-10 md:flex md:gap-6;
  }

  &__content {
    @apply flex-1 mt-4 md:mt-0;
  }

  &__header {
    @include __header;
  }
}

.group-groups {
  &__container {
    @extend  %_container;
    @apply pt-8;
  }
  &__title {
    @extend %_title;
  }
  &__header {
    @include __header;
  }
}

.group-members {
  @at-root {
    #app_content > &__container {
      @extend %_container;
    }
  }

  &__header {
    @include __header;
  }

  &__title {
    @extend %_title;
  }
}

.group-settings {
  &__header {
    @include __header;
  }

  &__section {
    @include __settings-section;
  }

  &__actions {
    @apply flex flex-col gap-3;
    @apply pt-8 md:mt-8 md:border-t border-gray-200 sm:flex-row-reverse sm:items-end sm:justify-between;

    .button {
      @apply w-full sm:w-auto;
    }
  }
}

.group-page {
  &__container {
    @extend  %_container;
    // @apply pt-8;
  }

  &__header {
    @include __header;
  }

  &__title {
    @extend %_title;
  }
}

.v-groups-news-create, .v-groups-news-edit, .v-groups-pages-create, .v-groups-pages-edit {
  #app_content {
    display: flex;
    flex-direction: column;

    .content-editor {
      flex: 1;
    }
  }
}
