.home {
  &__hero {
    @apply relative;
    &:before {
      content: '';
      @apply block absolute inset-x-0 top-0 bottom-1/3 bg-primary-500 shadow;
    }

    &__content {
      @apply relative bg-primary-700 rounded-2xl shadow-lg bg-center bg-cover min-h-[50vh] overflow-hidden mx-auto;
      width: calc(100vw - 4rem);

      &:not(:first-child) {
        @apply hidden;
      }
    }

    &__highlight {
      @apply p-8 text-white absolute inset-0 flex flex-col items-start justify-end;
      background-image: linear-gradient(to top right, rgba(black, .75), transparent);

      &__logo {
        @apply h-24 max-w-xs object-contain object-left-bottom mb-4;
      }

      &__title {
        @extend .title;
        @apply text-white mb-3 max-w-md;
      }

      &__text {
        @apply text-lg max-w-md mb-4;
      }
    }

    .sautor-flickity {
      .home__hero__content {
        @apply block mx-3;
      }

      .flickity-page-dots {
        @apply flex items-center justify-center px-10 gap-2 -bottom-4;
        .dot {
          @apply bg-gray-300 m-0 w-1.5 h-1.5 opacity-100 rounded-full transition-all duration-300;
          &.is-selected {
            @apply bg-gray-500 w-3;
          }

          &:only-child {
            @apply hidden;
          }
        }
      }
    }
  }

  &__news {
    @apply container mx-auto px-8 py-16;
  }

  &__events {
    @apply px-8 py-16 bg-gray-200 text-gray-700;

    &__day {
      @apply w-52 mr-4 max-w-[50%];

      &__title {
        @extend .title;
        @extend .title--sm;
        @apply text-gray-500 mb-4;
        small {
          @apply block text-gray-400 text-sm font-accent uppercase tracking-widest;
        }
      }

      &__empty {
        @apply text-gray-400;
      }
    }

    &__event {
      @apply mt-3 text-sm;

      &__name {
        @apply font-headline text-lg leading-none mb-2;
        small {
          @apply block text-gray-500 font-accent text-sm leading-tight;
        }
      }

      &__meta {
        @apply flex;

        &__icon {
          @apply text-gray-400 mr-1;
        }
        &__value {
          @apply flex-1;
        }
      }
    }

    .sautor-flickity {
      @apply pb-10;
      .flickity-prev-next-button {
        @apply top-auto bottom-0 w-6 h-6 rounded-none transform-none bg-transparent hover:bg-transparent;
        .flickity-button-icon {
          @apply top-0 left-0 w-full h-full fill-gray-500 hover:text-gray-700;
        }

        &.previous {
          @apply left-0;
        }
        &.next {
          @apply right-0;
        }
      }
    }
  }

  &__groups {
    @apply px-8 py-16;
  }
}
