.me-account {
  @extend %_full-container;

  &__title {
    @extend .title;
    @apply mb-12;
  }

  &__section {
    @include __settings-section;
  }
}

.me-groups {
  &__container {
    @extend %_container;
  }
  &__title {
    @extend %_title;
  }
}
