.news-show {

  &__container {
    @extend %_container;
  }

  &__header {
    @apply mb-12 text-center;

    &:after {
      @apply mx-auto mt-3 block w-20 h-1 bg-primary-500 rounded-full;
      content: '';
    }
  }

  &__title {
    @apply font-headline text-3xl sm:text-4xl md:text-5xl text-gray-700;
  }

  &__meta {
    @apply mt-3 text-xs sm:text-sm text-gray-500;

    a {
      @apply font-bold underline decoration-primary-100 decoration-2 underline-offset-1 hover:text-gray-600 hover:decoration-primary-400;
    }
  }

  &__group {
    @apply float-right ml-6 h-28;
  }

  &__content {
    @apply clear-both prose lg:prose-lg prose-img:rounded-sm mx-auto;

    & > ul > li p:only-child {
      @apply m-0;
    }
  }
}

.news-index {
  &__container {
    @extend %_container;
  }
  &__title {
    @extend %_title;
  }
}
