.page-show {
  &__container {
    @extend %_container;
  }
  &__title {
    @extend %_title;
  }
}

.page-content {
  @apply prose lg:prose-lg mx-auto prose-img:rounded-sm;

  & > ul > li p:only-child {
    margin: 0;
  }
}
