.people-show {
  &__container {
    @extend %_full-container;
    @apply pt-12
  }

  &__header {
    @apply flex flex-col md:flex-row items-center mb-8 gap-4 md:gap-6;
    &__actions {
      @apply flex items-center gap-2 flex-none;
    }
  }

  &__photo {
    @apply relative flex-none;
    img {
      @apply rounded-full h-24 w-24;
    }
    .button {
      @apply absolute -bottom-1 -right-1;
    }
  }

  &__name {
    @extend .title;
    @apply flex-1 text-center md:text-left;
  }

  &__tab {

    &__header {
      @apply flex items-center mb-4;
    }
    &__title {
      @extend .title;
      @extend .title--sm;
      @apply flex-1;
    }
    &__card {
      @apply mb-8 bg-white md:rounded-lg -mx-8 md:mx-0 shadow py-6 px-8 md:px-6;
    }

  }

  &__item {
    @apply mb-6;

    &__label {
      @apply text-sm font-accent text-gray-500 mb-1 block;
    }

    &__empty {
      @apply italic text-gray-400;
    }

    em {
      @apply italic text-gray-500 text-sm;
    }
  }
}

.people-create,
.people-edit {
  &__container {
    @extend %_full-container;
    @apply pt-12
  }

  &__actions {
    @apply flex flex-col gap-3;
    @apply pt-8 md:mt-8 md:border-t border-gray-200 sm:flex-row-reverse sm:items-end sm:justify-between;

    .button {
      @apply w-full sm:w-auto;
    }
  }
}

.people-form {
  &__section {
    @include __settings-section;
  }
}