.sautor-addon {
  &__container {
    @extend %_container;
  }

  &__full-container {
    @extend %_full-container;
  }

  &__header {
    @include __header;
  }

  &__actions {
    @apply flex flex-col gap-3;
    @apply pt-8 md:mt-8 sm:flex-row-reverse sm:items-end sm:justify-between;

    .button {
      @apply w-full sm:w-auto;
    }
  }
}
