.auth-screen {
  @apply bg-primary-500 flex items-center justify-center;

  #app-content {
    @apply w-96 flex-none;
    max-width: 90%;
  }

  &__logo {
    @apply mb-8 text-center text-white font-bold;

    .login-logo, svg {
      @apply w-auto h-auto m-auto block;
      max-width: 70%;
      max-height: 8rem;
    }

    svg, svg g {
      fill: currentColor !important;
    }
  }

  .auth-content {
    @apply bg-white text-black rounded-lg shadow py-6 px-8;

    &__logo {
      @apply pb-6 mb-6 border-b border-b-gray-200;

      img {
        @apply block mx-auto;
        max-width: 60%;
        max-height: 5rem;
      }
    }
  }

  &--group {
    @apply bg-gray-100;
  }

  &--group &__logo {
    @apply text-gray-900;
  }
}


.auth-link {
  &__images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 2rem;

    &__icon {
      @apply text-gray-600;
      margin: 0 1rem;
      font-size: 1.5rem;
    }

    &__avatar {
      @apply border-2 border-gray-500;
      padding: 3px;
      border-radius: 50%;
      position: relative;

      & img:not(&__badge) {
        border-radius: 50%;
        width: 6rem;
        height: 6rem;
      }

      &__badge {
        @apply border-2 border-white bg-gray-600 text-white;
        position: absolute;
        bottom: -4px;
        right: -4px;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;

        svg {
          width: 1.7rem;
          height: 1.7rem;
          fill: currentColor;
        }
      }

      &--main {
        @apply border-primary-500;
      }

      &--main &__badge {
        @apply bg-primary-500;
      }
    }
  }
}
