%_title {
  @extend .title;
  @extend .title--lg;
  @apply text-center mb-12;

  small {
    @apply block text-sm font-accent uppercase text-primary-500 tracking-wider mt-1 -mb-1;
  }

  &:after {
    content: '';
    @apply mx-auto mt-3 block w-20 h-1 bg-primary-500 rounded-full;
  }
}

@mixin __header {
  @apply mb-12 md:flex items-center;

  &__title {
    @extend .title;
    @apply text-gray-700 flex-1;

    &:after {
      content: '';
      @apply mt-1 block w-20 h-1 bg-primary-500 rounded-full;
    }
  }

  &__actions {
    @apply flex items-center flex-wrap gap-2 mt-3 md:mt-0;
  }
}

%_full-container {
  @apply px-8 py-16;
}

%_container {
  @extend %_full-container;
  @apply container mx-auto;
}

@mixin __settings-section {
   @apply md:grid md:grid-cols-3 md:gap-6 pt-8 md:mt-8 md:border-t border-gray-200;

   &__header {
     @apply md:col-span-1;
   }

   &__title {
     @apply text-lg font-headline text-gray-900;
   }

   &__desc {
     @apply mt-1 text-sm text-gray-600;
   }

   &__content {
     @apply mt-5 md:mt-0 md:col-span-2 bg-white md:rounded-lg -mx-8 md:mx-0 shadow;

     &--empty {
       @apply bg-transparent rounded-none shadow-none px-8 md:px-0;
     }
   }

   &__banner {
     @apply px-6 py-4;
   }

   &__body {
     @apply py-6 px-8 md:px-6;

     & > .field:last-child {
       @apply mb-0;
     }
   }

   &__footer {
     @apply bg-gray-100 py-4 px-6 flex gap-4 justify-end;
   }
 }

@mixin scrollbars(
  $foreground-color: #999,
  $background-color: #333
) {
  scrollbar-width: thin;
  scrollbar-color: $foreground-color $background-color;
}
