$social: (
        "facebook": #1877F2,
        "twitter": #1da1f2,
        "google": #4285f4,
        "microsoft": #f65314
);

@each $name, $color in $social {
  .button--#{$name}-outline {
    @apply bg-transparent;
    border-color: $color;
    color: $color;

    &:hover {
      @apply text-white;
      background-color: $color;
    }
  }
}

.auth-link__images__avatar {
  @each $name, $color in $social {
    &--#{$name} {
      border-color: $color;
    }

    &--#{$name} &__badge {
      background-color: $color;
    }
  }
}

.sautor-list__item__logo__icon {
  @each $name, $color in $social {
    &--#{$name} {
      background-color: $color;
      color: #ffffff;
    }

    &--#{$name}--invert {
      color: $color;
    }
  }
}
