@import "base";
@import "mixins";
@import "components/title";
@import "components/button";


html {
  @apply w-full h-full;
}

.error {
  @apply w-full h-full bg-gray-100 flex flex-col items-center justify-center p-6;

  &__logo {
    @apply block text-gray-700 mb-8 flex-shrink-0 font-headline text-2xl h-28 flex items-center justify-start;

    img, svg {
      @apply h-full;
    }
  }

  &__content {
    @apply text-center;
    h1 {
      @extend %_title;
      @apply text-6xl md:text-7xl mb-3;
    }
    h5 {
      @apply text-xl font-accent mb-8;
    }
  }
}