@import "base";
@import "mixins";

body {
  @apply bg-gray-100;

  @include scrollbars(theme('colors.gray.400'), theme('colors.gray.200'));
}

html, body {
  @apply h-full;
}

html, body, #app {
  @apply min-h-full;
}

#app {
  @apply flex flex-col;
}

#app_content {
  flex: 1 0 auto;
}

@import "components/button";
@import "components/header";
@import "components/footer";
@import "components/menu";
@import "components/dropdown";
@import "components/news-grid";
@import "components/forms";
@import "components/hero";
@import "components/groups-grid";
@import "components/groups-large-list";
@import "components/groups-large-grid";
@import "components/topbar";
@import "components/tabs";
@import "components/sautor-list";
@import "components/modal";
@import "components/consent-modals";
@import "components/badge";
@import "components/alert";
@import "components/side-nav";
@import "components/title";
@import "components/treeselect";
@import "components/addon-header";

@import "pages/home";
@import "pages/pages";
@import "pages/news";
@import "pages/group";
@import "pages/me";
@import "pages/people";
@import "pages/admin";

@import "auth";
@import "social";
@import "addons";
