@import "base";
@import "mixins";
@import "components/title";
@import "components/button";

html {
  @apply w-full h-full;
}

.maintenance {
  @apply w-full h-full bg-gray-100 flex flex-col items-center justify-center p-6;

  &__logo {
    @apply block text-gray-700 mb-8 flex-shrink-0 font-headline text-2xl h-28 flex items-center justify-start;

    img, svg {
      @apply h-full;
    }
  }

  &__content {
    @apply text-center;
    h1 {
      @extend %_title;
    }
    h5 {
      @apply text-lg font-accent mb-3;
    }
  }

  &__login {
    @apply absolute top-6 right-6;
  }
}