.addon-header {
  @apply relative px-3;

  $scope: &;

  &::before {
    content: '';
    @apply block absolute inset-0 bottom-1/2 bg-primary-500;
  }

  &__bar {
    @apply bg-white px-5 py-3 rounded-lg shadow flex items-center min-h-[3.75rem] relative gap-2;
  }

  &__title {
    @apply flex-1 flex items-center justify-center;

    &__title {
      @apply text-gray-900 font-headline text-xl;
    }

    &__icon {
      @apply text-primary-500 text-lg mr-4;
    }

    &:hover {
      text-decoration: none;
    }
  }

  &__nav {
    @apply flex items-center justify-center gap-4;

    a {
      @apply text-gray-600 transition-colors duration-300 decoration-transparent underline-offset-1 decoration-2;
      @apply text-sm font-accent;

      &:hover {
        @apply text-gray-800 underline decoration-primary-200;
      }

      span, svg {
        @apply text-primary-200;
      }

    }
  }

  &--with-nav {

    #{$scope}__bar {
      @apply flex-col md:flex-row;
    }

    #{$scope}__title {
      @apply justify-center sm:justify-start sm:flex-auto;
    }
  }
}
