.alert {
  @apply px-6 py-4 rounded text-sm;

  a {
    @apply font-accent underline;
  }

  &--danger {
    @apply bg-red-100 text-red-700;

    a {
      @apply text-red-800;
    }
  }

  &--info {
    @apply bg-blue-100 text-blue-700;

    a {
      @apply text-blue-800;
    }
  }

  &--success {
    @apply bg-green-100 text-green-700;

    a {
      @apply text-green-800;
    }
  }
}
