.badge {
  @apply text-xs rounded py-0.5 px-1.5 bg-gray-200 text-gray-500;

  &--info {
    @apply bg-blue-100 text-blue-600;
  }

  &--danger {
    @apply bg-red-100 text-red-600;
  }

  &--success {
    @apply bg-green-100 text-green-600;
  }
}