.button {
  @apply inline-block font-accent bg-gray-200 text-gray-600 rounded px-6 py-2 border border-transparent transition-all duration-300 select-none;
  @apply hover:bg-gray-300 hover:text-gray-700;

  $scope: &;

  &--active {
    @apply bg-gray-400 text-gray-700;
  }

  &--icon {
    @apply px-2.5;
  }

  &--primary {
    @apply bg-primary-500 text-white;
    @apply hover:bg-primary-600 hover:text-white;
  }

  &--primary#{&}--active {
    @apply bg-primary-700;
  }

  &--primary-outline {
    @apply bg-transparent border-primary-500 text-primary-500;
    @apply hover:bg-primary-500 hover:text-white;
  }

  &--danger {
    @apply bg-red-500 text-white;
    @apply hover:bg-red-600 hover:text-white;
  }

  &--danger-light {
    @apply bg-red-100 text-red-500;
    @apply hover:bg-red-200 hover:text-red-500;
  }

  &--danger-outline {
    @apply bg-transparent border-red-500 text-red-500;
    @apply hover:bg-red-500 hover:text-white;
  }

  @mixin __button-small {
    @apply text-sm px-3 py-1;

    &#{$scope}--icon {
      @apply px-1.5;
    }
  }

  &--small {
    @include __button-small;
  }

  &--responsive {
    @media (max-width: 767px) {
      @include __button-small;
    }
  }

  &--large {
    @apply text-lg py-3 px-8;

    &#{$scope}--icon {
      @apply px-3.5;
    }
  }

  &:disabled, &--disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}
