.consent-modal {
  &__item {
    @apply mb-6 last:mb-0;

    &__label {
      @apply text-sm font-accent text-gray-500 mb-1 block;
    }

    &__empty {
      @apply italic text-gray-400;
    }

    em {
      @apply italic text-gray-500 text-sm;
    }
  }
}
