.dropdown {
  @apply absolute left-0 top-12 bg-white rounded shadow-lg w-48 py-2 z-20;
  @apply transition-all duration-200 opacity-0 transform -translate-y-2;

  @apply pointer-events-none;

  &--open {
    @apply opacity-100 translate-y-0 pointer-events-auto;
  }

  &__item {
    @apply block px-4 py-2 text-gray-700;
    @apply hover:bg-gray-100 hover:text-gray-800;

    &__icon {
      @apply text-primary-500 mr-2;
    }
  }

  &__divider {
    @apply my-2 mx-4 border-t border-gray-300;

    &--with-icon {
      @apply ml-12;
    }
  }

  &__title {
    @apply my-2 mx-4 text-gray-400 uppercase text-xs font-accent;

    &--with-icon {
      @apply ml-12;
    }
  }

  &--right {
    @apply left-auto right-0;
  }

  &-container {
    position: relative;
  }
}
