.main-footer {
  @apply text-white bg-gray-800 shrink-0;

  &__content {
    @apply p-8 flex items-center flex-col md:flex-row;

    & > * {
      @apply flex-1;
    }
  }

  &__logo {
    @apply font-accent text-lg text-center md:text-left;

    img, svg {
      @apply block w-40 h-28 object-contain object-center md:object-left;
    }
    svg, svg g {
      fill: currentColor !important;
    }
  }

  &__social {
    @apply flex justify-center text-2xl gap-3 mt-6 md:mt-0;

    a {
      @apply text-gray-500 transition-colors duration-300;
      @apply hover:text-gray-200;

      &:not(:first-child) {
        @apply ml-3;
      }
    }
  }

  &__contacts {
    @apply text-sm text-center mt-6 md:mt-0 md:text-right;

    address {
      @apply mb-4 whitespace-pre-line;
    }

    a {
      @apply text-gray-300 underline decoration-2 decoration-gray-600 underline-offset-2;

      &:hover {
        @apply text-gray-100 decoration-gray-400;
      }
    }
  }

  &__bottom {
    @apply bg-gray-900 px-8 py-6 text-sm flex justify-center items-center flex-col;
    @apply md:flex-row;
  }

  &__links {
    @apply flex;

    a {
      @apply text-gray-400 hover:text-white hover:no-underline;
      &:not(:first-child):before {
        content: '/';
        @apply inline-block my-0 mx-2 text-gray-600;
      }
    }
  }

  &__links + &__copyright {
    @apply ml-0 mt-2 md:ml-auto md:mt-0;
  }
}
