.field {
  @apply mb-4 flex flex-col;
  &__help {
    @apply mt-2 text-xs text-gray-400;

    &--invalid {
      @apply text-red-500;
    }
  }
}

.label {
  @apply text-sm font-accent text-gray-700;

  &__optional {
    @apply font-normal text-gray-400 text-xs;
  }
}

.input {
  @apply w-full border border-gray-400 rounded text-gray-900;
  @apply focus:border-primary-500 focus:ring-primary-200 focus:ring-2;

  &--small {
    @apply text-sm px-3 py-1;
  }
}

.control {
  @apply mt-2 relative flex;

  & > .input, & > .button {
    @apply rounded-none;
  }

  &__addon {
    @apply inline-flex items-center px-3 bg-gray-100 text-gray-500 border border-gray-400 text-sm;
  }

  & > :first-child {
    @apply rounded-l;
  }

  & > :last-child {
    @apply rounded-r;
  }

  & > :not(:first-child) {
    @apply border-l-0;
  }
}

.field--invalid .input, .input--invalid {
  @apply border-red-500;
}

.checkbox, .radio {
  @apply flex items-start;

  &__input {
    @apply flex items-center h-5;
  }
  &__input input, &-input {
    @apply focus:ring-primary-100 focus:ring-offset-0 h-5 w-5 text-primary-500 border-gray-400;

    &[type=checkbox] {
      @apply rounded;
    }

    &[disabled] {
      @apply opacity-50;
    }
  }
  &__label {
    @apply ml-2 flex flex-col;

    label {
      @apply text-sm text-gray-700;
    }
  }

  &--small &__input {
    @apply h-4;
  }

  &--small &__label label {
    @apply leading-4;
  }

  &--small &__input input, &-input--small {
    @apply w-4 h-4;
  }

  .field__help {
    @apply mt-1;
  }
}

.checkbox {
  &__label label {
    @apply font-accent;
  }
}

.field--invalid {
  .checkbox, .radio {
    &__input input {
      @apply border-red-500;
    }
    &__label label {
      @apply text-red-700;
    }
  }
}

.file-input {
  @apply file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:text-sm file:font-accent file:bg-gray-200 file:text-gray-600 hover:file:bg-gray-300 hover:file:text-gray-700;
}
