.groups-grid {
  @apply flex justify-center items-center flex-wrap gap-8;

  $scope: &;

  &__group {
    @apply w-28 h-28 flex justify-center items-center transition-all duration-300;
    @apply hover:no-underline;

    &__logo {
      @apply w-full h-full object-contain;
    }

    &__name {
      @apply font-headline text-center text-lg leading-tight text-gray-800;
    }
  }

  &:not(&--small) {
    @apply md:gap-10 lg:gap-12;

    #{$scope}__group {
      @apply sm:w-32 sm:h-32 md:w-36 md:h-36 lg:w-40 lg:h-40;
      @apply hover:scale-105;

      &__name {
        @apply md:text-xl lg:text-2xl;
      }
    }
  }

  &--small {
    #{$scope}__group {
      @apply filter grayscale opacity-70;
      @apply hover:grayscale-0 hover:opacity-100;
    }
  }
}
