.groups-large-grid {
  @apply grid gap-6 sm:grid-cols-2;

  &__item {
    @apply relative bg-white rounded-lg shadow p-6;

    &__logo {
      @apply w-auto max-w-full h-16;

      &--parent {
        filter: grayscale(1);
        opacity: 0.7;
      }
    }

    &__icon {
      @apply w-16 h-16 rounded-lg bg-primary-50 text-primary-500 text-xl flex items-center justify-center;
    }

    &__name {
      @apply mt-6 font-headline text-xl text-gray-700;
    }

    &__about {
      @apply prose prose-sm text-gray-500 mt-3 max-w-none;
    }

    &__link {
      @apply absolute top-3 right-3 w-12 h-12 flex items-center justify-center rounded-full text-gray-400 text-xl transition-colors duration-300;
      @apply hover:bg-gray-100 hover:text-gray-500;
      @apply focus:outline-none focus:ring-2 focus:ring-gray-300;
    }
  }
}
