.groups-large-list {
  @apply max-w-5xl mx-auto;

  &__item {

    &:not(:first-child) {
      @apply flex mt-10;
    }

    &__content {
      @apply flex-1;
    }
    &__name {
      @apply font-headline text-gray-900 text-2xl md:text-3xl;
    }
    .button {
      @apply mt-4;
    }
    &__description {
      @apply prose max-w-none mt-4;
    }
    &__image {
      @apply w-1/5 ml-4 md:ml-6;
      max-width: 8rem;

      img {
        @apply w-full h-auto;
      }
    }
  }

  &__empty {
    @apply text-center text-2xl font-light text-gray-500;
  }
}
