.header {
  $scope: &;

  @apply bg-primary-500 px-8 pt-8 pb-3 relative;
  @apply md:flex md:items-end md:justify-between md:pb-8;

  &__logo {
    @apply block text-white mb-8 shrink-0 font-headline text-2xl flex items-center justify-center min-h-[4rem];
    @apply md:mb-0 md:justify-start;

    img, svg {
      @apply h-16;
    }
  }


  &__nav {

    @apply flex -mx-4 -my-2;
    @apply md:absolute md:top-4 md:right-4 md:m-0;

    &__button {
      @apply block rounded-full w-12 h-12 flex justify-center items-center text-white transition-colors duration-200;
      @apply hover:bg-primary-400;
      @apply focus:outline-none focus:ring-2 focus:ring-white;

      &--toggle {
        @apply w-auto mr-auto md:hidden px-4 uppercase text-sm font-accent;

        &:only-child {
          @apply mx-auto;
        }

        svg {
          @apply mr-2;
        }
      }
    }

    &__avatar {
      @apply rounded-full w-10 h-10;
    }
  }

  &--lg {
    @apply md:block;
  }

  &--lg &__logo {
    @apply text-center md:mb-8 justify-center text-3xl md:text-4xl;

    img, svg {
      @apply h-24 md:h-28;
    }
  }

  &--md &__logo {
    @apply justify-center;

    img, svg {
      @apply h-24;
    }
  }

  .menu {
    @apply -ml-4 -mt-2 md:ml-0 md:-mr-4 md:mt-0 md:-mb-3;
  }

  &--group {
    @apply bg-transparent; // border-t-4 border-primary-500;

    #{$scope} {
      &__logo {
        @apply text-primary-500;
      }

      &__nav__button {
        @apply text-primary-500 hover:bg-primary-100 focus:ring-primary-500;
      }
    }
  }

}
