.hero {
  @apply relative px-8;

  &:not(.hero--group):before {
    content: '';
    @apply block absolute inset-x-0 top-0 bottom-1/3 bg-primary-500 shadow;
  }

  &__image {
    height: 40vh;
    @apply relative bg-primary-700 rounded-2xl shadow-lg bg-center bg-cover;
  }
}
