.menu {
  $scope: &;

  @apply hidden md:flex;

  &.is-open {
    @apply flex flex-col md:flex-row;
  }

  &__item {
    @apply relative;
    &__link {
      @apply inline-block px-4 py-2 font-accent relative;

      &:after {
        content: '';
        @apply absolute inset-x-3 bottom-0 h-0.5 bg-primary-500 rounded-full transition-transform transform duration-300 scale-x-0;
      }

      &:hover:after {
        @apply scale-x-100;
      }
    }
  }

  .dropdown {
    @apply left-2 top-12;

    &--right {
      @apply left-auto right-2;
    }
  }

  &__item--has-dropdown.is-open {
    #{$scope}__link {
      &:after {
        @apply scale-x-100;
      }
    }
  }

  &--invert {
    #{$scope}__item__link {
      @apply text-white;
      &:after {
        @apply opacity-75 bg-white;
      }
    }
  }

  .header--lg & {
    @apply justify-center md:mx-0;
  }
}
