.modal {
  @apply fixed z-10 inset-0 overflow-hidden bg-gray-600 bg-opacity-80 flex items-center justify-center p-4 backdrop-filter backdrop-blur-sm;

  &__dialog {
    @apply relative bg-white rounded-lg overflow-y-auto overscroll-contain shadow-lg w-full max-h-[90vh] sm:max-w-lg;
    @apply transition-transform transform scale-95 ease-out;
    @include scrollbars(theme('colors.gray.300'), theme('colors.white'));
  }

  &--lg &__dialog {
    @apply sm:max-w-4xl;
  }

  &__close {
    @apply absolute top-3 right-3 w-10 h-10 flex items-center justify-center rounded-full text-gray-500 text-lg transition-colors duration-300;
    @apply hover:bg-gray-100 hover:text-gray-600;
    @apply focus:outline-none focus:ring-2 focus:ring-gray-300;
  }

  &__title {
    @apply font-headline text-gray-700 text-2xl sm:text-3xl mb-6;

    small {
      @apply text-lg sm:text-xl text-gray-500;
    }
  }

  &__body {
    @apply px-4 py-6 sm:px-6 flex-1;
  }

  &__footer {
    @apply bg-gray-50 px-4 py-3 flex flex-col gap-2 sm:px-6 sm:flex-row-reverse sm:items-center sticky bottom-0;

    .button {
      @apply w-full sm:w-auto sm:ml-3;

      &:last-child {
        @apply sm:ml-0;
      }
    }
  }

  @apply opacity-0 pointer-events-none ease-out transition-opacity duration-300;

  &.is-active {
    @apply ease-in opacity-100 pointer-events-auto;
  }

  &.is-active &__dialog {
    @apply scale-100 ease-in;
  }

  &__confirmation {
    @apply sm:flex;

    &__icon {
      @apply mx-auto shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 text-red-600;
      @apply sm:mx-0 sm:w-10 sm:h-10;
    }

    &__content {
      @apply mt-3 text-center;
      @apply sm:mt-0 sm:ml-6 sm:text-left;
    }

    &__title {
      @apply font-headline text-lg text-gray-700;
    }

    &__text {
      @apply mt-2 text-sm text-gray-500;
    }

    &__warning, &__danger {
      @apply mt-2 text-xs;
    }

    &__warning {
      @apply text-yellow-500;
    }

    &__danger {
      @apply text-red-500;
    }
  }
}

modal {
  @apply hidden;
}
