.news-grid {
  @apply grid md:grid-cols-2 lg:grid-cols-3 gap-4;

  &__item {
    @apply bg-white rounded-lg shadow flex flex-col overflow-hidden;

    &__image {

      @apply aspect-[2/1] bg-cover bg-center relative;

      &--no-thumb {
        @apply bg-gray-200 text-gray-400 text-6xl flex justify-center items-center;

        svg {
          @apply w-1/3 h-3/4 fill-current;
        }
        > img {
          @apply w-auto h-auto object-contain;
          max-width: 50%;
          max-height: 70%;
          filter: grayscale(1) opacity(0.15);
        }
      }

      &__ribbon {
        @apply absolute top-0 right-3 bg-white shadow-md rounded-b;

        img {
          @apply block w-12 h-12 mt-4 mx-1 mb-1 object-contain object-center;
        }
      }

    }

    &__body {
      @apply p-4 flex-1 flex flex-col;
    }

    &__title {
      @apply font-headline text-xl mb-3 leading-tight;
      a {
        @apply text-primary-500;
        @apply hover:text-primary-600;
      }
      small {
        @apply block text-gray-600 leading-tight text-sm mt-1;
      }
    }

    &__excerpt {
      @apply flex-1;
    }

    &__date {
      @apply text-xs text-gray-500 mt-3;
    }
  }

  &#{&}--empty {
    @apply bg-gray-200 text-gray-500 p-6 rounded-lg text-center block;
  }
}
