.sautor-list {
  @apply overflow-hidden bg-white rounded-lg shadow;

  &__item {
    @apply flex flex-row items-center py-3 px-4 text-gray-800;
    @apply md:px-6;
    @apply hover:text-gray-800 hover:no-underline;

    &:first-child {
      @apply rounded-t-lg;
    }

    &:last-child {
      @apply rounded-b-lg;
    }

    &:nth-child(odd) {
      @apply bg-gray-50;
    }

    &__status {
      @apply bg-gray-400 w-2.5 h-2.5 rounded-full mr-4;

      &--success {
        @apply bg-green-600;
      }

      &--success#{&}--glow {
        @apply ring-4 ring-green-100;
      }

      &--danger {
        @apply bg-red-500;
      }

      &--danger#{&}--glow {
        @apply ring-4 ring-red-100;
      }
    }

    &__photo {
      @apply w-10 h-10 rounded-full overflow-hidden mr-4;
      img {
        @apply w-full h-auto;
      }
    }
    &__logo {
      @apply w-10 h-10 overflow-hidden mr-4 flex items-center justify-center;
      img {
        @apply w-full h-full object-contain object-center;
      }
      img.cover {
        @apply object-cover rounded;
      }
      &__icon {
        @apply bg-gray-100 text-gray-400 w-full h-full rounded-full flex items-center justify-center;

        &--strong {
          @apply text-primary-500;
        }

        &--inverse {
          @apply bg-primary-600 text-white;
        }
      }
    }
    &__data {
      @apply text-gray-800 flex-1 leading-tight bg-transparent border-0 p-0 m-0 text-left;
      @apply hover:text-gray-800 hover:no-underline;
      &:focus {
        outline: none;
      }
    }

    &__name {
      @apply mb-0 font-accent text-sm md:text-base;
    }
    &__meta {
      @apply text-gray-400 text-xs md:text-sm mb-0 mt-0.5;
    }

    &__actions {
      @apply flex -mr-2;
      a, button {
        @apply w-10 h-10 flex items-center justify-center rounded-full text-gray-400 transition-colors duration-300;
        @apply hover:bg-gray-100 hover:text-gray-600;
        @apply focus:outline-none focus:ring-2 focus:ring-gray-300;
      }
    }

  }

  &--empty {
    @apply bg-gray-200 text-gray-500 p-6 rounded-lg text-center;
  }

  &--full {
    @apply rounded-none md:rounded-lg -mx-8 md:mx-0 shadow;
  }

  &--full &__item {
    @apply px-6;
  }
}
