.side-nav {
  @apply flex gap-0.5 flex-wrap justify-center;
  @apply md:w-1/3 md:flex-col lg:w-1/4 xl:w-1/5 md:justify-start md:gap-1;

  &__topic {
    @apply text-xs text-primary-400 tracking-widest uppercase px-2 font-accent w-full text-center;
    @apply md:text-left;
  }

  &__title {
    @apply text-sm text-gray-400 tracking-widest uppercase px-2 my-2 font-accent w-full text-center;
    @apply first:mt-0 md:my-4 md:text-left;
  }

  &__topic + &__title {
    @apply mt-0;
  }

  &__item {
    $scope: &;
    @apply rounded p-3 md:p-2 flex items-center justify-start text-gray-600 text-sm font-accent;
    @apply transition-colors duration-300;
    @apply justify-center md:justify-start;

    &__icon {
      @apply text-xl text-gray-400;
      @apply transition-colors duration-300;
      @apply md:mr-3;
    }

    &__label {
      @apply hidden md:inline;
    }

    &:hover {
      @apply bg-gray-200 text-gray-700;

      #{$scope}__icon {
        @apply text-gray-500;
      }
    }

    &--active, &--active:hover {
      @apply bg-gray-200 text-gray-800;

      #{$scope}__icon {
        @apply text-gray-500;
      }
    }
  }
}