.tabs {
  $scope: &;

  &__container {
    @apply grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  &__content {
    grid-column: 1;
    grid-row: 1;
  }

  &--side {
    @apply flex flex-col gap-8;
    @apply md:flex-row;

    #{$scope}__container {
      @apply flex-1;
    }
  }
}

.tab {
  &-enter-active, &-leave-active {
    @apply transition-all duration-500
  }
  &-enter, &-leave-to {
    @apply opacity-0;
  }

  &-enter {
    @apply transform translate-x-8;
  }
  &-leave-to {
    @apply transform -translate-x-8;
  }
}
