.title {
  @apply font-headline text-gray-700 text-3xl md:text-4xl;

  small {
    @apply text-gray-500 block sm:inline text-lg md:text-xl;
  }

  &--lg {
    @apply text-4xl md:text-5xl;

    small {
      @apply text-xl md:text-2xl;
    }
  }

  &--md {
    @apply text-3xl md:text-4xl;
  }

  &--sm {
    @apply text-xl md:text-2xl;

    small {
      @apply text-base md:text-lg;
    }
  }

  &--xs {
    @apply text-lg md:text-xl;

    small {
      @apply text-sm md:text-base;
    }
  }
}
