.topbar {
  @apply text-white py-3 px-4 flex-shrink-0 flex items-center justify-between bg-primary-500;

  &__brand {
    @apply block flex-shrink-0;

    img, svg {
      @apply w-auto h-4 block;
      max-width: 40vw;
    }
  }

  &__group {
    @apply text-primary-50  text-xs font-accent uppercase tracking-wider mr-auto ml-2 pl-2 border-l border-primary-300;
  }

  &__user {
    @apply h-4 flex;

    &__profile {
      @apply block;
    }

    &__avatar {
      @apply block rounded-full h-6 -my-1;
      @apply hover:ring-2 hover:ring-primary-400 hover:ring-offset-0;
    }

    &__login {
      @apply text-white text-xs opacity-75 inline-flex;
      @apply hover:text-white hover:opacity-100;
    }
  }
}
