/**
 * Variables
 */

$treeselect-font-size: theme('fontSize.base');
$treeselect-font-size-sm: theme('fontSize.sm');
$treeselect-padding-y: theme('spacing.2');
$treeselect-padding-x: theme('spacing.3');
$treeselect-border-radius-lg: theme('borderRadius.DEFAULT');
$treeselect-border-radius-sm: theme('borderRadius.sm');
$treeselect-narrow-cell-width: 20px;
$treeselect-wide-cell-width: 100%;
$treeselect-icon-size: 12px;
$treeselect-transition-duration: 200ms;
$treeselect-transition-duration-slow: 400ms;
$treeselect-max-level: 8;

$treeselect-control-border-width: theme('borderWidth.DEFAULT');
$treeselect-control-border-color: theme('colors.gray.400');
$treeselect-control-border-color-hover: $treeselect-control-border-color;
$treeselect-control-border-color-active: $treeselect-control-border-color-hover;
$treeselect-control-border-color-focus: theme('colors.primary.500');
$treeselect-control-border-radius: $treeselect-border-radius-lg;
$treeselect-control-bg: theme('colors.white');
$treeselect-control-box-shadow-focus: none; //TODO: Fix
$treeselect-control-bg-disabled: theme('colors.gray.200');

$treeselect-control-height: theme('spacing.10');
$treeselect-control-inner-height: calc(#{$treeselect-control-height} - #{$treeselect-control-border-width} * 2);

$treeselect-placeholder-font-color: theme('colors.gray.500');
$treeselect-single-value-font-color: theme('colors.gray.900');
$treeselect-single-value-font-color-focused: $treeselect-single-value-font-color;
$treeselect-multi-value-margin-x: 0;
$treeselect-multi-value-margin-y: 2px;
$treeselect-multi-value-padding-x: theme('spacing[1.5]');
$treeselect-multi-value-padding-y: theme('spacing[0.5]');
$treeselect-multi-value-font-size: $treeselect-font-size-sm;
$treeselect-multi-value-font-color: theme('colors.gray.500');
$treeselect-multi-value-item-bg: theme('colors.gray.200');
$treeselect-multi-value-item-bg-new: $treeselect-multi-value-item-bg;
$treeselect-multi-value-item-border-width: 1px;
$treeselect-multi-value-item-border-color: transparent;
$treeselect-multi-value-font-color-hover: $treeselect-multi-value-font-color;
$treeselect-multi-value-item-bg-hover: $treeselect-multi-value-item-bg;
$treeselect-multi-value-item-bg-new-hover: $treeselect-multi-value-item-bg-new;
$treeselect-multi-value-font-color-disabled: theme('colors.gray.600');
$treeselect-multi-value-item-bg-disabled: theme('colors.gray.100');
$treeselect-multi-value-item-font-color-control-disabled: #555;
$treeselect-multi-value-item-bg-control-disabled: #fff;
$treeselect-multi-value-item-border-color-control-disabled: #e5e5e5;
$treeselect-multi-value-remove-color: $treeselect-multi-value-font-color;
$treeselect-multi-value-remove-color-hover: theme('colors.red.500');
$treeselect-multi-value-remove-size: 6px;
$treeselect-multi-value-divider-color: #fff;
$treeselect-limit-tip-font-color: theme('colors.gray.600');
$treeselect-limit-tip-font-size: $treeselect-multi-value-font-size;
$treeselect-limit-tip-font-weight: 600;
$treeselect-single-input-font-size: theme('fontSize.base');
$treeselect-multi-input-font-size: $treeselect-multi-value-font-size;

$treeselect-menu-bg: theme('colors.white');
$treeselect-menu-padding-y: $treeselect-padding-y;
$treeselect-menu-line-height: 180%;
$treeselect-menu-box-shadow: theme('boxShadow.DEFAULT');
$treeselect-control-menu-divider-color: #f2f2f2;

$treeselect-arrow-size: 9px;
$treeselect-arrow-color: theme('colors.gray.500');
$treeselect-arrow-color-hover: theme('colors.gray.500');
$treeselect-arrow-transition-timing-function: ease-out;

$treeselect-x-size: 8px;
$treeselect-x-color: $treeselect-arrow-color;
$treeselect-x-color-hover: theme('colors.red.500');

$treeselect-option-bg-highlight: theme('colors.gray.100');
$treeselect-option-selected-color: theme('colors.primary.500');
$treeselect-option-selected-bg: theme('colors.primary.100');
$treeselect-option-selected-bg-hover: $treeselect-option-selected-bg;
$treeselect-checkbox-size: $treeselect-icon-size;
$treeselect-checkbox-border-radius: $treeselect-border-radius-sm;
$treeselect-checkbox-color: theme('colors.gray.300');
$treeselect-checkbox-color-highlight: theme('colors.primary.500');
$treeselect-checkbox-border-color: $treeselect-checkbox-color;
$treeselect-checkbox-bg: theme('colors.white');
$treeselect-checkbox-border-color-hover: $treeselect-checkbox-color-highlight;
$treeselect-checkbox-bg-hover: $treeselect-checkbox-bg;
$treeselect-checkbox-indeterminate-border-color: $treeselect-checkbox-color-highlight;
$treeselect-checkbox-indeterminate-bg: $treeselect-checkbox-color-highlight;
$treeselect-checkbox-indeterminate-icon: "../../node-modules/@riophae/vue-treeselect/src/assets/checkbox-indeterminate.png";
$treeselect-checkbox-indeterminate-border-color-hover: $treeselect-checkbox-color-highlight;
$treeselect-checkbox-indeterminate-bg-hover: $treeselect-checkbox-color-highlight;
$treeselect-checkbox-checked-border-color: $treeselect-checkbox-color-highlight;
$treeselect-checkbox-checked-bg: $treeselect-checkbox-color-highlight;
$treeselect-checkbox-checked-icon: "../../node-modules/@riophae/vue-treeselect/src/assets/checkbox-checked.png";
$treeselect-checkbox-checked-border-color-hover: $treeselect-checkbox-color-highlight;
$treeselect-checkbox-checked-bg-hover: $treeselect-checkbox-color-highlight;
$treeselect-checkbox-disabled-border-color: $treeselect-checkbox-border-color;
$treeselect-checkbox-disabled-bg-color: theme('colors.gray.200');
$treeselect-checkbox-disabled-indeterminate-icon: "../../node-modules/@riophae/vue-treeselect/src/assets/checkbox-indeterminate-disabled.png";
$treeselect-checkbox-disabled-checked-icon: "../../node-modules/@riophae/vue-treeselect/src/assets/checkbox-checked-disabled.png";
$treeselect-option-label-color: inherit;
$treeselect-option-label-color-disabled: rgba(0, 0, 0, 0.25);

$treeselect-loader-color-dark: theme('colors.primary.500');
$treeselect-loader-color-light: #B3E5FC; // TODO: Fix
$treeselect-loader-animation-duration: 1.6s;
$treeselect-warning-icon-bg: theme('colors.yellow.500');
$treeselect-error-icon-bg: theme('colors.red.500');
$treeselect-tip-color: theme('colors.gray.500');
$treeselect-tip-font-size: $treeselect-font-size-sm;
$treeselect-retry-text-color: theme('colors.primary.500');


/**
 * Mixins
 */

@mixin clickable(){
  cursor: pointer;
}

@mixin inputtable(){
  cursor: text;
}

@mixin forbidden(){
  cursor: not-allowed;
}

@mixin reset-cursor(){
  cursor: default;
}

@mixin rounded(){
  border-radius: 50%;
}

@mixin border-radius-top($size){
  border-top-left-radius: $size;
  border-top-right-radius: $size;
}

@mixin border-radius-bottom($size){
  border-bottom-left-radius: $size;
  border-bottom-right-radius: $size;
}

@mixin text-truncate(){
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin horizontal-padding($value){
  padding-left: $value;
  padding-right: $value;
}

@mixin vertical-padding($value){
  padding-top: $value;
  padding-bottom: $value;
}

@mixin icon(){
  display: block;
  margin: auto;
}

@mixin row(){
  @include horizontal-padding($treeselect-padding-x);

  display: table;
  table-layout: fixed;
  width: 100%;
}

@mixin cell(){
  display: table-cell;
  vertical-align: middle;
}

@mixin wide-cell(){
  @include cell();
  @include horizontal-padding($treeselect-padding-x);
  @include text-truncate();

  width: $treeselect-wide-cell-width;
}

@mixin narrow-cell(){
  @include cell();

  width: $treeselect-narrow-cell-width;
  text-align: center;
  line-height: 0;
}

// based on: https://github.com/strues/retinajs/blob/master/dist/retina.less
@mixin retina($path, $cap: 2, $size: auto auto, $extras: null) {

  /*
   * Set a counter and get the length of the image path.
   */
  $position: -1;
  $strpath: '#{$path}';
  $length: str-length($strpath);

  /*
   * Loop ver the image path and figure out the
   * position of the dot where the extension begins.
   */
  @for $i from $length through $length - 10{
    @if $position == -1 {
      $char : str-slice($strpath, $i, $i);
      @if str-index($char, ".") == 1 {
        $position: $i;
      }
    }
  }

  /*
   * If we were able to figure out where the extension is,
   * slice the path into a base and an extension. Use that to
   * calculate urls for different density environments. Set
   * values for different environments.
   */
  @if $position != -1 {
    $ext: str-slice($strpath, $position + 1, $length);
    $base: str-slice($strpath, 1, $position - 1);
    $at1x_path: "#{$base}.#{$ext}";
    $at2x_path: "#{$base}@2x.#{$ext}";

    /*
     * Set a base background for 1x environments.
     */
    background: url("#{$at1x_path}") $extras;
    background-size: $size;

    /*
     * Create an @2x-ish media query.
     */
    @media all and (-webkit-min-device-pixel-ratio : 1.5),
    all and (-o-min-device-pixel-ratio: 3/2),
    all and (min--moz-device-pixel-ratio: 1.5),
    all and (min-device-pixel-ratio: 1.5) {
      background      : url("#{$at2x_path}") $extras;
      background-size : $size;
    }

    /*
     * Create media queries for all environments that the user has
     * provided images for.
     */
    @if $cap >= 2 {
      @for $env from 2 through $cap {
        $suffix: "@#{$env}x";
        @media (-webkit-min-device-pixel-ratio: $env),
        (min-resolution: $env * 96dpi) {
          background      : url("#{$base}#{$suffix}.#{$ext}") $extras;
          background-size : $size;
        }
      }
    }

    /*
     * If anything went wrong trying to separate the file from its
     * extension, set a background value without doing anything to it.
     */
  } @else {
    background: url("#{$path}") $extras;
    background-size: $size;
  }

}

/**
 * Helpers
 */

.vue-treeselect-helper-hide {
  display: none;
}

.vue-treeselect-helper-zoom-effect-off {
  transform: none !important; // stylelint-disable-line declaration-no-important
}


/**
 * Animations
 */

@keyframes vue-treeselect-animation-fade-in {
  0% {
    opacity: 0;
  }
}

@keyframes vue-treeselect-animation-bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}

@keyframes vue-treeselect-animation-rotate {
  100% {
    transform: rotate(360deg);
  }
}


/**
 * Transitions
 */

.vue-treeselect__multi-value-item--transition {
  &-enter-active,
  &-leave-active {
    transition-duration: $treeselect-transition-duration;
    transition-property: transform, opacity;
  }

  &-enter-active {
    transition-timing-function: ease-out;
  }

  &-leave-active {
    transition-timing-function: ease-out;
    // trigger animation when element is removed
    position: absolute;
  }

  &-enter,
  &-leave-to {
    transform: scale(0.7);
    opacity: 0;
  }

  &-move {
    transition: $treeselect-transition-duration transform ease-out;
  }
}

.vue-treeselect__menu--transition {
  &-enter-active,
  &-leave-active {
    // to be overriden
  }

  &-enter,
  &-leave-to {
    // to be overriden
  }
}

.vue-treeselect__list--transition {
  &-enter-active,
  &-leave-active {
    // to be overriden
  }

  &-enter,
  &-leave-to {
    // to be overriden
  }
}


/**
 * Namespace
 */

.vue-treeselect {
  position: relative;
  text-align: left;

  [dir="rtl"] & {
    text-align: right;
  }

  div,
  span {
    box-sizing: border-box;
  }

  svg {
    fill: currentColor;
  }
}


/**
 * Control
 */

.vue-treeselect__control {
  @apply flex items-center px-3;

  min-height: $treeselect-control-height;
  border: $treeselect-control-border-width solid $treeselect-control-border-color;
  border-radius: $treeselect-control-border-radius;
  background: $treeselect-control-bg;
  transition-duration: $treeselect-transition-duration;
  transition-property: border-color, box-shadow, width, height, background-color, opacity;
  transition-timing-function: ease-out;

  .vue-treeselect:not(.vue-treeselect--disabled):not(.vue-treeselect--focused) &:hover {
    border-color: $treeselect-control-border-color-hover;
  }

  .vue-treeselect--focused:not(.vue-treeselect--open) & {
    border-color: $treeselect-control-border-color-focus;
    box-shadow: $treeselect-control-box-shadow-focus;
  }

  .vue-treeselect--disabled & {
    background-color: $treeselect-control-bg-disabled;
  }

  .vue-treeselect--open & {
    @apply border-primary-500 ring-primary-200 ring-2;
  }
}

.vue-treeselect__value-container,
.vue-treeselect__multi-value {
  width: 100%;
  vertical-align: middle;
}

.vue-treeselect__value-container {
  @apply self-stretch;
  position: relative;

  .vue-treeselect--searchable:not(.vue-treeselect--disabled) & {
    // The real input is small and not covering the whole control.
    // We show an I-shape cursor to give user a hint that
    // clicking anywhere in the control will make the input focused.
    @include inputtable();
  }
}

.vue-treeselect__multi-value {
  display: inline-block;

  .vue-treeselect--has-value & {
    margin-bottom: $treeselect-padding-y;
  }
}

.vue-treeselect__placeholder,
.vue-treeselect__single-value {
  @include text-truncate();
  // @include horizontal-padding($treeselect-padding-x);

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: $treeselect-control-inner-height;
  user-select: none;
  pointer-events: none;
}

.vue-treeselect__placeholder {
  color: $treeselect-placeholder-font-color;
}

.vue-treeselect__single-value {
  color: $treeselect-single-value-font-color;

  .vue-treeselect--focused.vue-treeselect--searchable & {
    color: $treeselect-single-value-font-color-focused;
  }

  .vue-treeselect--disabled & {
    // #274 Fix for IE
    position: static;
  }
}

.vue-treeselect__multi-value-item-container {
  display: inline-block;
  padding-top: $treeselect-padding-y;
  padding-right: $treeselect-padding-x;
  vertical-align: top;

  [dir="rtl"] & {
    padding-right: 0;
    padding-left: $treeselect-padding-x;
  }
}

.vue-treeselect__multi-value-item {
  @include clickable();

  display: inline-table;
  background: $treeselect-multi-value-item-bg;
  // Table elements do not have margin, so we set at the container element.
  padding: $treeselect-multi-value-margin-y $treeselect-multi-value-margin-x;
  border: $treeselect-multi-value-item-border-width solid $treeselect-multi-value-item-border-color;
  border-radius: $treeselect-border-radius-sm;
  color: $treeselect-multi-value-font-color;
  font-size: $treeselect-multi-value-font-size;
  line-height: 1;
  vertical-align: top; // stylelint-disable-line plugin/declaration-block-no-ignored-properties

  .vue-treeselect:not(.vue-treeselect--disabled) &:not(.vue-treeselect__multi-value-item-disabled):hover &:not(.vue-treeselect__multi-value-item-new) &:not(.vue-treeselect__multi-value-item-new):hover {
    @include clickable();

    background: $treeselect-multi-value-item-bg-hover;
    color: $treeselect-multi-value-font-color-hover;
  }

  &.vue-treeselect__multi-value-item-disabled {
    @include reset-cursor();

    background: $treeselect-multi-value-item-bg-disabled;
    color: $treeselect-multi-value-font-color-disabled;
  }

  .vue-treeselect--disabled & {
    @include reset-cursor();

    background: $treeselect-multi-value-item-bg-control-disabled;
    border-color: $treeselect-multi-value-item-border-color-control-disabled;
    color: $treeselect-multi-value-item-font-color-control-disabled;
  }

  &.vue-treeselect__multi-value-item-new {
    background: $treeselect-multi-value-item-bg-new;
    &:hover {
      background: $treeselect-multi-value-item-bg-new;
    }
  }
}

.vue-treeselect__value-remove,
.vue-treeselect__multi-value-label {
  display: table-cell;
  padding: $treeselect-multi-value-padding-y $treeselect-multi-value-padding-x;
  vertical-align: middle;
}

.vue-treeselect__value-remove {
  color: $treeselect-multi-value-remove-color;
  padding-left: $treeselect-multi-value-padding-x;
  border-left: 1px solid $treeselect-multi-value-divider-color;
  line-height: 0;

  [dir="rtl"] & {
    border-left: 0 none;
    border-right: 1px solid $treeselect-multi-value-divider-color;
  }

  .vue-treeselect__multi-value-item:hover & {
    color: $treeselect-multi-value-remove-color-hover;
  }

  .vue-treeselect--disabled &,
  .vue-treeselect__multi-value-item-disabled & {
    display: none;
  }

  > svg {
    width: $treeselect-multi-value-remove-size;
    height: $treeselect-multi-value-remove-size;
  }
}

.vue-treeselect__multi-value-label {
  padding-right: $treeselect-multi-value-padding-x;
  white-space: pre-line;
  user-select: none;
}

.vue-treeselect__limit-tip {
  display: inline-block;
  padding-top: $treeselect-padding-y;
  padding-right: $treeselect-padding-x;
  vertical-align: top;

  [dir="rtl"] & {
    padding-right: 0;
    padding-left: $treeselect-padding-x;
  }
}

.vue-treeselect__limit-tip-text {
  @include reset-cursor();

  display: block;
  margin: $treeselect-multi-value-margin-y $treeselect-multi-value-margin-x;
  padding: calc(#{$treeselect-multi-value-padding-y} + #{$treeselect-multi-value-item-border-width}) 0;
  color: $treeselect-limit-tip-font-color;
  font-size: $treeselect-limit-tip-font-size;
  font-weight: $treeselect-limit-tip-font-weight;
}

.vue-treeselect__input-container {
  display: block;
  max-width: 100%;
  outline: none;

  .vue-treeselect--single & {
    font-size: $treeselect-single-input-font-size;
    height: 100%;
  }

  .vue-treeselect--multi & {
    display: inline-block;
    font-size: $treeselect-multi-input-font-size;
    vertical-align: top;
  }

  .vue-treeselect--searchable & {
    // @include horizontal-padding($treeselect-padding-x);
  }

  .vue-treeselect--searchable.vue-treeselect--multi.vue-treeselect--has-value & {
    padding-top: $treeselect-padding-y;
    padding-left: 0;

    [dir="rtl"] & {
      padding-left: $treeselect-padding-x;
      padding-right: 0;
    }
  }

  .vue-treeselect--disabled & {
    display: none;
  }
}

.vue-treeselect__input,
.vue-treeselect__sizer {
  margin: 0;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
}

.vue-treeselect__input {
  @apply focus:ring-0;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: content-box;
  box-shadow: none;
  background: none transparent;
  line-height: 1;
  vertical-align: middle;

  &::-ms-clear {
    display: none;
  }

  .vue-treeselect--single & {
    width: 100%;
    height: 100%;
  }

  .vue-treeselect--multi & {
    @include vertical-padding($treeselect-multi-value-margin-y + $treeselect-multi-value-item-border-width);
  }

  .vue-treeselect--has-value & {
    line-height: inherit;
    vertical-align: top;
  }
}

.vue-treeselect__sizer {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0;
  overflow: scroll;
  white-space: pre;
}

.vue-treeselect__x-container {
  @include narrow-cell();
  @include clickable();

  color: $treeselect-x-color;
  animation: $treeselect-transition-duration vue-treeselect-animation-fade-in ease-out;

  &:hover {
    color: $treeselect-x-color-hover;
  }
}

.vue-treeselect__x {
  width: $treeselect-x-size;
  height: $treeselect-x-size;
}

.vue-treeselect__control-arrow-container {
  @apply w-6 h-6;
  @include clickable();

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  svg {
    display: none;
  }

  .vue-treeselect--disabled & {
    @include reset-cursor();
  }
}

.vue-treeselect__control-arrow {
  width: $treeselect-arrow-size;
  height: $treeselect-arrow-size;
  color: $treeselect-arrow-color;

  .vue-treeselect:not(.vue-treeselect--disabled) .vue-treeselect__control-arrow-container:hover & {
    color: $treeselect-arrow-color-hover;
  }

  .vue-treeselect--disabled & {
    opacity: 0.35;
  }
}

.vue-treeselect__control-arrow--rotated {
  transform: rotateZ(180deg);
}


/**
 * Menu
 */

.vue-treeselect__menu-container {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: visible;
  transition: 0s;

  .vue-treeselect--open-below:not(.vue-treeselect--append-to-body) & {
    top: 100%;
  }

  .vue-treeselect--open-above:not(.vue-treeselect--append-to-body) & {
    bottom: 100%;
  }
}

.vue-treeselect__menu {
  @include reset-cursor(); // set to normal cursor since text is unselectable

  @apply bg-white rounded shadow-lg py-2;

  display: block;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  // IE9 does not properly handle `width: 100%` with scrollbar when `box-sizing: border-box`
  width: auto;
  line-height: $treeselect-menu-line-height;
  // https://css-tricks.com/snippets/css/momentum-scrolling-on-ios-overflow-elements/
  -webkit-overflow-scrolling: touch;

  .vue-treeselect--open-below & {
    @apply top-1;
  }

  .vue-treeselect--open-above & {
    @apply bottom-1;
  }
}

@mixin generate-level-indentations($i){
  @if $i >= 0 {
    @include generate-level-indentations(($i - 1));

    .vue-treeselect__indent-level-#{$i} {
      .vue-treeselect__option {
        padding-left: calc(theme('spacing.1') + #{$i * $treeselect-narrow-cell-width});

        [dir="rtl"] & {
          padding-left: $treeselect-padding-x;
          padding-right: calc(theme('spacing.1') + #{$i * $treeselect-narrow-cell-width});
        }
      }

      .vue-treeselect__tip {
        padding-left: calc(#{$treeselect-padding-x} + #{($i + 1) * $treeselect-narrow-cell-width});

        [dir="rtl"] & {
          padding-left: $treeselect-padding-x;
          padding-right: calc(#{$treeselect-padding-x} + #{($i + 1) * $treeselect-narrow-cell-width});
        }
      }
    }
  }
}
@include generate-level-indentations($treeselect-max-level);

.vue-treeselect__option {
  // @include row();
  @apply flex items-center px-4 py-2 text-gray-700;
}

.vue-treeselect__option--highlight {
  @apply bg-gray-100 text-gray-800;
}

.vue-treeselect__option--selected {
  // note that these should override `.vue-treeselect__option--highlight`
  .vue-treeselect--single & {
    @apply bg-primary-100 text-primary-600 font-accent;

    &:hover {
      @apply bg-primary-100 text-primary-600 font-accent;
    }
  }
}

.vue-treeselect__option--hide {
  display: none;
}

.vue-treeselect__option-arrow-container,
.vue-treeselect__option-arrow-placeholder {
  @include narrow-cell();
}

.vue-treeselect__option-arrow-container {
  @include clickable();
}

.vue-treeselect__option-arrow {
  display: inline-block;
  width: $treeselect-arrow-size;
  height: $treeselect-arrow-size;
  color: $treeselect-arrow-color;
  vertical-align: middle;
  transition: $treeselect-transition-duration transform $treeselect-arrow-transition-timing-function;
  transform: rotateZ(-90deg);

  [dir="rtl"] & {
    transform: rotateZ(90deg);
  }

  .vue-treeselect__option-arrow-container:hover &,
  .vue-treeselect--branch-nodes-disabled .vue-treeselect__option:hover & {
    color: $treeselect-arrow-color-hover;
  }
}

.vue-treeselect__option-arrow--rotated {
  transform: rotateZ(0);

  [dir="rtl"] & {
    transform: rotateZ(0);
  }

  &.vue-treeselect__option-arrow--prepare-enter {
    transform: rotateZ(-90deg) !important; // stylelint-disable-line declaration-no-important

    [dir="rtl"] & {
      transform: rotateZ(90deg) !important; // stylelint-disable-line declaration-no-important
    }
  }
}

.vue-treeselect__label-container {
  @include cell();
  @include clickable();

  display: table;
  width: 100%;
  table-layout: fixed;
  color: $treeselect-option-label-color;

  .vue-treeselect__option--disabled & {
    @include forbidden();

    color: $treeselect-option-label-color-disabled;
  }
}

.vue-treeselect__checkbox-container {
  display: table-cell;
  width: $treeselect-narrow-cell-width;
  min-width: $treeselect-narrow-cell-width;
  height: 100%;
  text-align: center;
  vertical-align: middle;
}

.vue-treeselect__checkbox {
  display: block;
  margin: auto;
  width: $treeselect-checkbox-size;
  height: $treeselect-checkbox-size;
  border-width: 1px;
  border-style: solid;
  border-radius: $treeselect-border-radius-sm;
  position: relative;
  transition: $treeselect-transition-duration all ease-out;
}

.vue-treeselect__check-mark,
.vue-treeselect__minus-mark {
  display: block;
  position: absolute;
  left: 1px;
  top: 1px;
  background-repeat: no-repeat;
  opacity: 0;
  transition: $treeselect-transition-duration all ease;
}

.vue-treeselect__minus-mark {
  width: 8px;
  height: 8px;
  // Svg icons are rendered differently in different browsers thus unacceptable.
  // Png provides the best consistency with a drawback that
  // its color can't be controlled by CSS.
  background-size: 8px 8px;

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAgMAAAC5YVYYAAAACVBMVEUAAAD///////9zeKVjAAAAAnRSTlMAuLMp9oYAAAAPSURBVAjXY4CDrJUgBAMAGaECJ9dz3BAAAAAASUVORK5CYII=);
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAAD///////////84wDuoAAAAA3RSTlMAyTzPIdReAAAAGUlEQVQI12PAD+b///+Nof7//79gAsLFCwAx/w4blADeeQAAAABJRU5ErkJggg==);
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAAD///////////84wDuoAAAAA3RSTlMAyTzPIdReAAAAGUlEQVQI12PAD+b///+Nof7//79gAsLFCwAx/w4blADeeQAAAABJRU5ErkJggg==);
  }
  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAD1BMVEUAAAD///////////////+PQt5oAAAABHRSTlMAy2EFIuWxUgAAACRJREFUGNNjGBBgJOICBY7KDCoucODEAJSAS6FwUJShGjAQAADBPRGrK2/FhgAAAABJRU5ErkJggg==);
  }

  .vue-treeselect__checkbox--indeterminate > & {
    opacity: 1;
  }

  .vue-treeselect__checkbox--disabled & {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAgMAAAC5YVYYAAAACVBMVEUAAADi4uLh4eHOxeSRAAAAAnRSTlMAuLMp9oYAAAAPSURBVAjXY4CDrJUgBAMAGaECJ9dz3BAAAAAASUVORK5CYII=);

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAADi4uLi4uLh4eE5RQaIAAAAA3RSTlMAyTzPIdReAAAAGUlEQVQI12PAD+b///+Nof7//79gAsLFCwAx/w4blADeeQAAAABJRU5ErkJggg==);
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAADi4uLi4uLh4eE5RQaIAAAAA3RSTlMAyTzPIdReAAAAGUlEQVQI12PAD+b///+Nof7//79gAsLFCwAx/w4blADeeQAAAABJRU5ErkJggg==);
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAD1BMVEUAAADh4eHg4ODNzc3h4eEYfw2wAAAABHRSTlMAy2EFIuWxUgAAACRJREFUGNNjGBBgJOICBY7KDCoucODEAJSAS6FwUJShGjAQAADBPRGrK2/FhgAAAABJRU5ErkJggg==);
    }
  }
}

.vue-treeselect__check-mark {
  width: 8px;
  height: 8px;
  background-size: 8px 8px;
  // Set initial height to 1px.
  transform: scaleY(1 / unit(8px));

  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAQlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////8IX9KGAAAAFXRSTlMA8u24NxILB+Tawb6jiH1zRz0xIQIIP3GUAAAAMklEQVQI1y3FtQEAMQDDQD+EGbz/qkEVOpyEOP6PudKjZNSXn4Jm2CKRdBKzSLsFWl8fMG0Bl6Jk1rMAAAAASUVORK5CYII=);
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAYFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////98JRy6AAAAH3RSTlMAzu4sDenl38fBvo1OMyIdEQrj1cSihX5hYFpHNycIcQOASAAAAF9JREFUGNN9zEcOgDAMRFHTS0LvNfe/JRmHKAIJ/mqeLJn+k9uDtaeUeFnFziGsBucUTirrprfe81RqZ3Bb6hPWeuZwDFOHyf+ig9CCzQ7INBn7bG5kF+QSt13BHNJnF7AaCT4Y+CW7AAAAAElFTkSuQmCC);
  }
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAYFBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////98JRy6AAAAH3RSTlMAzu4sDenl38fBvo1OMyIdEQrj1cSihX5hYFpHNycIcQOASAAAAF9JREFUGNN9zEcOgDAMRFHTS0LvNfe/JRmHKAIJ/mqeLJn+k9uDtaeUeFnFziGsBucUTirrprfe81RqZ3Bb6hPWeuZwDFOHyf+ig9CCzQ7INBn7bG5kF+QSt13BHNJnF7AaCT4Y+CW7AAAAAElFTkSuQmCC);
  }
  @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAWlBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////9ZMre9AAAAHXRSTlMA/PiJhGNI9XlEHJB/b2ldV08+Oibk49vPp6QhAYgGBuwAAACCSURBVCjPrdHdDoIwDAXgTWAqCigo/+f9X5OwnoUwtis4V92XNWladUl+rzQPeQJAN2EHxoOnsPn7/oYk8fxBv08Rr/deOH/aZ2Nm8ZJ+s573QGfWKnNuZGzWm3+lv2V3pcU1XQ385/yjmBoM3Z+dXvlbYLLD3ujhTaOM3KaIXvNkFkuSEvYy1LqOAAAAAElFTkSuQmCC);
  }

  .vue-treeselect__checkbox--checked > & {
    opacity: 1;
    transform: scaleY(1);
  }

  .vue-treeselect__checkbox--disabled & {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAIAgMAAAC5YVYYAAAACVBMVEUAAADi4uLh4eHOxeSRAAAAAnRSTlMAuLMp9oYAAAAPSURBVAjXY4CDrJUgBAMAGaECJ9dz3BAAAAAASUVORK5CYII=);

    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAADi4uLi4uLh4eE5RQaIAAAAA3RSTlMAyTzPIdReAAAAGUlEQVQI12PAD+b///+Nof7//79gAsLFCwAx/w4blADeeQAAAABJRU5ErkJggg==);
    }
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAADFBMVEUAAADi4uLi4uLh4eE5RQaIAAAAA3RSTlMAyTzPIdReAAAAGUlEQVQI12PAD+b///+Nof7//79gAsLFCwAx/w4blADeeQAAAABJRU5ErkJggg==);
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYBAMAAAASWSDLAAAAD1BMVEUAAADh4eHg4ODNzc3h4eEYfw2wAAAABHRSTlMAy2EFIuWxUgAAACRJREFUGNNjGBBgJOICBY7KDCoucODEAJSAS6FwUJShGjAQAADBPRGrK2/FhgAAAABJRU5ErkJggg==);
    }
  }
}

.vue-treeselect__checkbox--unchecked {
  border-color: $treeselect-checkbox-border-color;
  background: $treeselect-checkbox-bg;

  .vue-treeselect__label-container:hover & {
    border-color: $treeselect-checkbox-border-color-hover;
    background: $treeselect-checkbox-bg-hover;
  }
}

.vue-treeselect__checkbox--indeterminate {
  border-color: $treeselect-checkbox-indeterminate-border-color;
  background: $treeselect-checkbox-indeterminate-bg;

  .vue-treeselect__label-container:hover & {
    border-color: $treeselect-checkbox-indeterminate-border-color-hover;
    background: $treeselect-checkbox-indeterminate-bg-hover;
  }
}

.vue-treeselect__checkbox--checked {
  border-color: $treeselect-checkbox-checked-border-color;
  background: $treeselect-checkbox-checked-bg;

  .vue-treeselect__label-container:hover & {
    border-color: $treeselect-checkbox-checked-border-color-hover;
    background: $treeselect-checkbox-checked-bg-hover;
  }
}

.vue-treeselect__checkbox--disabled {
  border-color: $treeselect-checkbox-disabled-border-color;
  background-color: $treeselect-checkbox-disabled-bg-color;

  .vue-treeselect__label-container:hover & {
    border-color: $treeselect-checkbox-disabled-border-color;
    background-color: $treeselect-checkbox-disabled-bg-color;
  }
}


.vue-treeselect__label {
  @include text-truncate();

  display: table-cell;
  padding-left: theme('spacing.1');
  max-width: 100%;
  vertical-align: middle;
  cursor: inherit; // override user agent style

  [dir="rtl"] & {
    padding-left: 0;
    padding-right: theme('spacing.1');
  }
}

.vue-treeselect__count {
  margin-left: $treeselect-padding-x;
  font-weight: 400;
  opacity: 0.6;

  [dir="rtl"] & {
    margin-left: 0;
    margin-right: $treeselect-padding-x;
  }
}

.vue-treeselect__tip {
  @include row();

  color: $treeselect-tip-color;
}

.vue-treeselect__tip-text {
  @include wide-cell();

  font-size: $treeselect-tip-font-size;
}

.vue-treeselect__retry {
  .vue-treeselect__error-tip & {
    @include clickable();

    margin-left: $treeselect-padding-x;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    color: $treeselect-retry-text-color;

    [dir="rtl"] & {
      margin-left: 0;
      margin-right: $treeselect-padding-x;
    }
  }
}

.vue-treeselect__icon-container {
  @include narrow-cell();

  .vue-treeselect--single & {
    padding-left: $treeselect-padding-x;

    [dir="rtl"] & {
      padding-left: 0;
      padding-right: $treeselect-padding-x;
    }
  }
}

.vue-treeselect__icon-warning {
  @include icon();
  @include rounded();

  position: relative;
  width: $treeselect-icon-size;
  height: $treeselect-icon-size;
  background: $treeselect-warning-icon-bg;

  &::after {
    display: block;
    position: absolute;
    content: "";
    left: 5px;
    top: 2.5px;
    width: 2px;
    height: 1px;
    border: 0 solid #fff;
    border-top-width: 5px;
    border-bottom-width: 1px;
  }
}

.vue-treeselect__icon-error {
  @include icon();
  @include rounded();

  $stroke-length: 6px;

  position: relative;
  width: $treeselect-icon-size;
  height: $treeselect-icon-size;
  background: $treeselect-error-icon-bg;

  &::before,
  &::after {
    display: block;
    position: absolute;
    content: "";
    background: #fff;
    transform: rotate(45deg);
  }

  &::before {
    width: $stroke-length;
    height: 2px;
    left: 3px;
    top: 5px;
  }

  &::after {
    width: 2px;
    height: $stroke-length;
    left: 5px;
    top: 3px;
  }
}

.vue-treeselect__icon-loader {
  @include icon();

  position: relative;
  width: $treeselect-icon-size;
  height: $treeselect-icon-size;
  text-align: center;
  animation: $treeselect-loader-animation-duration vue-treeselect-animation-rotate linear infinite;

  &::before,
  &::after {
    @include rounded();

    position: absolute;
    content: "";
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    animation: $treeselect-loader-animation-duration vue-treeselect-animation-bounce ease-in-out infinite;
  }

  &::before {
    background: $treeselect-loader-color-dark;
  }

  &::after {
    background: $treeselect-loader-color-light;
    animation-delay: -($treeselect-loader-animation-duration / 2);
  }
}


/**
 * Menu Portal
 */

.vue-treeselect__menu-placeholder {
  display: none;
}

.vue-treeselect__portal-target {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
  border: 0;
  overflow: visible;
  box-sizing: border-box;
}
