<template>
  <div class="tabs tabs--side">
    <nav class="tabs__tabs side-nav">
      <a class="tabs__tab side-nav__item" :href="tab.hash" :class="{ 'side-nav__item--active': idx === activeTab }" type="button" @click="selectTab(tab.hash, $event)" v-for="(tab, idx) in tabs" :key="idx">
        <span :class="['side-nav__item__icon fa-fw far', tab.icon]"></span>
        <span class="side-nav__item__label">{{ tab.title }}</span>
      </a>
    </nav>
    <div class="tabs__container">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'SideTabs',
    props: {
      noHash: Boolean
    },
    data () {
      return {
        tabs: [],
        activeTab: 0
      }
    },
    methods: {
      findTab (hash) {
        return this.tabs.find(tab => tab.hash === hash)
      },
      selectTab (selectedTabHash, event) {
        // See if we should store the hash in the url fragment.
        if (event && this.noHash) {
          event.preventDefault()
        }
        const selectedTab = this.findTab(selectedTabHash)
        if (!selectedTab) {
          return
        }
        this.tabs.forEach(tab => {
          tab.isActive = (tab.hash === selectedTab.hash)
        })
        this.activeTab = this.getTabIndex(selectedTabHash)
      },
      getTabIndex (hash) {
        const tab = this.findTab(hash)

        return this.tabs.indexOf(tab)
      }
    },
    created () {
      this.tabs = this.$children
    },
    mounted () {
      window.addEventListener('hashchange', () => this.selectTab(window.location.hash))
      if (this.findTab(window.location.hash)) {
        this.selectTab(window.location.hash)
        return
      }
      if (this.tabs.length) {
        this.selectTab(this.tabs[0].hash)
      }
    }
  }
</script>
