<template>
  <transition name="tab">
    <div class="tabs__content" v-if="isActive" :key="title">
      <slot />
    </div>
  </transition>

</template>

<script>
  export default {
    name: 'Tab',
    props: {
      id: {
        type: String,
        required: false
      },
      title: String,
      icon: String
    },
    data () {
      return {
        isActive: false
      }
    },
    computed: {
      computedId () {
        return this.id ? this.id : this.title.toLowerCase().replace(/ /g, '-')
      },
      hash () {
        return `#${this.computedId}`
      }
    }
  }
</script>
