<template>
  <div class="menu-editor">
    <draggable v-model="menu" class="list-group">
      <menu-item v-for="(item, idx) in menu" :key="idx" :idx="idx" v-model="menu[idx]"
                 :grupo="grupo" :no-children="parent !== undefined" @remove="remove(idx)" />
    </draggable>
    <button class="button button--small" type="button" @click="add">
      <span class="far fa-plus"></span>
      Adicionar
    </button>
    <input v-if="parent === undefined" type="hidden" :name="name" :value="stringValue">
  </div>
</template>

<script>
  import draggable from 'vuedraggable'
  import MenuItem from './MenuItem.vue'

  export default {
    name: 'menu-editor',
    components: {
      draggable,
      MenuItem
    },
    props: {
      name: String,
      value: {
        type: String,
        required: false
      },
      grupo: {
        type: String,
        required: false
      },
      parent: {
        type: Number,
        required: false
      }
    },
    data () {
      return {
        menu: []
      }
    },
    computed: {
      stringValue () {
        return JSON.stringify(this.menu)
      }
    },
    methods: {
      add () {
        this.menu.push({
          label: '',
          url: '#'
        })
      },
      remove (idx) {
        this.menu.splice(idx, 1)
      }
    },
    mounted () {
      if (this.value) {
        this.menu = this.parent === undefined ? JSON.parse(this.value) : this.value
      }
    },
    watch: {
      menu (newVal, oldVal) {
        if (parent !== undefined && newVal !== oldVal) {
          this.$emit('input', newVal)
        }
      }
    }
  }
</script>

<style lang="scss">
.menu-editor {
  .menu-item {
    @apply mb-2;
  }
}
</style>
