<template>
  <article class="menu-item">
    <header class="menu-item__header">
      <p class="menu-item__label" v-if="value.label.trim() !== '' || pagina">
        {{ value.label || pagina.titulo }}
      </p>
      <p class="menu-item__label text-gray-500" v-else>
        (sem nome)
      </p>
      <small class="menu-item__type">
        <template v-if="value.children">Submenu</template>
        <template v-else-if="'pagina_id' in value">Página</template>
        <template v-else>URL</template>
      </small>
      <button class="button button--icon" type="button" @click="toggleOpen">
        <span class="fas fa-caret-down fa-fw"></span>
      </button>
    </header>
    <div class="menu-item__body" v-if="isOpen">

      <div class="field">
        <label class="label">Texto a mostrar</label>
        <div class="control">
          <input type="text" class="input" :value="value.label" @input="onChange('label', $event.target.value)">
        </div>
        <small class="field__help" v-if="'pagina_id' in value">
          Se vazio, será usado o nome da página.
        </small>
      </div>

      <div class="field" v-if="!noChildren">
        <label class="label">Tipo de item</label>
        <div class="control flex gap-3">
          <div class="radio">
            <div class="radio__input">
              <input type="radio" :id="`typeRadio${idx}Url`" :name="`typeRadio${idx}`"
                     :checked="value.url" @change="toggleType('url')">
            </div>
            <div class="radio__label">
              <label :for="`typeRadio${idx}Url`">URL</label>
            </div>
          </div>
          <div class="radio">
            <div class="radio__input">
              <input type="radio" :id="`typeRadio${idx}Pagina`" :name="`typeRadio${idx}`"
                     :checked="'pagina_id' in value" @change="toggleType('pagina')">
            </div>
            <div class="radio__label">
              <label :for="`typeRadio${idx}Pagina`">Página</label>
            </div>
          </div>
          <div class="radio">
            <div class="radio__input">
              <input type="radio" :id="`typeRadio${idx}Sub`" :name="`typeRadio${idx}`"
                     :checked="value.children" @change="toggleType('sub')">
            </div>
            <div class="radio__label">
              <label :for="`typeRadio${idx}Sub`">Submenu</label>
            </div>
          </div>
        </div>

      </div>

      <div class="field" v-if="value.children">
        <label class="label">Submenu</label>
        <div class="control">
          <menu-editor class="w-full" :parent="idx" :value="value.children" @input="onChange('children', $event)" />
        </div>
      </div>

      <div class="field" v-else-if="'pagina_id' in value">
        <label class="label">Página</label>
        <div class="control">
          <select class="input" :value="value.pagina_id" @input="onChange('pagina_id', $event.target.value)">
            <option :value="null">Escolha uma página</option>
            <template v-if="grupo">
              <optgroup label="Públicas">
                <option v-for="page in pages.filter(p => p.publico)" :value="page.id" :key="page.id">{{ page.titulo }} ({{page.slug}})</option>
              </optgroup>
              <optgroup label="Privadas">
                <option v-for="page in pages.filter(p => !p.publico)" :value="page.id" :key="page.id">{{ page.titulo }} ({{page.slug}})</option>
              </optgroup>
            </template>
            <template v-else>
              <option v-for="page in pages" :value="page.id" :key="page.id">{{ page.titulo }} ({{page.slug}})</option>
            </template>
          </select>
        </div>
        <small class="field__help" v-if="!noChildren">
          Subpáginas, caso existam, serão mostradas como um submenu.
        </small>
      </div>

      <div class="field" v-else>
        <label class="label">URL</label>
        <div class="control">
          <input type="text" class="input" :value="value.url" @input="onChange('url', $event.target.value)">
        </div>
        <small class="field__help">
          Se começar por / será considerado um URL dentro deste site.
        </small>
      </div>

      <button class="button button--small button--danger-outline" type="button" @click="remove">Remover</button>

    </div>
  </article>
</template>

<script>
  export default {
    name: 'menu-item',
    props: {
      value: Object,
      idx: Number,
      grupo: {
        type: String,
        required: false
      },
      noChildren: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        isOpen: false,
        pages: []
      }
    },
    methods: {
      async fetchPages () {
        if (this.grupo) {
          const response = await this.$http.post('/graphql', { query: `{ grupo (id: ${this.grupo}) { paginas { id titulo publico slug } } }` })
          this.pages = response.data.data.grupo.paginas
        } else {
          const response = await this.$http.post('/graphql', { query: '{ paginas { id titulo publico slug } }' })
          this.pages = response.data.data.paginas
        }
      },
      toggleOpen () {
        this.isOpen = !this.isOpen
      },
      remove () {
        this.$emit('remove')
      },
      onChange (field, value) {
        const newValue = {
          ...this.value,
          [field]: value
        }
        this.$emit('input', newValue)
      },
      toggleType (type) {
        const newValue = {
          ...this.value
        }
        if (type === 'sub') {
          delete newValue.url
          delete newValue.pagina_id
          newValue.children = []
        } else if (type === 'pagina') {
          delete newValue.children
          delete newValue.url
          newValue.pagina_id = null
        } else if (type === 'url') {
          delete newValue.children
          delete newValue.pagina_id
          newValue.url = '#'
        }
        this.$emit('input', newValue)
      }
    },
    computed: {
      pagina () {
        if (!this.pages || !this.value.pagina_id) { return null }
        return this.pages.find(p => p.id == this.value.pagina_id)
      }
    },
    mounted () {
      this.fetchPages()
    }
  }
</script>

<style lang="scss">

  .menu-item {

    @apply rounded-sm shadow;

    &__header {
      display: flex;
      align-items: center;
      cursor: grab;

      @apply bg-gray-100 pl-4;
    }

    &__label {
      margin: 0;
      flex: 1;
      font-weight: bold;
    }

    &__type {
      @apply text-sm pr-2 text-gray-500;
    }

    &__body {
      @apply px-6 py-3;
    }
  }
</style>
