<template>
  <div class="content-editor">
    <topbar :editor="editor"
            :content="content"
            :saving="saving"
            :is-new="isNew"
            :save-enabled="!saving && valid"
            :view-link="viewLink"
            :is-code-view="isCodeView"
            :no-content="noContent"
            @save="save"
            @toggleSidebar="toggleSidebar"
            @toggleCodeView="toggleCodeView"/>
    <div class="content-editor__area">
      <div class="content-editor__content">
        <div class="content-editor__content__image" v-if="content.imagem"
             :style="{'background-image': 'url('+content.imagem+')'}">
          <div class="content-editor__content__image__buttons">
            <button class="button button--small button--icon" @click="openHeroManager">
              <span class="far fa-fw fa-image"></span>
            </button>
            <button class="button button--small button--icon" @click="content.imagem = null">
              <span class="far fa-fw fa-times"></span>
            </button>
          </div>
        </div>
        <div class="content-editor__content__image content-editor__content__image--empty" v-else>
          <p class="font-accent mb-2">Sem imagem de destaque</p>
          <button class="button button--small" @click="openHeroManager">
            Escolher imagem
          </button>
        </div>
        <div class="content-editor__container">
          <div class="content-editor__content__slug" v-if="hasSlug">
                        <span class="content-editor__content__slug__icon">
                            <span class="far fa-link"></span>
                        </span>
            <span class="content-editor__content__slug__base-url">{{ fullBaseUrl }}/</span>
            <input type="text" v-model="slug" class="content-editor__content__slug__input"
                   title="Slug" ref="slug" @blur="validateSlug" placeholder="endereco-publico"/>
            <span class="content-editor__content__slug__error text-red-600" v-if="slugError"
                  :title="slugError.errors.slug[0]">
                            <span class="fas fa-exclamation-circle"></span>
                        </span>
          </div>
          <textarea class="content-editor__content__title" v-model="content.titulo" title="Título"
                    rows="1" ref="title" placeholder="Adicionar título" :autofocus="isNew"
                    @blur="titleBlur"></textarea>

          <template v-if="!noContent">
            <vue-prism-editor v-if="isCodeView" v-model="content.conteudo" language="html" line-numbers />
            <div v-else-if="editor">
              <floating-menu class="content-editor__content__floating" :editor="editor">
                  <template v-for="(btn, idx) in floating">
                    <button v-if="btn" :key="btn.label" class="content-editor__content__floating__button"
                            :class="{ 'is-active': btn.active() }"
                            @click="btn.action()" :title="btn.label">
                      <span :class="['fa-fw', btn.icon]"></span>
                    </button>
                    <span v-else class="content-editor__content__floating__spacer" :key="idx"></span>
                  </template>
              </floating-menu>
              <bubble-menu :editor="editor" :should-show="shouldShowBubble" :tippy-options="{zIndex: 9}" class="content-editor__content__bubble">
                  <template v-for="(btn, idx) in bubble">
                    <button v-if="btn" :key="btn.label" class="content-editor__content__bubble__button"
                            :class="{ 'is-active': btn.active() }"
                            @click="btn.action()" :title="btn.label">
                      <span :class="['fa-fw', btn.icon]"></span>
                    </button>
                    <span v-else class="content-editor__content__bubble__spacer" :key="idx"></span>
                  </template>
              </bubble-menu>
              <editor-content :editor="editor" class="content-editor__content__content"/>
            </div>
          </template>

          <template-options v-if="template" :template="template" v-model="content.options" />

        </div>
      </div>
      <sidebar :is-open="isSidebarOpen">
        <sidebar-section title="Grupo">
          <sidebar-grupo v-model="content.grupo_id" :read-only="!!grupo" />
        </sidebar-section>
        <sidebar-section title="Autor" v-if="news">
          <sidebar-autor v-model="content.autor_id" :grupo="grupo" />
        </sidebar-section>
        <sidebar-section title="Visibilidade">
          <div v-if="news">
            <div class="field">

              <div class="control">
                <div class="radio">
                  <div class="radio__input">
                    <input type="radio" id="visibilidade-publico" name="visibilidade" value="publico" v-model="content.visibilidade" :disabled="!content.grupo_id">
                  </div>
                  <div class="radio__label">
                    <label for="visibilidade-publico">Público</label>
                    <p class="text-xs text-gray-400">Será visível para todos e listado na página {{ content.grupo && content.grupo.grupo_pai ? 'do grupo pai' : 'principal'}}</p>
                  </div>
                </div>
              </div>

              <div class="control">
                <div class="radio">
                  <div class="radio__input">
                    <input type="radio" id="visibilidade-naolistado" name="visibilidade" value="nao_listado" v-model="content.visibilidade" :disabled="!content.grupo_id">
                  </div>
                  <div class="radio__label">
                    <label for="visibilidade-naolistado">Não listado</label>
                    <p class="text-xs text-gray-400">Será visível para todos apenas na página de notícias do grupo</p>
                  </div>
                </div>
              </div>

              <div class="control">
                <div class="radio">
                  <div class="radio__input">
                    <input type="radio" id="visibilidade-privado" name="visibilidade" value="privado" v-model="content.visibilidade" :disabled="!content.grupo_id">
                  </div>
                  <div class="radio__label">
                    <label for="visibilidade-privado">Privado</label>
                    <p class="text-xs text-gray-400">Será visível apenas para membros do grupo</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div v-else class="checkbox">
            <div class="checkbox__input">
              <input type="checkbox" id="publicoSwitch" v-model="content.publico" :disabled="!content.grupo_id">
            </div>
            <div class="checkbox__label">
              <label for="publicoSwitch">Público</label>
            </div>
          </div>
        </sidebar-section>
        <sidebar-section title="Modelo de página" v-if="templates">
          <div class="control">
            <select class="input" v-model="content.page_template_id">
              <option :value="null">Nenhum</option>
              <option :key="tpl.key" v-for="tpl in templates" :value="tpl.key">{{ tpl.label }}</option>
            </select>
          </div>
        </sidebar-section>
        <sidebar-section title="Sub-páginas" v-if="children && children.length > 0">
          <ul class="list-disc pl-4 space-y-2 marker:text-gray-400">
            <li v-for="child in children" :key="child.id">
              <a :href="`${baseUrl}/${child.slug}`" class="font-accent underline decoration-2 decoration-primary-50 underline-offset-2 hover:decoration-primary-200" target="_blank">{{ child.titulo }}</a>
            </li>
          </ul>
        </sidebar-section>
        <sidebar-section title="Página pai" v-else-if="parentKey && pages">
          <div class="control">
            <select class="input" v-model="content[parentKey]">
              <option :value="null">Nenhuma</option>
              <option :key="page.key" v-for="page in pages" :value="page.id">{{ page.titulo }}</option>
            </select>
          </div>
        </sidebar-section>
      </sidebar>
    </div>
    <modal v-if="!isNew" id="deleteModal">
      <div class="modal__body modal__confirmation">
        <div class="modal__confirmation__icon">
          <span class="fas fa-exclamation"></span>
        </div>
        <div class="modal__confirmation__content">
          <h3 class="modal__confirmation__title">Eliminar {{ news ? 'notícia' : 'página'}}</h3>
          <p class="modal__confirmation__text">
            Tem a certeza que quer eliminar  <strong>{{ content.titulo }}</strong>?
          </p>
          <p class="modal__confirmation__danger">
            <strong>Atenção!</strong> Esta ação é irreversível.
          </p>
        </div>
      </div>
      <form class="modal__footer" method="POST" :action="deleteAction">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" :value="csrfToken">
        <button type="submit" class="button button--danger">Eliminar</button>
        <button type="button" class="button" @click.prevent="$root.closeModal('deleteModal')">Cancelar</button>
      </form>
    </modal>
    <modal id="linkModal" with-close>
      <div class="modal__body">
        <h3 class="modal__title">{{ link.isEdit ? 'Editar' : 'Adicionar' }} ligação</h3>
        <div class="field">
          <label class="label">URL da ligação</label>
          <div class="control">
            <input type="url" v-model="link.href" class="input" />
            <button class="button button--icon" type="button" @click="openFileManager">
              <span class="far fa-file fa-fw"></span>
            </button>
          </div>
        </div>
      </div>

      <div class="modal__footer">
        <button type="button" class="button button--primary" @click.prevent="addLink" :disabled="link.href.trim() === ''">{{ link.isEdit ? 'Editar' : 'Adicionar' }}</button>
        <button type="button" class="button" @click.prevent="$root.closeModal('linkModal')">Cancelar</button>
        <button type="button" class="button button--danger-outline sm:mr-auto sm:ml-0" @click.prevent="removeLink" v-if="link.isEdit">Remover</button>
      </div>
    </modal>
    <file-manager name="content-hero" accept="image/*" title="Escolher imagem do cabeçalho…" v-model="content.imagem" :path="news ? 'noticias' : 'paginas'" />
    <file-manager name="content-image" accept="image/*" title="Escolher imagem…" :path="news ? 'noticias' : 'paginas'" @input="insertImage" />
    <file-manager name="content-file" :path="`${news ? 'noticias' : 'paginas'}/files`" @input="insertFile" />
  </div>
</template>

<script>
// Import the editor

  import { Editor, EditorContent, BubbleMenu, FloatingMenu, isTextSelection } from '@tiptap/vue-2'

  import Document from '@tiptap/extension-document'
  import Paragraph from '@tiptap/extension-paragraph'
  import Text from '@tiptap/extension-text'
  import Blockquote from '@tiptap/extension-blockquote'
  import BulletList from '@tiptap/extension-bullet-list'
  import Heading from '@tiptap/extension-heading'
  import ListItem from '@tiptap/extension-list-item'
  import OrderedList from '@tiptap/extension-ordered-list'
  import Bold from '@tiptap/extension-bold'
  import Italic from '@tiptap/extension-italic'
  import Strike from '@tiptap/extension-strike'
  import History from '@tiptap/extension-history'
  import HardBreak from '@tiptap/extension-hard-break'
  import Link from '@tiptap/extension-link'
  import Underline from '@tiptap/extension-underline'
  import Placeholder from '@tiptap/extension-placeholder'

  import autosize from 'autosize'
  import autosizeInput from 'autosize-input'
  import slugify from 'slugify'
  import cleaner from 'clean-html'
  import ResizableImage from './extensions/ResizableImage'

  import 'prismjs'
  import 'prismjs/themes/prism-tomorrow.css'
  import VuePrismEditor from 'vue-prism-editor'
  import 'vue-prism-editor/dist/VuePrismEditor.css'

  import Topbar from './partials/Topbar.vue'
  import Sidebar from './partials/Sidebar.vue'
  import SidebarSection from './partials/SidebarSection.vue'
  import SidebarGrupo from './partials/SidebarGrupo.vue'
  import SidebarAutor from './partials/SidebarAutor.vue'
  import TemplateOptions from './partials/TemplateOptions.vue'
  import FileManager from '../FileManager.vue'

  const EMPTY_CONTENT = {
    id: null,
    titulo: '',
    conteudo: '',
    publico: true,
    imagem: null,
    grupo_id: null,
    grupo: null
  }

  const EMPTY_SLUG_ATTRS = {
    slug: ''
  }

  const EMPTY_NEWS_ATTRS = {
    autor_id: window.sautor.user ? window.sautor.user.id : null,
    visibilidade: 'publico'
  }

  const EMPTY_TEMPLATE_ATTRS = {
    page_template_id: null,
    options: {}
  }

  export default {
    name: 'content-editor',
    components: {
      FileManager,
      VuePrismEditor,
      EditorContent,
      BubbleMenu,
      FloatingMenu,
      Topbar,
      Sidebar,
      SidebarSection,
      SidebarGrupo,
      SidebarAutor,
      TemplateOptions
    },
    props: {
      value: {
        type: Object,
        default: null
      },
      controllerUrl: {
        type: String,
        required: true
      },
      editUrl: {
        type: String,
        required: true
      },
      deleteUrl: {
        type: String,
        required: true
      },
      templatesUrl: {
        type: String,
        required: false
      },
      baseUrl: {
        type: String,
        required: false
      },
      hasSlug: {
        type: Boolean,
        default: false
      },
      news: {
        type: Boolean,
        default: false
      },
      grupo: {
        type: Object
      },
      parentKey: {
        type: String,
        required: false
      },
      children: {
        type: Array,
        required: false
      }
    },
    data () {
      const NOOP = () => {}
      const emptyContent = {
        ...EMPTY_CONTENT,
        ...(this.hasSlug ? EMPTY_SLUG_ATTRS : {}),
        ...(this.news ? EMPTY_NEWS_ATTRS : {}),
        ...(this.templatesUrl ? EMPTY_TEMPLATE_ATTRS : {}),
        ...(this.parentKey ? { [this.parentKey]: null } : {})
      }
      if (this.grupo) {
        emptyContent.grupo_id = this.grupo.id
        emptyContent.grupo = this.grupo
        emptyContent.publico = false
      }
      return {
        editor: null,
        isSidebarOpen: false,
        content: emptyContent,
        saving: false,
        slugError: null,
        isCodeView: false,
        templates: null,
        pages: null,
        link: {
          href: '',
          isEdit: false,
          isModalOpen: false
        },
        bubble: [
          {
            icon: 'far fa-bold',
            label: 'Negrito',
            action: () => this.editor.chain().focus().toggleBold().run(),
            active: () => this.editor.isActive('bold')
          },
          {
            icon: 'far fa-italic',
            label: 'Itálico',
            action: () => this.editor.chain().focus().toggleItalic().run(),
            active: () => this.editor.isActive('italic')
          },
          null,
          {
            icon: 'far fa-h2',
            label: 'Cabeçalho 2',
            action: () => this.editor.chain().focus().toggleHeading({ level: 2 }).run(),
            active: () => this.editor.isActive('heading', { level: 2 })
          },
          {
            icon: 'far fa-h3',
            label: 'Cabeçalho 3',
            action: () => this.editor.chain().focus().toggleHeading({ level: 3 }).run(),
            active: () => this.editor.isActive('heading', { level: 3 })
          },
          {
            icon: 'far fa-h4',
            label: 'Cabeçalho 4',
            action: () => this.editor.chain().focus().toggleHeading({ level: 4 }).run(),
            active: () => this.editor.isActive('heading', { level: 4 })
          },
          {
            icon: 'fas fa-quote-right',
            label: 'Citação',
            action: () => this.editor.chain().focus().toggleBlockquote().run(),
            active: () => this.editor.isActive('blockquote')
          },
          {
            icon: 'far fa-list-ul',
            label: 'Lista',
            action: () => this.editor.chain().focus().toggleBulletList().run(),
            active: () => this.editor.isActive('bulletList')
          },
          {
            icon: 'far fa-list-ol',
            label: 'Lista ordenada',
            action: () => this.editor.chain().focus().toggleOrderedList().run(),
            active: () => this.editor.isActive('orderedList')
          },
          null,
          {
            icon: 'far fa-link',
            label: 'Ligação',
            action: () => this.openLinkModal(this.editor.getAttributes('link'), this.editor.isActive('link')),
            active: () => this.editor.isActive('link')
          }
        ],
        floating: [
          null,
          {
            icon: 'far fa-h2',
            label: 'Cabeçalho 2',
            action: () => this.editor.chain().focus().toggleHeading({ level: 2 }).run(),
            active: () => this.editor.isActive('heading', { level: 2 })
          },
          {
            icon: 'far fa-h3',
            label: 'Cabeçalho 3',
            action: () => this.editor.chain().focus().toggleHeading({ level: 3 }).run(),
            active: () => this.editor.isActive('heading', { level: 3 })
          },
          {
            icon: 'far fa-h4',
            label: 'Cabeçalho 4',
            action: () => this.editor.chain().focus().toggleHeading({ level: 4 }).run(),
            active: () => this.editor.isActive('heading', { level: 4 })
          },
          {
            icon: 'fas fa-quote-right',
            label: 'Citação',
            action: () => this.editor.chain().focus().toggleBlockquote().run(),
            active: () => this.editor.isActive('blockquote')
          },
          null,
          {
            icon: 'far fa-list-ul',
            label: 'Lista',
            action: () => this.editor.chain().focus().toggleBulletList().run(),
            active: () => this.editor.isActive('bulletList')
          },
          {
            icon: 'far fa-list-ol',
            label: 'Lista ordenada',
            action: () => this.editor.chain().focus().toggleOrderedList().run(),
            active: () => this.editor.isActive('orderedList')
          },
          null,
          {
            icon: 'far fa-image',
            label: 'Inserir imagem',
            action: () => this.openImageManager(),
            active: NOOP
          }
        ]
      }
    },
    computed: {
      isNew () {
        return !this.content.id
      },
      valid () {
        return this.content.titulo !== '' && (this.noContent || this.content.conteudo !== '') && (!this.hasSlug || this.slugError === null)
      },
      viewLink () {
        if (this.news) return `${this.baseUrl}/noticias/${this.hasSlug ? this.content.slug : this.content.id}`
        return `${this.fullBaseUrl}/${this.hasSlug ? this.slug : this.content.id}`
      },
      deleteAction () {
        return this.deleteUrl.replace(/{(.*?)}/g, (match, offset) => {
          return this.content[offset]
        })
      },
      csrfToken () {
        return document.head.querySelector('meta[name="csrf-token"]').content
      },
      fullBaseUrl () {
        let url = this.baseUrl
        if (this.content.grupo) url += `/grupos/${this.content.grupo.slug}`
        if (this.hasSlug && this.parent) url += `/${this.parent.slug}`
        return url
      },
      template () {
        if (!this.templates) return null
        return this.templates.find(t => t.key === this.content.page_template_id)
      },
      noContent () {
        return this.template && this.template.noContent
      },
      parent () {
        if (!this.pages || !this.parentKey || !this.content[this.parentKey]) return null
        return this.pages.find(p => p.id == this.content[this.parentKey])
      },
      slug: {
        get () {
          if (this.parent) return this.content.slug.replace(`${this.parent.slug}/`, '')
          return this.content.slug
        },
        set (slug) {
          if (this.parent) this.content.slug = `${this.parent.slug}/${slug}`
          else this.content.slug = slug
        }
      }
    },
    methods: {
      mf (time) {
        return this.$moment(time).format('lll')
      },
      toggleSidebar () {
        this.isSidebarOpen = !this.isSidebarOpen
      },
      toggleCodeView () {
        if (this.isCodeView) {
          this.editor.commands.setContent(this.content.conteudo)
        } else {
          cleaner.clean(this.editor.getHTML(), html => { this.content.conteudo = html })
        }
        this.isCodeView = !this.isCodeView
      },
      titleBlur () {
        if (!this.hasSlug || this.content.slug !== '') return
        this.slug = slugify(this.content.titulo, { lower: true })
        this.validateSlug()
        this.$nextTick(() => {
          const event = new Event('input', {
            bubbles: true,
            cancelable: true
          })
          this.$refs.slug.dispatchEvent(event)
        })
      },
      validateSlug () {
        return new Promise((resolve, reject) => {
          let url = `${this.controllerUrl}/valid-slug?slug=${this.content.slug}`
          if (this.content.id) {
            url += '&id=' + this.content.id
          }
          this.$http.get(url).then(response => {
            this.slugError = null
            resolve()
          })
            .catch(err => {
              if (err.response) {
                this.slugError = err.response.data
                reject(err)
              } else {
                this.slugError = null
              }
            })
        })
      },
      insertImage (imageUrl) {
        this.editor.chain().focus().resizableImage({ src: imageUrl }).run()
      },
      insertFile (fileUrl) {
        this.link.href = fileUrl
      },
      openHeroManager () {
        this.$root.openModal('fm-content-hero')
      },
      openImageManager () {
        this.$root.openModal('fm-content-image')
      },
      openFileManager () {
        this.$root.openModal('fm-content-file')
      },
      save () {
        this.saving = true
        const payload = {
          titulo: this.content.titulo,
          conteudo: this.content.conteudo,
          grupo_id: this.content.grupo_id,
          publico: this.content.publico ? '1' : '0',
          imagem: this.content.imagem
        }
        if (this.hasSlug) {
          payload.slug = this.content.slug
        }
        if (this.news) {
          delete payload.publico
          payload.autor_id = this.content.autor_id
          payload.visibilidade = this.content.visibilidade
        }
        if (this.templates) {
          payload.page_template_id = this.content.page_template_id
          payload.options = this.template && this.content.options ? this.content.options : '{}'
        }
        if (this.parentKey) {
          payload[this.parentKey] = this.content[this.parentKey]
        }
        let url = this.controllerUrl
        if (!this.isNew) {
          payload._method = 'PUT'
          url += '/' + this.content.id
        }
        const isNew = this.isNew
        this.$http.post(url, payload).then(response => {
          this.saving = false
          this.content = response.data
          new window.FilamentNotification()
            .title(isNew ? 'Criado com sucesso.' : 'Guardado com sucesso.')
            .success()
            .send()
          if (isNew) {
            history.replaceState(null, '',
                                 this.editUrl.replace(/{(.*?)}/g, (match, offset) => {
                                   return this.content[offset]
                                 }))
          }
        }).catch(_ => {
          this.saving = false
          new window.FilamentNotification()
            .title('Ocorreu um erro a guardar.')
            .danger()
            .send()
        })
      },
      openLinkModal (attrs, isEdit) {
        this.link.href = attrs.href || ''
        this.link.isEdit = isEdit
        this.$root.openModal('linkModal')
      },
      addLink () {
        this.editor.chain().focus().setLink({ href: this.link.href }).run()
        this.$root.closeModal('linkModal')
      },
      removeLink () {
        this.editor.chain().focus().setLink({ href: null }).run()
        this.$root.closeModal('linkModal')
      },
      async fetchGrupo () {
        const response = await this.$http.post('/graphql', { query: `{ grupo (id: ${this.content.grupo_id}) { id nome nome_curto logo slug } }` })
        this.$set(this.content, 'grupo', response.data.data.grupo)
      },
      async fetchTemplates () {
        if (!this.templatesUrl) return
        const response = await this.$http.get(this.templatesUrl)
        this.templates = response.data
      },
      async fetchPages () {
        if (this.grupo) {
          const response = await this.$http.post('/graphql', { query: `{ grupo (id: ${this.grupo.id}) { paginas { id titulo publico slug pai { id } } } }` })
          this.pages = response.data.data.grupo.paginas.filter(p => !p.pai)
        } else {
          const response = await this.$http.post('/graphql', { query: '{ paginas { id titulo publico slug pai { id } } }' })
          this.pages = response.data.data.paginas.filter(p => !p.pai)
        }
      },
      shouldShowBubble ({ state }) {
        return isTextSelection(state.selection)
      }
    },
    created () {
      if (this.value) {
        const newContent = { ...this.value }
        if (newContent.grupo_id) newContent.grupo_id = `${newContent.grupo_id}`
        if (newContent.autor_id) newContent.autor_id = `${newContent.autor_id}`
        this.content = newContent
      }
      if (this.parentKey) this.fetchPages()
      if (this.templatesUrl) this.fetchTemplates()
    },
    mounted () {
      autosize(this.$refs.title)
      if (this.hasSlug) {
        autosizeInput(this.$refs.slug)
      }

      this.editor = new Editor({
        extensions: [
          Document,
          Paragraph,
          Text,
          Blockquote,
          BulletList,
          Heading.configure({ levels: [1, 2, 3, 4, 5] }),
          ListItem,
          OrderedList,
          Bold,
          Italic,
          Link.configure({
            openOnClick: false
          }),
          Strike,
          Underline,
          History,
          Placeholder.configure({
            emptyClass: 'is-empty'
          }),
          ResizableImage,
          HardBreak
        ],
        content: this.content.conteudo,
        onUpdate: ({ editor }) => {
          cleaner.clean(editor.getHTML(), html => { this.content.conteudo = html })
        }
      })
    },
    beforeDestroy () {
      this.editor.destroy()
    },
    watch: {
      'content.grupo_id': async function (newVal) {
        if (!newVal) {
          this.content.publico = true
          this.content.grupo = null

          if (this.news) this.content.visibilidade = 'visivel'
        } else {
          await this.fetchGrupo()
        }
      }
    }
  }
</script>

<style lang="scss">
$ce-padding-x: 1rem;
$ce-padding-y: $ce-padding-x;

.content-editor {
  @apply w-full h-full bg-white flex flex-col relative;

  &__area {
    @apply flex-1 flex overflow-hidden relative;
  }

  &__content {
    @apply pb-12 flex-1;

    &__image {

      @apply bg-cover bg-center mb-8 relative;

      height: 25vh;

      &__buttons {
        @apply absolute bottom-4 right-4;
      }

      &--empty {
        @apply bg-gray-100 text-gray-500 h-auto p-8 text-center;
      }
    }

    &__image-picker {
      @apply hidden;
    }

    &__title {
      // TODO: Extend title
      @apply font-headline text-gray-700 text-3xl md:text-4xl rounded bg-none m-0 w-full border border-transparent resize-none;
      @apply hover:border-gray-300;
      @apply focus:border-primary-500 focus:ring-primary-200 focus:ring-2;
      padding: $ce-padding-y $ce-padding-x;
    }

    &__slug {
      @apply font-sans text-sm flex items-center;
      padding: 0 $ce-padding-x;

      &__icon {
        @apply text-gray-600 mr-2 flex items-center justify-center;

        svg {
          @apply block;
        }
      }

      &__base-url {
        @apply text-gray-500;
      }

      &__input {
        @apply font-sans text-sm text-gray-600 rounded-sm bg-transparent border border-transparent p-1 -ml-1 transition-all placeholder-gray-400;
        @apply hover:border-gray-300;
        @apply focus:border-primary-500 focus:ring-primary-200 focus:ring-1;

        &::placeholder {
          @apply text-gray-400;
        }

        &:focus {
          margin-left: .1rem;
        }
      }
    }

    &__floating {
      @apply absolute flex transition-opacity;
      transform: translate(1.25rem, -50%);

      &__button {
        @apply text-gray-400 bg-none m-0 p-1 border-none transition-colors;

        &.is-active {
          @apply text-gray-600;
        }

        &:hover {
          @apply text-gray-800;
        }
      }

      &__spacer {
        @apply inline-block w-3;
      }
    }

    .tippy-box:has(&__bubble) {
      @apply bg-gray-700 rounded-full;

      .tippy-content {
        @apply py-1 px-3;
      }

      .tippy-arrow {
        @apply text-gray-700;
      }
    }

    &__bubble {
      @apply flex items-center justify-center;

      &__button {
        @apply text-gray-500 bg-none m-0 p-1 border-none transition-colors;

        &.is-active {
          @apply text-gray-100;
        }

        &:hover {
          @apply text-gray-100;
        }
      }

      &__spacer {
        @apply inline-block w-3;
      }
    }

    &__content {
      @apply prose lg:prose-lg;

      .ProseMirror {
        @apply rounded border border-transparent;
        padding: $ce-padding-y $ce-padding-x;

        &:focus {
          @apply outline-none;
        }

        &-selectednode {
          outline: 1px solid theme('colors.blue.500');
        }
      }

      p.is-empty:first-child::before {
        @apply text-gray-400 float-left pointer-events-none h-0 italic;
        content: 'Escreve aqui…';
      }
    }
  }

  &__container {
    @apply py-0 px-8 max-w-prose mx-auto;
  }

  &__hidden {
    @apply hidden;
    display: none;
  }
}
</style>
