<template>
  <div class="w-full">
    <div class="flex flex-wrap gap-2 mb-2">

        <div class="flex gap-0.5">
          <button type="button" class="button button--small button--icon"
                  :class="{ 'active': editor.isActive('bold') }" @click="editor.chain().focus().toggleBold().run()">
            <span class="far fa-fw fa-bold"></span>
          </button>

          <button type="button" class="button button--small button--icon"
                  :class="{ 'active': editor.isActive('italic') }" @click="editor.chain().focus().toggleItalic().run()">
            <span class="far fa-fw fa-italic"></span>
          </button>

          <button type="button" class="button button--small button--icon"
                  :class="{ 'active': editor.isActive('underline') }" @click="editor.chain().focus().toggleUnderline().run()">
            <span class="far fa-fw fa-underline"></span>
          </button>

          <button type="button" class="button button--small button--icon"
                  :class="{ 'active': editor.isActive('strike') }" @click="editor.chain().focus().toggleStrike().run()">
            <span class="far fa-fw fa-strikethrough"></span>
          </button>
        </div>

        <div class="flex gap-0.5" v-if="!simple">
          <button type="button" class="button button--small button--icon"
                  :class="{ 'active': editor.isActive('paragraph') }" @click="editor.chain().focus().setParagraph().run()">
            <span class="far fa-fw fa-paragraph"></span>
          </button>

          <button v-for="i in 4" :key="i" type="button" class="button button--small button--icon"
                  :class="{ 'active': editor.isActive('heading', { level: i }) }"
                  @click="editor.chain().focus().toggleHeading({ level: i }).run()">
            <span class="far fa-fw" :class="[`fa-h${i}`]"></span>
          </button>
        </div>

        <div class="flex gap-0.5" v-if="!simple">
          <button type="button" class="button button--small button--icon"
                  :class="{ 'active': editor.isActive('bulletList') }" @click="editor.chain().focus().toggleBulletList().run()">
            <span class="far fa-fw fa-list-ul"></span>
          </button>

          <button type="button" class="button button--small button--icon"
                  :class="{ 'active': editor.isActive('orderedList') }" @click="editor.chain().focus().toggleOrderedList().run()">
            <span class="far fa-fw fa-list-ol"></span>
          </button>
        </div>

        <div class="flex gap-0.5" v-if="!simple">
          <button type="button" class="button button--small button--icon" @click="insertImage">
            <span class="far fa-fw fa-image"></span>
          </button>
        </div>

        <div class="flex gap-0.5">
          <button type="button" class="button button--small button--icon" @click="editor.chain().focus().undo().run()">
            <span class="far fa-fw fa-undo"></span>
          </button>

          <button type="button" class="button button--small button--icon" @click="editor.chain().focus().redo().run()">
            <span class="far fa-fw fa-redo"></span>
          </button>
        </div>
      </div>

    <editor-content class="sce__editor" :editor="editor" />

    <input type="hidden" :name="name" :value="content">
    <div class="sce__hidden" ref="hidden"></div>
  </div>
</template>

<script>
  import { Editor, EditorContent } from '@tiptap/vue-2'

  import Document from '@tiptap/extension-document'
  import Paragraph from '@tiptap/extension-paragraph'
  import Text from '@tiptap/extension-text'
  import Blockquote from '@tiptap/extension-blockquote'
  import BulletList from '@tiptap/extension-bullet-list'
  import Heading from '@tiptap/extension-heading'
  import ListItem from '@tiptap/extension-list-item'
  import OrderedList from '@tiptap/extension-ordered-list'
  import Bold from '@tiptap/extension-bold'
  import Italic from '@tiptap/extension-italic'
  import Strike from '@tiptap/extension-strike'
  import History from '@tiptap/extension-history'
  import HardBreak from '@tiptap/extension-hard-break'
  import Link from '@tiptap/extension-link'
  import Underline from '@tiptap/extension-underline'
  import HorizontalRule from '@tiptap/extension-horizontal-rule'
  import cleaner from 'clean-html'

  // import ResizableImage from './extensions/ResizableImage'

  export default {
    name: 'SmallContentEditor',
    components: {
      EditorContent
    },
    props: ['name', 'value', 'simple'],
    data () {
      return {
        content: this.htmlDecode(this.value),
        editor: new Editor({
          extensions: [
            Document,
            Paragraph,
            Text,
            Blockquote,
            BulletList,
            HardBreak,
            Heading.configure({ levels: [1, 2, 3] }),
            HorizontalRule,
            ListItem,
            OrderedList,
            Link,
            Bold,
            Italic,
            Strike,
            Underline,
            History
          ],
          parseOptions: {
            preserveWhitespace: true
          },
          editorProps: {
            attributes: {
              class: 'prose'
            }
          },
          onUpdate: ({ editor }) => {
            cleaner.clean(editor.getHTML(), html => { this.content = html })
          }
        })
      }
    },
    methods: {
      insertImage () {
        let fileInput = this.$refs.hidden.querySelector('input.sce-image[type=file]')
        if (fileInput == null) {
          fileInput = document.createElement('input')
          fileInput.setAttribute('type', 'file')
          fileInput.setAttribute('accept', 'image/png, image/gif, image/jpeg, image/bmp, image/x-icon')
          fileInput.classList.add('sce-image')
          fileInput.addEventListener('change', () => {
            if (fileInput.files != null && fileInput.files[0] != null) {
              const reader = new FileReader()
              reader.onload = (e) => {
                this.editor.chain().setImage({ src: e.target.result }).run()
                fileInput.value = ''
              }
              reader.readAsDataURL(fileInput.files[0])
            }
          })
          this.$refs.hidden.appendChild(fileInput)
        }
        fileInput.click()
      },
      htmlDecode (input) {
        const map = {
          '&amp;': '&',
          '&#038;': '&',
          '&lt;': '<',
          '&gt;': '>',
          '&quot;': '"',
          '&#039;': '\'',
          '&#8217;': '’',
          '&#8216;': '‘',
          '&#8211;': '–',
          '&#8212;': '—',
          '&#8230;': '…',
          '&#8221;': '”'
        }

        return input.replace(/&[\w\d#]{2,5};/g, function (m) { return map[m] })
      }
    },
    mounted () {
      this.content = this.htmlDecode(this.value)
      this.editor.commands.setContent(this.content, false, { preserveWhitespace: true })
    },
    beforeDestroy () {
      this.editor.destroy()
    }
  }
</script>

<style lang="scss">
.sce {
  &__editor {
    .ProseMirror {
      @apply bg-white py-2 px-3 w-full border border-gray-400 rounded text-gray-900;
      @apply focus:outline-none focus:border-primary-500 focus:ring-primary-200 focus:ring-2 focus:ring-offset-0;
    }

    &.is-invalid .ProseMirror {
      @apply border-red-500;
    }
  }
  &__hidden {
    @apply hidden;
  }
}
</style>
