<template>
  <div class="collapsible-section" :class="{'collapsible-section--open': isOpen}">
    <button type="button" class="collapsible-section__toggle" @click="isOpen = !isOpen">
      <span class="collapsible-section__toggle__title">{{ title }}</span>
      <span class="collapsible-section__toggle__hint" v-if="hint">{{ hint }}</span>
      <span class="collapsible-section__toggle__badge badge" v-if="badge">{{ badge }}</span>
      <span class="collapsible-section__toggle__caret far fa-angle-down"></span>
    </button>
    <div class="collapsible-section__content" v-show="isOpen">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'CollapsibleSection',
    props: {
      title: String,
      badge: Number,
      hint: String
    },
    data () {
      return {
        id: Math.random().toString(36).substring(7),
        isOpen: false
      }
    }
  }
</script>

<style lang="scss">
  .collapsible-section {
    @apply bg-gray-100 rounded;

    &:not(:last-child) {
      @apply mb-2
    }

    &__toggle {
      @apply bg-transparent border-none text-left m-0 py-2 px-4 w-full flex items-center;
      @apply focus:outline-none;

      &__title {
        @apply text-gray-600 font-accent flex-1 text-sm;
      }
      &__badge {
        @apply ml-2;
      }
      &__hint {
        @apply text-gray-400 ml-2 text-xs text-right leading-tight uppercase;
      }
      &__caret {
        @apply ml-2 text-gray-500;
        transition: transform .3s ease-in-out;
      }
    }

    &__content {
      @apply px-4 pb-2;
    }

    &--open &__toggle__caret {
      transform: rotate(180deg);
    }

    & + & {
      border-top: none;
    }
  }
</style>
