<template>
  <div>
    <div class="field">
      <div class="controls flex gap-4">
        <div class="control">
          <div class="radio">
            <div class="radio__input">
              <input type="radio" name="recurrent" id="recurrent-no" :checked="!recurrent" @change="recurrent=false">
            </div>
            <div class="radio__label">
              <label for="recurrent-no">Evento único</label>
            </div>
          </div>
        </div>
        <div class="control">
          <div class="radio">
            <div class="radio__input">
              <input type="radio" name="recurrent" id="recurrent-yes" :checked="recurrent" @change="recurrent=true">
            </div>
            <div class="radio__label">
              <label for="recurrent-yes">Evento recorrente</label>
            </div>
          </div>
        </div>
      </div>

    </div>
    <template v-if="recurrent">
      <div class="grid grid-cols-3 gap-2">
        <div class="field col-span-2">
          <label for="cron" class="label">Expressão Cron</label>
          <div class="control">
            <input name="cron" id="cron" type="text" class="input"
                   :value="value.cron" @input="$emit('input', {ano: value.ano, cron: $event.target.value})"
                   v-validate="'required|cron'">
          </div>
        </div>
        <div class="field">
          <label for="ano" class="label">Ano <small class="label__optional">(opcional)</small></label>
          <div class="control">
            <input name="ano" id="ano" type="text" class="input"
                   :value="value.ano" @input="$emit('input', {cron: value.cron, ano: $event.target.value})"
                   v-validate="'numeric'" placeholder="Todos">
          </div>
        </div>
      </div>

      <div class="-mt-3">
        <small class="field__help field__help--invalid" v-if="errors.has('cron')">{{ errors.first('cron') }}</small>
        <small class="field__help field__help--invalid" v-if="errors.has('ano')">{{ errors.first('ano') }}</small>
        <small class="field__help" v-if="value.cron !== ''">
          {{ formattedCron }}
        </small>
      </div>

    </template>
    <template v-else>
      <div class="field">
        <label class="label">
          Data e hora
        </label>
        <div class="control">
          <date-picker :value="dateMoment" @input="dateInput" v-validate="'required'"
                       name="dataEHora" data-vv-as="data e hora"
                       :class="{ 'is-invalid': errors.has('dataEHora') }" />
        </div>
        <small class="field__help field__help--invalid" v-if="errors.has('dataEHora')">{{ errors.first('dataEHora') }}</small>
      </div>
    </template>
  </div>
</template>

<script>
  import formatters from '../../mixins/formatters'
  import DatePicker from '../DatePicker.vue'

  export default {
    name: 'CronInput',
    inject: ['$validator'],
    mixins: [formatters],
    components: {
      DatePicker
    },
    props: ['value'],
    data () {
      return {
        recurrent: this.value.cron === '' ? false : !this.isCronUnique(this.value.cron, this.value.ano),
        datePickerConfig: {
          locale: this.$moment.locale(),
          icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar',
            up: 'fas fa-arrow-up',
            down: 'fas fa-arrow-down',
            previous: 'fas fa-chevron-left',
            next: 'fas fa-chevron-right',
            today: 'fas fa-calendar-check',
            clear: 'far fa-trash-alt',
            close: 'far fa-times-circle'
          }
        }
      }
    },
    computed: {
      formattedCron () {
        return this.cronf(this.value.cron, this.value.ano)
      },
      dateMoment () {
        return this.cronToMoment(this.value.cron, this.value.ano)
      }
    },
    methods: {
      dateInput ($event) {
        console.log('date input', $event)
        const date = this.$moment($event)
        this.$emit('input', {
          cron: date.format('mm HH DD MM *'),
          ano: date.format('YYYY')
        })
      }
    }
  }
</script>
