<template>
  <modal class="event-detail" with-close id="event-detail">
    <div class="modal__body">
      <h3 class="modal__title">{{ event.nome }}</h3>

      <p class="event-detail__item" v-if="event.local">
        <list-logo class="float-right mr-0" icon="fas fa-map-marker-alt" key="local" />
        <small class="event-detail__item__label">Local</small>
        {{ event.local }}
      </p>
      <p class="event-detail__item" v-if="event.grupo">
        <list-logo class="float-right mr-0" :grupo="event.grupo" icon="fas fa-users" key="grupo" />
        <small class="event-detail__item__label">Grupo</small>
        {{ event.grupo.nome }}
      </p>
      <template v-if="isUnique">
        <p class="event-detail__item">
          <list-logo class="float-right mr-0" icon="far fa-calendar-day" key="data" />
          <small class="event-detail__item__label">Data e hora</small>
          {{ cronf(event.cron, event.ano, 'LLLL') }}
        </p>
      </template>
      <template v-else>
        <p class="event-detail__item">
          <list-logo class="float-right mr-0" icon="far fa-calendar-alt" key="cron" />
          <small class="event-detail__item__label">Frequência</small>
          {{ cronf(event.cron, event.ano) }}
        </p>
        <div class="event-detail__item" v-if="event.exceto && event.exceto.length > 0">
          <list-logo class="float-right mr-0" icon="far fa-calendar-exclamation" key="excepto" />
          <small class="event-detail__item__label">Exceções</small>
          <ul >
            <li v-for="(data, idx) in event.exceto" :key="idx">
              <template v-if="isArray(data)">
                De {{ mf(data[0], 'LL') }} até {{ mf(data[1], 'LL') }}
              </template>
              <template v-else>{{ mf(data, 'LL') }}</template>
            </li>
          </ul>
        </div>
        <div class="event-detail__item">
          <list-logo class="float-right mr-0" icon="far fa-calendar-check" key="ocurs" />
          <small class="event-detail__item__label">Próximas ocorrências</small>
          <ul v-if="nextOccurrencies.length > 0">
            <li v-for="(data, idx) in nextOccurrencies" :key="idx">{{ mf(data, 'LLLL') }}</li>
          </ul>
          <p class="text-muted" v-else>Nenhuma ocurrência mais</p>
        </div>
      </template>
    </div>
  </modal>
</template>

<script>
  import cronParser from 'cron-parser'

  import ListLogo from '../ListLogo.vue'
  import formatters from '../../mixins/formatters'

  export default {
    name: 'EventDetail',
    mixins: [formatters],
    components: {
      ListLogo
    },
    props: {
      event: {
        type: Object,
        required: true
      }
    },
    computed: {
      isUnique () {
        return this.isCronUnique(this.event.cron, this.event.ano)
      },
      nextOccurrencies () {
        if (this.event.to && this.$moment(this.event.to).isBefore()) return []
        const exceptDates = []
        if (this.event.exceto) {
          this.event.exceto.forEach(item => {
            if (this.isArray(item)) {
              const date = this.$moment(item[0])
              const endDate = this.$moment(item[1])
              while (date.isSameOrBefore(endDate)) {
                exceptDates.push(date.format('YYYY-MM-DD'))
                date.add(1, 'day')
              }
            } else {
              exceptDates.push(item)
            }
          })
        }
        const parserOpts = {}
        if (this.event.from && this.$moment(this.event.from).isAfter()) parserOpts.currentDate = this.event.from
        if (this.event.to && this.$moment(this.event.to).isAfter()) parserOpts.endDate = this.event.to
        const interval = cronParser.parseExpression(this.event.cron, parserOpts)
        const ocs = []
        while (ocs.length < 5) {
          try {
            const date = interval.next().toDate()
            if (!exceptDates.includes(this.$moment(date).format('YYYY-MM-DD'))) ocs.push(date)
          } catch (e) {
            break
          }
        }
        return ocs
      }
    },
    methods: {
      isArray (obj) {
        return Array.isArray(obj)
      },
      show () {
        this.$root.openModal('event-detail')
      }
    }
  }
</script>

<style scoped lang="scss">
  .event-detail {
    &__item {
      @apply mb-3;

      &__label {
        @apply text-gray-500 block;
      }
    }
  }
</style>
