<template>
  <div>
    <div class="events-list" v-if="events.length > 0">
      <div class="flex justify-between items-center mb-4">
          <button class="button" type="button" @click="openCreateModal">
            <span class="far fa-plus"></span>
            Criar
          </button>
          <select class="input" v-model="yearFilter" style="width: auto">
            <option selected :value="null">Todos os anos</option>
            <option v-for="year in years" :key="year">{{ year }}</option>
          </select>
      </div>
      <div class="sautor-list events-list__list">
        <article class="sautor-list__item" v-for="event in events" :key="event.id">
          <list-logo :grupo="event.grupo" icon="far fa-calendar-alt" />
          <div class="sautor-list__item__data">
            <p class="sautor-list__item__name">{{ event.nome }}</p>
            <p class="sautor-list__item__meta">
              {{ cronf(event.cron, event.ano) }}
              <template v-if="event.grupo">
                &middot;
                {{ event.grupo.nome_curto }}
              </template>
              <span class="badge badge-danger" v-if="event.grupo && !event.visivel_no_inicio">
                              Oculto no início
                          </span>
            </p>
          </div>
          <div class="sautor-list__item__actions">
            <a title="Editar" href="#" @click.prevent="openEdit(event)">
              <span class="fas fa-pencil"></span>
            </a>
            <a title="Detalhes" href="#" @click.prevent="showDetail(event)">
              <span class="fas fa-info-circle"></span>
            </a>
          </div>
        </article>
      </div>
      <event-detail :event="openEvent" v-if="openEvent !== null" ref="detailModal"></event-detail>
      <modal class="modal--lg" id="editEvent" with-close>
        <div class="modal__body">
          <h3 class="modal__title">Editar evento</h3>
          <events-form ref="editForm" v-model="editingEvent" v-if="editingEvent" :key="editingEvent.id"/>
        </div>
        <div class="modal__footer">
            <button class="button button--primary" type="button" @click="updateEvent">Editar</button>
            <button class="button" type="button" @click="$root.closeModal('editEvent')">Cancelar</button>

            <button class="button sm:mr-auto" :class="[confirmDelete ? 'button--danger' : 'button--danger-outline']" type="button"
                    @click="deleteEvent">
              <span class="far fa-trash"></span>
              Eliminar
            </button>
        </div>
      </modal>
    </div>
    <div v-else>
      <div class="mb-4">
        <button class="button" type="button" @click="openCreateModal">
          <span class="far fa-plus"></span>
          Criar
        </button>
      </div>
      <section class="sautor-list--empty">
        Não existem eventos
      </section>
    </div>

    <modal class="modal--lg" id="createEvent" with-close>
      <div class="modal__body">
        <h3 class="modal__title">Criar evento</h3>
        <events-form ref="createForm" v-model="creatingEvent"/>
      </div>
      <div class="modal__footer">
        <button class="button button--primary" type="button" @click="createEvent">Criar</button>
        <button class="button" type="button" @click="$root.closeModal('createEvent')">Cancelar</button>
      </div>
    </modal>
  </div>
</template>

<script>
  import EventsForm from './EventsForm.vue'
  import EventDetail from './EventDetail.vue'
  import ListLogo from '../ListLogo.vue'
  import formatters from '../../mixins/formatters'

  export default {
    name: 'events-list',
    mixins: [formatters],
    components: {
      EventsForm,
      EventDetail,
      ListLogo
    },
    props: {
      value: {
        type: Array,
        required: true
      },
      controllerUrl: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        allEvents: null,
        yearFilter: null,
        openEvent: null,
        creatingEvent: null,
        editingEvent: null,
        confirmDelete: false
      }
    },
    computed: {
      events () {
        let events = this.allEvents.slice()
        if (this.yearFilter) {
        events = events.filter(e => e.ano == this.yearFilter) // eslint-disable-line
        }
        return events
      },
      years () {
        return [...new Set(this.allEvents.slice().map(e => e.ano).filter(e => e).sort().reverse())]
      }
    },
    methods: {
      showDetail (evt) {
        this.openEvent = evt
        this.$nextTick(() => this.$refs.detailModal.show())
      },
      openCreateModal () {
        this.creatingEvent = null
        this.$nextTick(() => { this.$root.openModal('createEvent') })
      },
      createEvent (evt) {
        evt.preventDefault()
        this.$refs.createForm.validate().then(result => {
          if (!result) return
          this.$http.post(this.controllerUrl, this.creatingEvent)
            .then(response => {
              this.$root.closeModal('createEvent')
              this.allEvents.push(response.data)
              new window.FilamentNotification()
                .title('Evento criado com sucesso.')
                .success()
                .send()
            })
            .catch(_ => {
              new window.FilamentNotification()
                .title('Ocorreu um erro ao criar o evento.')
                .danger()
                .send()
            })
        })
      },
      openEdit (event) {
        this.confirmDelete = false
        this.editingEvent = Object.assign({}, event)
        this.$nextTick(() => { this.$root.openModal('editEvent') })
      },
      updateEvent () {
        this.$refs.editForm.validate().then(result => {
          if (!result) return
          const payload = Object.assign({}, this.editingEvent)
          delete payload.id
          delete payload.grupo
          this.$http.put(`${this.controllerUrl}/${this.editingEvent.id}`, payload)
            .then(response => {
              this.$root.closeModal('editEvent')
              this.allEvents.splice(this.allEvents.findIndex(e => e.id === response.data.id), 1, response.data)
              new window.FilamentNotification()
                .title('Evento editado com sucesso')
                .success()
                .send()
            })
        })
      },
      deleteEvent () {
        if (this.confirmDelete) {
          this.$http.delete(`${this.controllerUrl}/${this.editingEvent.id}`)
            .then(response => {
              this.$root.closeModal('editEvent')
              this.allEvents.splice(this.allEvents.findIndex(e => e.id === this.editingEvent.id), 1)
              new window.FilamentNotification()
                .title('Evento eliminado com sucesso')
                .success()
                .send()
            })
        } else {
          this.confirmDelete = true
        }
      }
    },
    created () {
      this.allEvents = this.value
    }
  }
</script>
