<template>
  <form class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div>
      <div class="field">
        <label class="label">Nome</label>
        <div class="control">
          <input name="nome" id="nome" type="text" class="input" v-model="event.nome" v-validate="'required'">
        </div>
        <span class="field__help field__help--invalid" v-if="errors.has('nome')">
            {{ errors.first('nome') }}
        </span>
      </div>
      <div class="field">
        <label class="label">Local <span class="label__optional">(opcional)</span></label>
        <div class="control">
          <input name="local" id="local" type="text" class="input" v-model="event.local">
        </div>
      </div>
      <div class="field">
        <label class="label">Grupo <span class="label__optional">(opcional)</span></label>
        <div class="control">
          <grupo-picker v-model="event.grupo_id" class="w-full"></grupo-picker>
        </div>
      </div>
      <div class="field">
        <div class="checkbox">
          <div class="checkbox__input">
            <input type="checkbox" id="visivel_no_inicio" name="visivel_no_inicio"
                   v-model="event.visivel_no_inicio" :disabled="!event.grupo_id">
          </div>
          <div class="checkbox__label">
            <label for="visivel_no_inicio">Visível no início</label>
          </div>
        </div>
      </div>
    </div>
    <div>
      <cron-input :value="{cron: event.cron, ano: event.ano }" @input="cronInput"></cron-input>

      <div v-show="event.cron !== '' && !isCronUnique(event.cron, event.ano)" class="mt-4">
        <collapsible-section title="Exceções" :badge="event.exceto && event.exceto.length">
          <except-input v-model="event.exceto" />
        </collapsible-section>
        <collapsible-section title="Início e fim" :hint="fromToHint">
          <div class="flex gap-1">
              <div class="field flex-1">
                <label class="label">De</label>
                <div class="control">
                  <date-picker :value="event.from" @input="fromToInput('from', $event)" variant="small" />
                </div>
              </div>
              <div class="field flex-1">
                <label class="label">Até</label>
                <div class="control">
                  <date-picker :value="event.to" @input="fromToInput('to', $event)" variant="small" />
                </div>
              </div>
          </div>
        </collapsible-section>
      </div>
    </div>
  </form>
</template>

<script>
  import DatePicker from '../DatePicker.vue'
  import GrupoPicker from '../GrupoPicker.vue'
  import CronInput from './CronInput.vue'
  import ExceptInput from './ExceptInput.vue'
  import CollapsibleSection from './CollapsibleSection.vue'

  import cronHelpers from '../../mixins/cronHelpers'

  const EMPTY_EVENT = {
    nome: '',
    local: '',
    cron: '',
    ano: '',
    exceto: [],
    from: null,
    to: null,
    grupo_id: null,
    visivel_no_inicio: false
  }

  export default {
    name: 'EventsForm',
    mixins: [cronHelpers],
    components: {
      DatePicker,
      GrupoPicker,
      CronInput,
      ExceptInput,
      CollapsibleSection
    },
    props: {
      value: {
        type: Object,
        required: false,
        default: null
      }
    },
    data () {
      return {
        event: Object.assign({}, EMPTY_EVENT)
      }
    },
    computed: {
      fromToHint () {
        const FORMAT = 'D MMM YYYY'
        if (this.event.from && this.event.to) {
          return `De ${this.$moment(this.event.from).format(FORMAT)} a ${this.$moment(this.event.to).format(FORMAT)}`
        }
        if (this.event.from) {
          return `De ${this.$moment(this.event.from).format(FORMAT)}`
        }
        if (this.event.to) {
          return `Até ${this.$moment(this.event.to).format(FORMAT)}`
        }
        return null
      }
    },
    methods: {
      validate () {
        return this.$validator.validateAll()
      },
      loadValue () {
        if (this.value === null) {
          this.event = Object.assign({}, EMPTY_EVENT)
        } else {
          for (const prop in this.value) {
            if (prop in this.value) {
              if (this.value[prop] !== this.event[prop]) {
                this.event[prop] = this.value[prop]
              }
            }
          }
          if (this.event.exceto === null) this.event.exceto = []
        }
      },
      cronInput (value) {
        console.log('cron', value)
        this.event = {
          ...this.event,
          ...value
        }
      },
      fromToInput (field, date) {
        this.event[field] = this.$moment(date).format('YYYY-MM-DD HH:mm:ss')
      }
    },
    watch: {
      value: {
        handler () {
          this.loadValue()
        },
        deep: true
      },
      event: {
        handler () {
          this.$emit('input', this.event)
        },
        deep: true
      }
    },
    created () {
      this.loadValue()
    }
  }
</script>
