<template>
  <div>
    <table>
      <thead class="thead-light">
      <tr>
        <th class="label w-1/2">De</th>
        <th class="label w-1/2">Até</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="(item, idx) in value" :key="`${idx}-${isArray(item)?'rng':'sng'}`">
        <template v-if="isArray(item)">
          <td>
            <div style="position: relative;">
              <date-picker date class="form-control-sm" variant="small"
                           :value="$moment(item[0])" @input="updateRange(idx, 0, $event)" />
            </div>
          </td>
          <td>
            <div style="position: relative;">
              <date-picker date class="form-control-sm" variant="small"
                           :value="$moment(item[1])" @input="updateRange(idx, 1, $event)" />
            </div>
          </td>
        </template>
        <template v-else>
          <td colspan="2">
            <div style="position: relative;">
              <date-picker date class="form-control-sm" variant="small"
                           :value="$moment(item)" @input="updateSingle(idx, $event)" />
            </div>
          </td>
        </template>
        <td>
          <div class="flex ml-1 gap-0.5">
            <button type="button" class="button button--small button--icon" @click="change(idx)">
              <span class="far fa-fw" :class="[isArray(item) ?  'fa-calendar-day' : 'fa-calendar-week']"></span>
            </button>
            <button type="button" class="button button--small button--icon button--danger" @click="remove(idx)">
              <span class="far fa-fw fa-times"></span>
            </button>
          </div>
        </td>
      </tr>
      <tr>
        <td class="text-gray-500" colspan="2">
          <transition name="fade">
            <span v-show="!value">Sem exceções</span>
          </transition>
        </td>
        <td class="text-right">
          <button type="button" class="button button--small button--icon" @click="add">
            <span class="far fa-fw fa-plus"></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
  import DatePicker from '../DatePicker.vue'

  export default {
    name: 'ExceptInput',
    components: {
      DatePicker
    },
    props: {
      value: {
        type: Array,
        required: true
      }
    },
    methods: {
      isArray (item) {
        return Array.isArray(item)
      },
      add () {
        const except = [...this.value]
        except.push(this.$moment().format('YYYY-MM-DD'))
        this.$emit('input', except)
      },
      change (idx) {
        const except = [...this.value]
        if (this.isArray(this.value[idx])) {
          except.splice(idx, 1, this.value[idx][0])
        } else {
          except.splice(idx, 1, [this.value[idx], this.value[idx]])
        }
        this.$emit('input', except)
      },
      remove (idx) {
        const except = [...this.value]
        except.splice(idx, 1)
        this.$emit('input', except)
      },
      updateSingle (idx, date) {
        const except = [...this.value]
        except[idx] = date
        this.$emit('input', except)
      },
      updateRange (idx, i2, date) {
        const except = [...this.value]
        except[idx] = [...except[idx]]
        except[idx][i2] = date
        this.$emit('input', except)
      }
    }
  }
</script>
