<template>
  <chrome-picker class="color-picker" :value="value" @input="onChange"/>
</template>

<script>
  import { Chrome } from 'vue-color'

  export default {
    name: 'ColorPicker',
    components: {
      'chrome-picker': Chrome
    },
    props: {
      value: {
        type: String
      }
    },
    methods: {
      onChange (value) {
        this.$emit('input', value.hex)
      }
    }
  }
</script>

<style lang="scss">
.color-picker.vc-chrome {
  @apply font-sans flex w-auto shadow-none rounded-none;

  .vc-chrome-saturation-wrap {
    @apply w-56 pb-0;
    aspect-ratio: 16/9;
  }

  .vc-chrome-toggle-icon {
    @apply inline-block;
  }
}
</style>
