<template>
  <transition appear name="cookie-slide">
    <aside class="cookie-banner" v-if="isOpen">
      <div class="cookie-banner__content">
        <div class="cookie-banner__icon">
          <span class="fad fa-cookie-bite"
                style="--fa-secondary-opacity: 1.0; --fa-primary-color: saddlebrown; --fa-secondary-color: burlywood;"></span>
        </div>
        <div class="cookie-banner__message">
          <p v-if="title" class="font-bold empty:hidden">{{ title }}</p>
          <slot></slot>
        </div>
      </div>
      <div class="cookie-banner__buttons">
        <a v-if="moreLink" :href="moreLink" target="_blank" class="button">
          Ler mais
        </a>
        <button class="button button--primary cookie-banner__accept" type="button" @click="accept">
          {{ acceptLabel }}
        </button>
      </div>
    </aside>
  </transition>
</template>

<script>
  import * as Cookie from 'tiny-cookie'

  export default {
    name: 'CookieBanner',
    props: {
      title: {
        type: String,
        required: false
      },
      moreLink: {
        type: String,
        required: false
      },
      acceptLabel: {
        type: String,
        required: false,
        default: 'Aceito'
      },
      cookieName: {
        type: String,
        required: true
      },
      cookieDuration: {
        type: Number,
        required: true
      }
    },
    data () {
      return {
        isOpen: false
      }
    },
    created () {
      this.open()
    },
    methods: {
      setVisited () {
        Cookie.set(this.cookieName, true, { expires: this.cookieDuration + 'D' })
      },
      getVisited () {
        return Cookie.get(this.cookieName)
      },
      accept () {
        this.setVisited()
        this.close()
      },
      close () {
        this.isOpen = false
      },
      open () {
        if (!this.getVisited() === true) {
          this.isOpen = true
        }
      }
    }
  }
</script>

<style lang="scss">
  .cookie-banner {
    @apply bg-black bg-opacity-[0.75] fixed left-0 right-0 bottom-0 py-6 px-8 flex items-start flex-col backdrop-blur;
    @apply sm:flex-row sm:items-center;

    z-index: 50;

    &__content {
      @apply flex-1 flex flex-col sm:flex-row items-start sm:items-center;
    }

    &__icon {
      @apply mr-0 mb-4 text-4xl sm:mr-4 sm:mb-0;
    }

    &__message {
      @apply text-white prose max-w-none;
      p {
        margin-bottom: .35em;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__buttons {
      @apply flex flex-row-reverse ml-0 mt-1 gap-2 sm:flex-row sm:ml-4 sm:mt-0 sm:items-center;
    }

    &__more {
      @apply text-white opacity-90;
      @apply hover:text-white hover:opacity-100;
    }
  }

  .cookie-slide {
    &-enter-active, &-leave-active {
      transition: transform .5s ease-in-out;
    }

    &-enter, &-leave-to {
      transform: translateY(100%);
    }
  }
</style>
