<template>
  <input :name="name" :id="name" :type="inputType" :class="['input', 'input--'+variant]" :value="parsedValue" @input="onInput">
</template>

<script>
  import moment from 'moment'

  export default {
    name: 'PsaDatePicker',
    inject: ['$validator'],
    $_veeValidate: {
      name () {
        return this.name
      }
    },
    props: {
      name: {
        type: String,
        default: null
      },
      value: {
        default: null,
        required: true,
        validator (value) {
          return value === null || value instanceof Date || typeof value === 'string' || value instanceof String || value instanceof moment
        }
      },
      date: {
        type: Boolean,
        default: false
      },
      time: {
        type: Boolean,
        default: false
      },
      variant: {
        type: String
      }
    },
    computed: {
      inputType () {
        if (this.time && !this.date) return 'time'
        if (this.date && !this.time) return 'date'
        return 'datetime-local'
      },
      parsedValue () {
        if (!this.value) return null
        return this.$moment(this.value).format(this.dateFormat)
      },
      userFormat () {
        if (this.date) return 'j F Y'
        if (this.time) return 'H:i'
        return `j ${this.variant === 'small' ? 'M' : 'F'} Y, H:i`
      },
      dateFormat () {
        if (this.date) return 'YYYY-MM-DD'
        if (this.time) return 'HH:mm'
        return 'YYYY-MM-DD[T]HH:mm'
      }
    },
    methods: {
      onInput (event) {
        console.log(event.target.value)
        this.$emit('input', event.target.value)
      }
    }
  }
</script>
