<template>
  <component :is="tag" class="dropdown-container" :class="{ [openClass]: isOpen }" v-click-outside="close">
    <slot :toggle="toggleOpen"></slot>
    <div class="dropdown" :class="[{ 'dropdown--open': isOpen }, `dropdown--${position}`]">
      <slot name="dropdown"></slot>
    </div>
  </component>
</template>

<script>
  export default {
    name: 'Dropdown',
    props: {
      openClass: {
        type: String,
        default: 'is-open'
      },
      tag: {
        type: String,
        default: 'div'
      },
      position: {
        type: String,
        default: 'left'
      }
    },
    data () {
      return {
        isOpen: false
      }
    },
    methods: {
      toggleOpen () {
        this.isOpen = !this.isOpen
      },
      close (e) {
        if (this.isOpen) this.isOpen = false
      }
    }
  }
</script>
