<template>
  <modal class="file-manager modal--lg" :id="`fm-${name}`" with-close>
    <div class="modal__body">
      <h3 class="modal__title">
        <template v-if="title">{{ title }}</template>
        <template v-else-if="multiple">Escolher ficheiros…</template>
        <template v-else>Escolher ficheiro…</template>
      </h3>
      <div class="text-center text-4xl text-primary-500" v-if="isLoading" key="loading">
        <span class="far fa-circle-notch fa-spin"></span>
      </div>
      <div class="file-manager__files" key="files" v-else-if="files.length > 0">
        <article :class="['file-manager__file', {'file-manager__file--selected': isSelected(file)}]"
                 v-for="file in filteredFiles" :key="file.key" @click="toggleFile(file)">
          <img :src="file.url" class="file-manager__file__preview" v-if="showPreview(file)"/>
          <div class="file-manager__file__preview" v-else>
            <span class="fas fa-file"></span>
          </div>
          <p class="file-manager__file__name">
            {{ file.name }}
          </p>
          <p class="file-manager__file__meta">
            <span class="uppercase">{{ file.extension }}</span>
            &middot;
            {{ formatBytes(file.size) }}
          </p>
          <div class="file-manager__file__check">
            <span class="far fa-check"></span>
          </div>
        </article>
      </div>
      <div class="file-manager__files--empty" v-else>
        Não há ficheiros.
      </div>
    </div>
    <div class="modal__footer">
      <button class="button button--primary" type="button" :disabled="!canChoose" @click="onChoose">Escolher</button>
      <button class="button" type="button" @click="$root.closeModal(`fm-${name}`)">Cancelar</button>

      <input type="file" ref="fileInput" class="hidden" :accept="accept" @change="uploadFiles">

      <div v-if="fileProgress !== null" class="flex rounded-full h-3 sm:w-64 bg-primary-100 sm:mr-auto">
        <div class="rounded-full bg-primary-500 h-full" :style="{width: fileProgress + '%'}"></div>
      </div>
      <button class="button sm:mr-auto" type="button" @click="openUpload" v-else>
        <span class="far fa-upload"></span>
        Carregar ficheiro
      </button>
    </div>
  </modal>
</template>

<script>
  export default {
    name: 'FileManager',
    props: {
      name: {
        type: String,
        required: true
      },
      path: {
        type: String,
        required: true
      },
      multiple: {
        type: Boolean,
        default: false
      },
      title: {
        type: String
      },
      accept: {
        type: String,
        default: '*'
      },
      value: {
        type: [String, Array],
        default: () => []
      }
    },
    data () {
      return {
        files: [],
        selectedFiles: [],
        isLoading: false,
        fileProgress: null
      }
    },
    methods: {
      loadFiles () {
        this.isLoading = true
        this.$http.get(`/api/ficheiros/${this.path}`)
          .then(response => {
            this.files = response.data
          })
          .finally(() => {
            this.isLoading = false
          })
      },
      loadValue () {
        if (Array.isArray(this.value)) this.selectedFiles = [...this.value]
        else if (this.value) this.selectedFiles = [this.value]
        else this.selectedFiles = []
      },
      showPreview (file) {
        return ['png', 'svg', 'jpeg', 'jpg'].includes(file.extension)
      },
      isSelected (file) {
        return this.selectedFiles.includes(file.url)
      },
      toggleFile (file) {
        if (this.isSelected(file)) {
          this.selectedFiles.splice(this.selectedFiles.indexOf(file.url), 1)
        } else {
          if (this.multiple) this.selectedFiles.push(file.url)
          else this.selectedFiles = [file.url]
        }
      },
      openUpload () {
        this.$refs.fileInput.click()
      },
      uploadFiles () {
        const fileInput = this.$refs.fileInput
        if (fileInput.files != null && fileInput.files[0] != null) {
          this.fileProgress = 0
          const formData = new FormData()
          formData.append('file', fileInput.files[0])
          this.$http.post(`/api/ficheiros/${this.path}`, formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            },
            onUploadProgress: (progressEvent) => {
              this.fileProgress = Math.round((progressEvent.loaded * 100) / progressEvent.total)
            }
          })
            .then(response => {
              this.fileProgress = null
              this.loadFiles()
              this.toggleFile({ url: response.data })
            })
            .catch(e => {
              console.log(e)
              this.fileProgress = null
              new window.FilamentNotification()
                .title('Ocorreu um erro ao carregar o ficheiro.')
                .danger()
                .send()
            })
        }
      },
      onChoose () {
        this.$emit('input', this.multiple ? this.selectedFiles : this.selectedFiles[0])
        this.$root.closeModal(`fm-${this.name}`)
      },
      formatBytes (bytes, decimals) {
        // eslint-disable-next-line eqeqeq
        if (bytes == 0) return '0 Bytes'
        const k = 1024
        const dm = decimals || 2
        const sizes = ['By', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
        const i = Math.floor(Math.log(bytes) / Math.log(k))
        return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i]
      }
    },
    computed: {
      isOpen () {
        return this.$root.isModalOpen(`fm-${this.name}`)
      },
      canChoose () {
        return this.selectedFiles.length > 0
      },
      filteredFiles () {
        const acceptRegex = new RegExp(this.accept.replace('/', '\\/').replace('*', '.*'))
        console.log(acceptRegex)
        return this.files.filter(f => acceptRegex.test(f.mime))
      }
    },
    watch: {
      isOpen (newVal) {
        if (newVal) {
          this.loadValue()
          this.loadFiles()
        }
      }
    }
  }
</script>

<style lang="scss">
.file-manager {

  &__files {
    @apply overflow-y-auto max-h-[70vh] grid grid-cols-4 gap-3 p-2 -m-2 -mb-6 pb-6 overscroll-contain;

    &--empty {
      @apply py-8 text-gray-500 text-center;
    }
  }

  &__file {
    @apply relative bg-gray-100 border border-gray-300 p-3 cursor-pointer transition duration-200 ring-2 ring-transparent;
    @apply hover:border-gray-400;

    &__preview {
      @apply w-full h-20 object-contain object-center flex items-center text-gray-300 text-2xl justify-center mb-3;
    }

    &__name {
      @apply text-center text-sm font-accent truncate;
    }

    &__meta {
      @apply text-center text-xs text-gray-500;
    }

    &__check {
      @apply absolute w-8 h-8 -bottom-2 -right-2 bg-primary-500 text-white text-lg flex items-center justify-center opacity-0 pointer-events-none transition duration-200 scale-90;
    }

    &--selected {
      @apply border-primary-500 ring-primary-500 hover:border-primary-500;
    }

    &--selected &__check {
      @apply opacity-100 scale-100;
    }
  }
}
</style>
