<template>
  <div class="sautor-flickity" ref="flickity">
    <slot></slot>
  </div>
</template>

<script>
  import Flickity from 'flickity'
  import 'flickity/css/flickity.css'

  export default {
    name: 'Flickity',
    props: {
      options: {
        type: Object,
        default: () => ({})
      }
    },
    data () {
      return {
        carousel: null
      }
    },
    mounted () {
      this.carousel = new Flickity(this.$refs.flickity, this.options)
    }
  }
</script>
