<template>
  <div>
    <treeselect
        v-if="allGrupos !== null"
        :value="innerValue"
        :options="topLevelGrupos"
        :normalizer="normalizer"
        :clearable="parentId === null"
        :multiple="multiple"
        loading-text="A carregar…"
        no-children-text="Sem grupos filho"
        no-options-text="Sem grupos disponíveis"
        no-results-text="Não foram encontrados resultados"
        placeholder="Escolha um grupo"
        @input="onInput"
    >
    </treeselect>
    <div class="spinner-border text-muted" role="status" v-else>
      <span class="sr-only">A carregar...</span>
    </div>
    <input v-if="withInput" type="hidden" :name="name" :value="innerValue">
  </div>
</template>

<script>
  import Treeselect, { LOAD_ROOT_OPTIONS } from '@riophae/vue-treeselect'

  export default {
    name: 'GrupoPicker',
    components: {
      Treeselect
    },
    props: {
      value: {
        type: [String, Array],
        required: false,
        default: null
      },
      name: {
        type: String
      },
      parentId: {
        type: String,
        default: null
      },
      withInput: {
        type: Boolean,
        default: false
      },
      visiveis: {
        type: Boolean,
        default: false
      },
      multiple: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        allGrupos: null,
        innerValue: null
      }
    },
    computed: {
      topLevelGrupos () {
        if (!this.allGrupos) return null
        const ids = this.allGrupos.map(g => g.id)
        return this.allGrupos.filter(g => !g.pai || !ids.includes(g.pai.id))
      }
    },
    methods: {
      async loadGrupos () {
        if (this.parentId) {
          const response = await this.$http.post('/graphql', { query: `{ grupo (id: ${this.parentId}) { id nome nome_curto logo filhos { id } pai { id } } }` })
          this.allGrupos = response.data.data.grupo
        } else if (this.visiveis) {
          const response = await this.$http.post('/graphql', { query: '{ gruposVisiveis { id nome nome_curto logo filhos { id } pai { id } } }' })
          this.allGrupos = response.data.data.gruposVisiveis
        } else {
          const response = await this.$http.post('/graphql', { query: '{ gruposGeridos { id nome nome_curto logo filhos { id } pai { id } } }' })
          this.allGrupos = response.data.data.gruposGeridos
        }
      },
      async loadOptions ({ action, parentNode }) {
        switch (action) {
        case LOAD_ROOT_OPTIONS:
          await this.loadGrupos()
          break
        }
      },
      normalizer (grupo) {
        if (grupo.label) return grupo
        const grp = {
          id: grupo.id,
          label: grupo.nome,
          logo: grupo.logo
        }
        if (grupo.filhos && grupo.filhos.length > 0) {
          grp.children = this.allGrupos.filter(g => g.pai && g.pai.id === grupo.id).map(g => this.normalizer(g))
        }
        return grp
      },
      onInput (value) {
        this.$emit('input', value)
        this.innerValue = value
      },
      loadValue () {
        let newVal = this.value
        if (!this.multiple && newVal === '') newVal = null
        this.innerValue = newVal
      }
    },
    created () {
      this.loadGrupos()
    },
    mounted () {
      this.loadValue()
    },
    watch: {
      value (newVal, oldVal) {
        if (newVal !== oldVal) this.loadValue()
      }
    }
  }
</script>
