<template>
  <div class="sautor-list__item__logo">
    <img v-if="grupo && grupo.logo" :src="grupo.logo" :alt="grupo.nome">
    <span v-else class="sautor-list__item__logo__icon">
        <span :class="[icon]"></span>
    </span>
  </div>
</template>

<script>
  export default {
    name: 'ListLogo',
    props: ['grupo', 'icon']
  }
</script>
