<template>
  <div class="text-center" v-if="pages === null">
    <div class="spinner-border text-secondary"></div>
  </div>
  <div class="menu-input" v-else>
    <draggable v-model="content" class="menu-input__list">
      <div v-for="(page, idx) in content" :key="page.id" class="menu-input__item">
        <span class="fas fa-grip-vertical fa-fw menu-input__item__icon"></span>
        <span class="menu-input__item__title">
          {{ page.titulo }}
          <span class="ml-2 text-xs rounded py-1 px-2 bg-gray-200 text-gray-500" v-if="!page.publico">Privada</span>
        </span>
        <span class="menu-input__item__delete">
          <button class="button button--icon button--small button--danger-light" @click="remove(idx)">
            <span class="far fa-times fa-fw"></span>
          </button>
        </span>
      </div>
    </draggable>
    <div class="control mt-2">
      <select class="input flex-1 input--small" v-model="pageToAdd" :disabled="remainingPages.length === 0">
        <option disabled v-if="remainingPages.length === 0">Sem páginas</option>
        <template v-else>
          <option :value="null">Escolha uma página</option>
          <optgroup label="Públicas">
            <option v-for="page in remainingPages.filter(p => p.publico)" :value="page" :key="page.id">{{ page.titulo }}</option>
          </optgroup>
          <optgroup label="Privadas">
            <option v-for="page in remainingPages.filter(p => !p.publico)" :value="page" :key="page.id">{{ page.titulo }}</option>
          </optgroup>
        </template>
      </select>
      <button class="button button--icon button--small" type="button" @click="add" :disabled="!pageToAdd">
        <span class="far fa-plus fa-fw"></span>
      </button>
    </div>
    <input type="hidden" :value="inputValue" :name="name">
  </div>
</template>

<script>
  import draggable from 'vuedraggable'

  export default {
    components: {
      draggable
    },
    name: 'MenuInput',
    props: {
      value: String,
      name: String,
      grupo: String
    },
    data () {
      return {
        content: [],
        pages: null,
        pageToAdd: null
      }
    },
    methods: {
      async fetchPages () {
        const response = await this.$http.post('/graphql', { query: `{ grupo (id: ${this.grupo}) { paginas { id titulo publico } } }` })
        this.pages = response.data.data.grupo.paginas
      },
      add () {
        this.content.push(this.pageToAdd)
        this.pageToAdd = null
      },
      remove (idx) {
        this.content.splice(idx, 1)
      }
    },
    computed: {
      inputValue () {
        return this.content.map(p => p.id).join(',')
      },
      remainingPages () {
        if (!this.pages) return []
        const ids = this.content.map(p => p.id)
        return this.pages.filter(p => !ids.includes(p.id))
      }
    },
    async mounted () {
      await this.fetchPages()
      if (!this.value || this.value.trim() === '') return
      this.content = this.value.split(',').map(id => this.pages.find(p => p.id === id))
    }
  }
</script>

<style lang="scss">
  .menu-input {
    &__list {
    }
    &__item {
      @apply border border-gray-300 flex items-center py-2 px-3 cursor-grab first:rounded-t last:rounded-b;

      &:not(:first-child) {
        @apply border-t-0;
      }

      &__icon {
        @apply text-gray-300 mr-2 -ml-1;
      }
      &__title {
        @apply text-sm font-accent flex-1;
      }
    }
  }
</style>
