<template>
  <div class="modal" :id="id" :class="{'is-active': $root.isModalOpen(id)}">
    <div class="modal__dialog">
      <button class="modal__close" type="button" @click.prevent="$root.closeModal(id)" v-if="withClose">
        <span class="far fa-times"></span>
      </button>
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Modal',
    props: {
      id: {
        type: String,
        required: true
      },
      withClose: {
        type: Boolean,
        required: false
      }
    }
  }
</script>
