<template>
  <div>
    <treeselect
      v-if="!isLoading"
      value-format="object"
      :value="selectedPessoa"
      :options="pessoas"
      :normalizer="normalizer"
      :clearable="false"
      :load-options="loadOptions"
      :async="!grupoId"
      loading-text="A carregar…"
      no-options-text="Sem pessoas disponíveis"
      no-results-text="Não foram encontrados resultados"
      search-prompt-text="Escreva para procurar…"
      placeholder="Escolha uma pessoa"
      @input="onInput"
    >
    </treeselect>
    <div class="spinner-border text-muted" role="status" v-else>
      <span class="sr-only">A carregar...</span>
    </div>
    <input v-if="withInput" type="hidden" :name="name" :value="selectedPessoa ? selectedPessoa.id : null" />
  </div>
</template>

<script>
  import Treeselect, { ASYNC_SEARCH, LOAD_ROOT_OPTIONS } from '@riophae/vue-treeselect'

  export default {
    name: 'PessoaPicker',
    $_veeValidate: {
      // fetch the current value from the innerValue defined in the component data.
      value () {
        return this.selectedPessoa ? this.selectedPessoa.id : undefined
      },
      name () {
        return this.name
      }
    },
    components: {
      Treeselect
    },
    props: {
      value: {
        type: String,
        required: false,
        default: null
      },
      name: {
        type: String
      },
      grupoId: {
        type: String
      },
      withInput: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        isLoading: true,
        selectedPessoa: null,
        pessoas: null
      }
    },
    methods: {
      async loadPessoas (term) {
        if (this.grupoId) {
          const response = await this.$http.post('/graphql', { query: `{ grupo (id: ${this.grupoId}) { inscritos ${term ? `(term: "${term}")` : ''} { id nomeExibicao foto } } }` })
          return response.data.data.grupo.inscritos
        }
        const response = await this.$http.post('/graphql', { query: `{ pessoas (term: "${term}") { id nomeExibicao foto } }` })
        return response.data.data.pessoas
      },
      async loadOptions ({ action, searchQuery, callback }) {
        let pessoas
        switch (action) {
        case LOAD_ROOT_OPTIONS:
          if (this.grupoId) {
            this.pessoas = await this.loadPessoas()
          }
          break
        case ASYNC_SEARCH:
          pessoas = await this.loadPessoas(searchQuery)
          callback(null, pessoas)
          break
        }
      },
      async loadInit () {
        if (!this.value) {
          this.isLoading = false
          return
        }
        const response = await this.$http.post('/graphql', { query: `{ pessoa (id: ${this.value}) { id nomeExibicao foto } }` })
        this.selectedPessoa = response.data.data.pessoa
        this.isLoading = false
      },
      normalizer (pessoa) {
        if (pessoa.label) return pessoa
        return {
          id: pessoa.id,
          label: pessoa.nomeExibicao
        }
      },
      onInput (value) {
        this.$emit('input', value.id)
        this.selectedPessoa = value
      }
    },
    created () {
      this.loadInit()
    }
  }
</script>
