<template>
  <div class="pessoa-input">
    <div class="field" :class="{ 'field--invalid': errors.has(scope + '.' + name) }">
      <label class="label">
        {{ label }}
        <span class="label__optional" v-if="!required">(opcional)</span>
      </label>
      <div class="control">
        <input type="text" class="input" :name="name" @input="getPessoa"
               v-model.trim="nic" :data-vv-scope="scope">
      </div>
      <small class="field__help">
        N.º do Bilhete de Identidade ou Cartão de Cidadão
      </small>
      <span class="field__help field__help--invalid" v-if="errors.has(scope + '.' + name)"
            v-html="errors.first(scope + '.' + name)"></span>
    </div>
    <div class="pessoa-info mb-4" :class="{ 'pessoa-info--empty': pessoa === null, 'pessoa-info--loading': isLoading }">
      <template v-if="pessoa">
        <div class="pessoa-info__nome">{{ pessoa.nome }}</div>
        <img :src="pessoa.foto" class="pessoa-info__foto">
      </template>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'pessoa-input',
    inject: ['$validator'],
    $_veeValidate: {
      value () {
        return this.nic
      }
    },
    props: {
      name: {
        type: String,
        required: true
      },
      scope: {
        type: String,
        required: true
      },
      label: {
        type: String,
        required: false,
        default: 'Número de Identificação Civil'
      },
      required: {
        type: Boolean,
        required: false,
        default: false
      }
    },
    data () {
      return {
        nic: null,
        pessoa: null,
        isLoading: false
      }
    },
    methods: {
      getPessoa () {
        this.pessoa = null
        this.isLoading = true
        this.$http.get(`/api/pessoas/nic/${this.nic}`)
          .then(response => {
            this.pessoa = response.data
          })
          .catch(_ => {
            // JUST IGNORE IT
          })
          .finally(() => {
            this.isLoading = false
          })
      }
    }
  }
</script>

<style scoped lang="scss">
.field {
  @apply mb-0;
}

.pessoa-info {
  @apply h-12 flex items-center relative;

  &__nome {
    @apply text-gray-600 relative flex-1 font-bold z-0;
  }

  &__foto {
    @apply relative rounded-full w-12 h-12 z-0;
  }

  &:before, &:after {
    @apply border-2 border-dashed border-gray-200 absolute box-border bg-white transition-opacity duration-300 opacity-0;
    content: '';
  }

  &:before {
    @apply rounded h-6 top-3;
    width: calc(100% - 1rem);
  }

  &:after {
    @apply top-0 right-0 w-12 h-12 rounded-full;
  }

  &--empty {
    &:before, &:after {
      @apply opacity-100;
    }
  }

  &--empty#{&}--loading {
    &:after {
      @apply animate-spin;
    }
  }
}
</style>
