<template>
  <div>
    <div class="field">
      <label for="photoFile" class="label">Escolher ficheiro</label>
      <div class="control">
        <input class="file-input" type="file" id="photoFile" @change="loadFile">
      </div>
    </div>

    <div class="mt-3" v-if="photo">
      <vue-croppie ref="croppie"
                   :viewport="{ width: 200, height: 200, type: 'circle'}"
                   :boundary="{ height: 250 }"
                   :enable-resize="false"
                   enable-exif
                   @update="updateCroppie"></vue-croppie>
    </div>
    <input type="hidden" :name="name" :value="croppedPhoto">
  </div>
</template>

<script>
  import 'croppie/croppie.css'

  export default {
    name: 'photo-picker',
    props: {
      name: {
        type: String,
        required: true
      }
    },
    data () {
      return {
        photo: null,
        croppedPhoto: null
      }
    },
    methods: {
      loadFile ($evt) {
        const file = $evt.target.files[0]
        const reader = new FileReader()
        reader.onload = (e) => {
          this.photo = e.target.result
        }
        reader.readAsDataURL(file)
      },
      updateCroppie () {
        this.$refs.croppie.result({
          type: 'base64',
          size: 'viewport',
          circle: false,
          format: 'jpeg'
        }).then(result => {
          this.croppedPhoto = result
        })
      }
    },
    watch: {
      photo (val) {
        this.$nextTick(() => {
          this.$refs.croppie.bind({
            url: val
          })
        })
      }
    }
  }
</script>
