<template>
<div class="setting-color-picker">
  <div class="checkbox">
    <div class="checkbox__input">
      <input type="checkbox" :id="`scp-${name}`" value="1" v-model="useDefault">
    </div>
    <div class="checkbox__label">
      <label :for="`scp-${name}`">Usar valor padrão</label>
    </div>
  </div>
  <color-picker class="mt-2" v-model="color" v-if="!useDefault" />
  <input type="hidden" :name="`remove[${name}]`" v-if="useDefault">
  <input type="hidden" :name="`setting[${name}]`" :value="color" v-else>
</div>
</template>

<script>
  import ColorPicker from './ColorPicker.vue'

  export default {
    name: 'SettingColorPicker',
    components: {
      ColorPicker
    },
    props: {
      value: {
        type: String,
        default: () => getComputedStyle(document.documentElement).getPropertyValue('--primary-500')
      },
      name: {
        type: String,
        required: true
      },
      isSetting: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        useDefault: true,
        color: undefined
      }
    },
    mounted () {
      this.useDefault = !this.isSetting
      this.color = this.value
    }
  }
</script>

<style scoped>

</style>
