<template>
  <div class="setting-file-picker w-full relative">
    <div class="grid grid-cols-3 gap-2 mb-2" v-if="internalValue && multiple">
      <img v-for="file in internalValue" :key="file" :src="file" class="w-full h-24 object-contain object-center block p-3 rounded" :class="[invert ? 'bg-primary-500' : 'bg-gray-100']">
    </div>
    <template v-else-if="internalValue">
      <img :src="internalValue" class="w-full h-24 object-contain object-center block p-3 rounded" :class="[invert ? 'bg-primary-500' : 'bg-gray-100']" v-if="internalValue">
      <div class="absolute bottom-2 right-2">
        <button class="button button--small button--icon" type="button" @click="openFileManager">
          <span class="fas fa-pencil fa-fw"></span>
        </button>
        <button class="button button--small button--icon" type="button" @click="clear">
          <span class="far fa-times fa-fw"></span>
        </button>
      </div>
    </template>
    <button class="button button--small" type="button" @click="openFileManager" v-if="!internalValue || multiple">
      <span class="fas fa-file mr-2"></span>
      {{ multiple ? 'Escolher ficheiros' : 'Escolher ficheiro' }}
    </button>
    <file-manager :name="name" :accept="accept" :path="path" v-model="internalValue" :title="title" :multiple="multiple"  />
    <input type="hidden" :name="`setting[${name}]`" :value="inputValue" v-if="internalValue">
    <input type="hidden" :name="`remove[${name}]`" value="1" v-else-if="value">
  </div>
</template>

<script>
  import FileManager from './FileManager.vue'
  export default {
    name: 'SettingFilePicker',
    components: { FileManager },
    props: {
      name: {
        type: String,
        required: true
      },
      path: {
        type: String,
        required: true
      },
      value: {
        type: String
      },
      title: {
        type: String
      },
      accept: {
        type: String,
        default: '*'
      },
      invert: {
        type: Boolean,
        default: false
      },
      multiple: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        internalValue: undefined
      }
    },
    computed: {
      inputValue () {
        if (Array.isArray(this.internalValue)) {
          return this.internalValue.join(';')
        } else {
          return this.internalValue
        }
      }
    },
    methods: {
      loadValue () {
        if (this.multiple) {
          this.internalValue = this.value.split(';')
        } else {
          this.internalValue = this.value
        }
      },
      openFileManager () {
        this.$root.openModal(`fm-${this.name}`)
      },
      clear () {
        this.internalValue = undefined
      }
    },
    mounted () {
      this.loadValue()
    }
  }
</script>
