<template>
  <div v-if="loading" class="me-account__section__body flex items-center justify-center">
    <svg class="animate-spin h-10 w-10 text-primary-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
  </div>
  <div v-else-if="isEnabled">
    <p class="me-account__section__banner bg-green-100 text-green-700">
      Tem a autenticação em dois passos <strong>ativa</strong>.
    </p>
    <div class="me-account__section__body text-sm text-gray-700">
      <p class="mb-4">
        Esta funcionalidade é uma camada extra de segurança para a sua conta e pode ser necessária para algumas ações
        neste site.
      </p>
      <p>
        Se quiser desativar a <strong>autenticação em dois passos</strong> pode fazê-lo usando o botão abaixo.
        <strong class="text-warning">Terá de inserir o seu código para o fazer.</strong>
      </p>
    </div>
    <form @submit.prevent="disable2FA" class="me-account__section__footer">
      <button class="button button--danger-outline" type="button" @click="startDisable" v-if="!isDisabling" key="start">
        <span class="far fa-unlock mr-1"></span>
        Desativar 2FA
      </button>
      <template v-else>
        <input placeholder="O seu código" type="text" name="code" v-model="code" class="input" :class="{'input--invalid': errors.has('code')}" v-validate="'required'" key="confirm" />
        <button class="button button--danger" type="submit">Desativar</button>
      </template>
    </form>
  </div>
  <div v-else-if="codes">
    <p class="me-account__section__banner bg-green-100 text-green-700">
      A autenticação em dois passos foi ativada com sucesso.
    </p>
    <div class="me-account__section__body text-sm text-gray-700">
      <p class="mb-4">
        Abaixo estão {{ codes.length }} códigos de utilização única que podera usar caso a sua aplicação falhe ou a perca.
        <strong>Guarde-os num lugar seguro</strong> (imprimindo-os, por exemplo)
        <strong>pois não serão mostrados novamente.</strong>
      </p>
      <div class="prose prose-sm">
        <ul>
          <li v-for="code in codes" :key="code">
            <code>{{ code.code }}</code>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <div v-else-if="secret">
    <div class="me-account__section__body text-sm text-gray-700">
      <div class="flex gap-8">
        <div class="flex-1">
          <p class="font-bold mb-4">Para ativar a autenticação em dois passos:</p>
          <div class="prose prose-sm">
            <ol>
              <li>
                Abra a sua aplicação de autenticador;
                <ul class="text-xs text-gray-500">
                  <li>
                    Caso não tenha nenhuma, precisa instalar uma. Pode ser qualquer aplicação que suporte
                    <em>time-based one time password (TOTP)</em>, como o <strong>Authy</strong> ou o
                    <strong>Google Authenticator</strong>
                  </li>
                </ul>
              </li>
              <li>
                Adicione uma conta à aplicação usando o <strong>Código QR</strong> ao lado;
                <ul class="text-xs text-gray-500">
                  <li>
                    Caso falhe, pode usar o código <strong>{{ secret.string }}</strong>
                  </li>
                </ul>
              </li>
              <li>
                Insira o código gerado pela sua aplicação e clique em <strong>Confirmar</strong>.
              </li>
            </ol>
          </div>
        </div>
        <canvas class="w-52 h-52" ref="canvas"></canvas>
      </div>
    </div>
    <form class="me-account__section__footer" @submit.prevent="confirm2FA">
      <input type="text" name="code" v-model="code" class="input flex-1" :class="{'input--invalid': errors.has('code')}" v-validate="'required'" />
      <button class="button button--primary" type="submit">Confirmar</button>
    </form>
  </div>
  <div v-else>
    <p class="me-account__section__banner bg-yellow-100 text-yellow-700">
      Tem a autenticação em dois passos <strong>inativa</strong>.
    </p>
    <div class="me-account__section__body text-sm text-gray-700">
      <p class="mb-4">
        A autenticação de dois fatores (2FA) é uma camada extra de segurança para a sua conta. Se a ativar, além da
        password ser-lhe-á pedido que introduza um código de acesso especial sempre que tentar entrar na sua conta.
      </p>
      <p class="mb-4">
        Com a autenticação em dois passos, protege a sua conta com algo que conhece (a sua
        password) e com algo que tem (o seu telemóvel).
      </p>
      <p>
        A autenticação em dois passos pode também ser necessária para algumas funcionalidades neste site.
      </p>
    </div>
    <div class="me-account__section__footer">
      <button class="button button--primary" type="button" @click="enable2FA">
        Ativar 2FA
      </button>
    </div>
  </div>
</template>

<script>
  import qrcode from 'qrcode'

  export default {
    name: 'TwoFactor',
    props: {
      enabled: Boolean,
      enableUrl: String,
      confirmUrl: String,
      disableUrl: String
    },
    data () {
      return {
        loading: false,
        isEnabled: false,
        secret: null,
        codes: null,
        code: '',
        isDisabling: false
      }
    },
    methods: {
      enable2FA () {
        this.loading = true
        this.$http.post(this.enableUrl)
          .then(response => {
            this.secret = response.data
            this.loading = false
            this.$nextTick(() => {
              qrcode.toCanvas(this.$refs.canvas, this.secret.uri, { width: 200 })
            })
          })
          .catch(err => {
            console.error(err)
            this.loading = false
            new window.FilamentNotification()
              .title('Ocorreu um erro.')
              .danger()
              .send()
          })
      },
      confirm2FA () {
        this.loading = true
        this.$validator.validateAll()
          .then(() => {
            this.$http.post(this.confirmUrl, {
              code: this.code
            })
              .then(response => {
                this.codes = response.data.codes
                this.loading = false
              })
              .catch(err => {
                // TODO: Tratar os dois erros
                console.error(err)
                this.loading = false
                new window.FilamentNotification()
                  .title('Ocorreu um erro ao confirmar.')
                  .danger()
                  .send()
              })
          })
      },
      startDisable () {
        this.code = ''
        this.isDisabling = true
      },
      disable2FA () {
        this.loading = true
        this.$validator.errors.clear()
        this.$validator.validateAll()
          .then(() => {
            this.$http.delete(this.disableUrl, {
              data: { code: this.code }
            })
              .then(response => {
                this.isDisabling = false
                this.code = ''
                this.isEnabled = false
                this.loading = false
                new window.FilamentNotification()
                  .title('A autenticação em dois passos foi desativada com sucesso.')
                  .success()
                  .send()
              })
              .catch(err => {
                // TODO: Tratar os dois erros
                console.error(err)
                this.loading = false
                if (err.response && err.response.status === 422) {
                  this.$nextTick(() => {
                    const errors = err.response.data.errors
                    Object.keys(errors).forEach((name) => {
                      const field = this.$validator.fields.find({ name })
                      this.$validator.errors.add({
                        field: name,
                        msg: errors[name][0]
                      })
                      field.setFlags({
                        invalid: true,
                        valid: false,
                        validated: true
                      })
                    })
                  })
                } else {
                  new window.FilamentNotification()
                    .title('Ocorreu um erro ao desativar.')
                    .danger()
                    .send()
                }
              })
          })
      }
    },
    mounted () {
      this.isEnabled = this.enabled
    }
  }
</script>
