<template>
  <div>
    <div class="grid grid-cols-3 gap-x-2" v-if="advanced">
      <div class="field col-span-2">
        <label class="label">Tipo de letra principal (Corpo)</label>
        <div class="control">
          <input type="text" v-model="internalValue.sansFamily" class="input">
        </div>
      </div>
      <div class="field">
        <label class="label">Variante de destaque</label>
        <div class="control">
          <input type="text" v-model="internalValue.accentWeight" class="input">
        </div>
      </div>
      <div class="field col-span-2">
        <label class="label">Tipo de letra dos cabeçalhos</label>
        <div class="control">
          <input type="text" v-model="internalValue.headlineFamily" class="input">
        </div>
      </div>
      <div class="field">
        <label class="label">Variante</label>
        <div class="control">
          <input type="text" v-model="internalValue.headlineWeight" class="input">
        </div>
      </div>
      <div class="field col-span-3">
        <label class="label">URL da folha de estilos</label>
        <div class="control">
          <input type="url" v-model="internalValue.stylesheetUrl" class="input">
        </div>
        <small class="field__help" v-if="stylesheetUrl">
          <a class="decoration-1 decoration-gray-400" href="#" @click.prevent="internalValue.stylesheetUrl = stylesheetUrl">
            Preencher a partir do Google Fonts
          </a>
        </small>
      </div>
    </div>
    <div class="grid grid-cols-3 gap-x-2" v-else>
      <div class="field col-span-2">
        <label class="label">Tipo de letra principal (Corpo)</label>
        <div class="control">
          <treeselect class="w-full" v-model="internalValue.sansFamily" :options="options" />
        </div>
      </div>
      <div class="field">
        <label class="label">Variante de destaque</label>
        <div class="control">
          <select class="input" v-model="internalValue.accentWeight" :disabled="weightOptions.length === 0">
            <option :value="null">Padrão (500)</option>
            <option v-for="variant in weightOptions" :key="variant">{{ variant }}</option>
          </select>
        </div>
      </div>
      <div class="field col-span-2">
        <label class="label">Tipo de letra dos cabeçalhos</label>
        <div class="control">
          <treeselect class="w-full" v-model="internalValue.headlineFamily" :options="options" />
        </div>
      </div>
      <div class="field">
        <label class="label">Variante</label>
        <div class="control">
          <select class="input" v-model="internalValue.headlineWeight" :disabled="weightOptions.length === 0">
            <option :value="null">Padrão (700)</option>
            <option v-for="variant in weightOptions" :key="variant">{{ variant }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="prose p-4 bg-gray-100 rounded-sm" :style="previewStyle">
      <h2>Potato</h2>
      <p class="font-sans">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores facere fugiat molestias nobis officia possimus quae quidem rerum sit soluta. Dolorum esse est in laboriosam necessitatibus odit, perspiciatis porro rem.</p>
    </div>

    <button class="button button--small mt-2" type="button" @click="advanced = !advanced">
      {{ advanced ? 'Opções básicas' : 'Opções avançadas' }}
    </button>

    <link rel="stylesheet" :href="advanced || internalValue.stylesheetUrl ? internalValue.stylesheetUrl : stylesheetUrl">

    <input type="hidden" :name="name" :value="formattedValue">
  </div>

</template>

<script>
  import Treeselect from '@riophae/vue-treeselect'

  const API_KEY = 'AIzaSyD8WEr-rpE9d4kRL88xWJe003xoJL98o6Q'
  const NEEDED_VARIANTS = ['regular', '700', 'italic', '700italic']
  export default {
    name: 'TypographyOptions',
    components: {
      Treeselect
    },
    props: ['value', 'name'],
    data () {
      return {
        advanced: false,
        internalValue: {
          sansFamily: null,
          headlineFamily: null,
          headlineWeight: null,
          accentWeight: null,
          stylesheetUrl: null
        },
        fonts: [],
        isLoading: false
      }
    },
    methods: {
      fetchFonts () {
        this.isLoading = true
        fetch(`https://www.googleapis.com/webfonts/v1/webfonts?key=${API_KEY}`)
          .then(response => response.json())
          .then(json => {
            this.fonts = json.items
          })
          .finally(() => { this.isLoading = false })
      },
      loadValue () {
        if (this.value) {
          this.internalValue = {
            ...this.internalValue,
            ...JSON.parse(this.value)
          }
          this.advanced = this.internalValue.stylesheetUrl && !this.internalValue.stylesheetUrl.startsWith('https://fonts.googleapis.com')
        }
      }
    },
    created () {
      this.fetchFonts()
    },
    mounted () {
      this.loadValue()
    },
    computed: {
      previewStyle () {
        const vars = {}
        if (this.internalValue.sansFamily) vars['--sans-family'] = this.internalValue.sansFamily
        if (this.internalValue.headlineFamily) vars['--headline-family'] = this.internalValue.headlineFamily
        else if (this.internalValue.sansFamily) vars['--headline-family'] = this.internalValue.sansFamily
        if (this.internalValue.headlineWeight) vars['--headline-weight'] = this.internalValue.headlineWeight
        return vars
      },
      options () {
        return this.fonts.filter(f => f.variants.filter(v => NEEDED_VARIANTS.includes(v)).length === NEEDED_VARIANTS.length).map(f => ({
          id: f.family, label: f.family
        }))
      },
      weightOptions () {
        if (!this.internalValue.headlineFamily && !this.internalValue.sansFamily) return []
        const baseFamily = this.internalValue.headlineFamily || this.internalValue.sansFamily
        const font = this.fonts.find(f => f.family === baseFamily)
        if (!font) return []
        return font.variants.filter(v => !v.includes('italic'))
      },
      stylesheetUrl () {
        if (!this.internalValue.headlineFamily && !this.internalValue.sansFamily) return null
        const fonts = []
        if (this.internalValue.sansFamily) {
          const variants = [...NEEDED_VARIANTS, 600]
          if (!this.internalValue.headlineFamily && this.internalValue.headlineWeight && !variants.includes(this.internalValue.headlineWeight)) variants.push(this.internalValue.headlineWeight)
          const accentWeight = this.internalValue.accentWeight || 500
          if (!variants.includes(accentWeight)) variants.push(accentWeight)
          fonts.push(`${this.internalValue.sansFamily.replace(/ /g, '+')}:${variants.join(',')}`)
        }
        if (this.internalValue.headlineFamily) {
          fonts.push(`${this.internalValue.headlineFamily.replace(/ /g, '+')}${this.internalValue.headlineWeight ? `:${this.internalValue.headlineWeight}` : ''}`)
        }
        return `https://fonts.googleapis.com/css?family=${fonts.join('|')}&display=swap`
      },
      formattedValue () {
        const newValue = { ...this.internalValue }
        if (!this.advanced) delete newValue.stylesheetUrl
        if (!newValue.sansFamily) {
          delete newValue.sansFamily
          delete newValue.accentWeight
        }
        if (!newValue.headlineFamily) delete newValue.headlineFamily
        if (!newValue.sansFamily && !newValue.headlineFamily) delete newValue.headlineWeight
        if (Object.keys(newValue).length === 0) return null
        if (!this.advanced) newValue.stylesheetUrl = this.stylesheetUrl
        return JSON.stringify(newValue)
      }
    }
  }
</script>
