<template>
  <div v-if="tokens.length > 0">
    <div class="sautor-list sautor-list--full">
      <div class="sautor-list__item" v-for="client in clients.items" :key="client.id">
        <div class="sautor-list__item__data">
          <p class="sautor-list__item__name">{{ client.name }}</p>
          <p class="sautor-list__item__meta">
            Primeira autorização a {{ mf(groupedTokens.items[client.id].last().created_at) }}
          </p>
        </div>
        <div class="sautor-list__item__actions">
          <button type="button" @click="openDetail(client.id)">
            <span class="far fa-plus"></span>
          </button>
        </div>
      </div>
    </div>

    <modal id="tokensModal" with-close>
      <div class="modal__body" v-if="openClient">
        <h3 class="modal__title">
          Autorizações
          <small class="text-sm">{{ openClient.name }}</small>
        </h3>
        <div class="sautor-list">
          <article class="sautor-list__item" v-for="token in groupedTokens.items[openClientId]" :key="token.id">
            <div class="sautor-list__item__data">
              <p class="sautor-list__item__name">{{ mf(token.created_at) }}</p>
              <p class="sautor-list__item__meta">
                {{ token.scopes.join(', ') }}
              </p>
            </div>
            <div class="sautor-list__item__actions">
              <button type="button" @click="revoke(token)">
                <span class="fas fa-do-not-enter"></span>
              </button>
            </div>
          </article>
        </div>
      </div>
    </modal>

  </div>
</template>

<script>
  import collect from 'collect.js'

  export default {
    props: {
      scopes: Object
    },
    /*
     * The component's data.
     */
    data () {
      return {
        tokens: [],
        groupedTokens: {},
        clients: [],
        openClientId: null
      }
    },

    /**
     * Prepare the component (Vue 1.x).
     */
    ready () {
      this.prepareComponent()
    },

    /**
     * Prepare the component (Vue 2.x).
     */
    mounted () {
      this.prepareComponent()
    },

    computed: {
      openClient () {
        if (!this.openClientId) return null
        return this.clients.firstWhere('id', this.openClientId)
      }
    },

    methods: {
      /**
       * Prepare the component (Vue 2.x).
       */
      prepareComponent () {
        this.getTokens()
      },

      /**
       * Get all of the authorized tokens for the user.
       */
      getTokens () {
        this.$http.get('/oauth/tokens')
          .then(response => {
            this.tokens = response.data
            this.groupedTokens = collect(response.data).groupBy('client_id')
            this.clients = collect(response.data).pluck('client').unique('id')
          })
      },

      /**
       * Revoke the given token.
       */
      revoke (token) {
        this.$http.delete('/oauth/tokens/' + token.id)
          .then(response => {
            this.getTokens()
          })
      },

      mf (time, format = 'lll') {
        return this.$moment(time).format(format)
      },

      openDetail (clientId) {
        this.openClientId = clientId
        this.$root.openModal('tokensModal')
      }
    }
  }
</script>
