<template>
  <section class="me-account__section">
    <header class="me-account__section__header">
      <h3 class="me-account__section__title">
        Clientes OAuth
      </h3>
      <p class="me-account__section__desc">
        Os clientes / aplicações para autenticar através do protocolo <strong>OAuth2</strong>.
      </p>
      <button class="button button--small mt-3" @click="showCreateClientForm">
        <span class="far fa-plus"></span>
        Novo cliente
      </button>
    </header>
    <div class="me-account__section__content me-account__section__content--empty">
        <!-- Current Clients -->
        <p class="sautor-list sautor-list--empty" v-if="clients.length === 0">
          Não criou nenhum cliente OAuth.
        </p>

        <section class="sautor-list sautor-list--full" v-if="clients.length > 0">
          <article class="sautor-list__item" v-for="client in clients" :key="client.id">
            <div class="sautor-list__item__logo">
              <span class="sautor-list__item__logo__icon">
                <span class="far fa-laptop-code"></span>
              </span>
            </div>
            <div class="sautor-list__item__data">
              <p class="sautor-list__item__name">
                {{ client.name }}
                <span class="font-normal text-xs text-gray-600">
                  ID: {{ client.id }}
                </span>
              </p>
              <p class="sautor-list__item__meta">
                <code>{{ client.secret }}</code>
              </p>
            </div>
            <div class="sautor-list__item__actions">
              <button type="button" @click="edit(client)">
                <span class="fas fa-pencil"></span>
              </button>
              <button type="button" @click="destroy(client)">
                <span class="fas fa-trash"></span>
              </button>
            </div>
          </article>
        </section>
    </div>

    <!-- Create Client Modal -->
    <modal id="modal-create-client" with-close>
      <form @submit.prevent="store">
        <div class="modal__body">
          <h3 class="modal__title">Criar Cliente</h3>

          <div class="p-4 rounded bg-red-50 text-red-600 prose-sm" v-if="createForm.errors.length > 0">
            <p class="mb-0"><strong>Oops!</strong> Algo correu mal!</p>
            <ul>
              <li v-for="error in createForm.errors" :key="error">
                {{ error }}
              </li>
            </ul>
          </div>

          <div class="field">
            <label class="label">Nome</label>
            <div class="control">
              <input type="text" class="input" name="name" v-model="createForm.name">
            </div>
            <p class="field__help">
              Algo que os utilizadores reconheçam e confiem.
            </p>
          </div>

          <div class="field">
            <label class="label">URL de Redireção</label>
            <div class="control">
              <input type="text" class="input" name="redirect" v-model="createForm.redirect">
            </div>
            <p class="field__help">
              O URL do callback de autorização da sua aplicação.
            </p>
          </div>
        </div>
        <footer class="modal__footer">
          <button type="submit" class="button button--primary">Criar</button>
          <button type="button" class="button" @click="$root.closeModal('modal-create-client')">Cancelar</button>
        </footer>
      </form>
    </modal>

    <!-- Edit Client Modal -->
    <modal id="modal-edit-client" with-close>
      <form @submit.prevent="update">
        <div class="modal__body">
          <h3 class="modal__title">Editar Cliente</h3>

          <div class="p-4 rounded bg-red-50 text-red-600 prose-sm" v-if="editForm.errors.length > 0">
            <p class="mb-0"><strong>Oops!</strong> Algo correu mal!</p>
            <ul>
              <li v-for="error in editForm.errors" :key="error">
                {{ error }}
              </li>
            </ul>
          </div>

          <div class="field">
            <label class="label">Nome</label>
            <div class="control">
              <input type="text" class="input" name="name" v-model="editForm.name">
            </div>
            <p class="field__help">
              Algo que os utilizadores reconheçam e confiem.
            </p>
          </div>

          <div class="field">
            <label class="label">URL de Redireção</label>
            <div class="control">
              <input type="text" class="input" name="redirect" v-model="editForm.redirect">
            </div>
            <p class="field__help">
              O URL do callback de autorização da sua aplicação.
            </p>
          </div>
        </div>
        <footer class="modal__footer">
          <button type="submit" class="button button--primary">Editar</button>
          <button type="button" class="button" @click="$root.closeModal('modal-edit-client')">Cancelar</button>
        </footer>
      </form>
    </modal>
  </section>
</template>

<script>
  export default {
    /*
     * The component's data.
     */
    data () {
      return {
        clients: [],

        createForm: {
          errors: [],
          name: '',
          redirect: ''
        },

        editForm: {
          errors: [],
          name: '',
          redirect: ''
        }
      }
    },

    /**
     * Prepare the component (Vue 2.x).
     */
    mounted () {
      this.prepareComponent()
    },

    methods: {
      /**
       * Prepare the component.
       */
      prepareComponent () {
        this.getClients()
      },

      /**
       * Get all of the OAuth clients for the user.
       */
      getClients () {
        this.$http.get('/oauth/clients')
          .then(response => {
            this.clients = response.data
          })
      },

      /**
       * Show the form for creating new clients.
       */
      showCreateClientForm () {
        this.$root.openModal('modal-create-client')
      },

      /**
       * Create a new OAuth client for the user.
       */
      store () {
        this.persistClient(
          'post', '/oauth/clients',
          this.createForm, 'modal-create-client'
        )
      },

      /**
       * Edit the given client.
       */
      edit (client) {
        this.editForm.id = client.id
        this.editForm.name = client.name
        this.editForm.redirect = client.redirect

        this.$root.openModal('modal-edit-client')
      },

      /**
       * Update the client being edited.
       */
      update () {
        this.persistClient(
          'put', '/oauth/clients/' + this.editForm.id,
          this.editForm, 'modal-edit-client'
        )
      },

      /**
       * Persist the client to storage using the given form.
       */
      persistClient (method, uri, form, modal) {
        form.errors = []

        this.$http[method](uri, form)
          .then(response => {
            this.getClients()

            form.name = ''
            form.redirect = ''
            form.errors = []

            this.$root.closeModal(modal)
          })
          .catch(error => {
            if (typeof error.response.data === 'object') {
              form.errors = Object.values(error.response.data.errors)
            } else {
              form.errors = ['Algo correu mal. Por favor tente novamente.']
            }
          })
      },

      /**
       * Destroy the given client.
       */
      destroy (client) {
        this.$http.delete('/oauth/clients/' + client.id)
          .then(response => {
            this.getClients()
          })
      }
    }
  }
</script>
