<template>
  <section class="me-account__section">
    <header class="me-account__section__header">
      <h3 class="me-account__section__title">
        Tokens de acesso pessoal
      </h3>
      <p class="me-account__section__desc">
        Os tokens de acesso pessoal são uma alternativa para o uso de passwords para autenticação ao usar a API.
      </p>
      <button class="button button--small mt-3" @click="showCreateTokenForm">
        <span class="far fa-plus"></span>
        Novo token
      </button>
    </header>
    <div class="me-account__section__content me-account__section__content--empty">
      <!-- Current Clients -->
      <p class="sautor-list sautor-list--empty" v-if="tokens.length === 0">
        Não criou nenhum token de acesso pessoal.
      </p>

      <section class="sautor-list sautor-list--full" v-if="tokens.length > 0">
        <article class="sautor-list__item" v-for="token in tokens" :key="token.id">
          <div class="sautor-list__item__logo">
              <span class="sautor-list__item__logo__icon">
                <span class="far fa-user-unlock"></span>
              </span>
          </div>
          <div class="sautor-list__item__data">
            <p class="sautor-list__item__name">
              {{ token.name }}
            </p>
            <p class="sautor-list__item__meta">
              <strong>Âmbitos:</strong>
              {{ token.scopes.join(', ')}}
            </p>
          </div>
          <div class="sautor-list__item__actions">
            <button type="button" @click="revoke(token)">
              <span class="fas fa-trash"></span>
            </button>
          </div>
        </article>
      </section>
    </div>

    <modal id="modal-create-token" with-close>
      <form @submit.prevent="store">
        <div class="modal__body">
          <h3 class="modal__title">Criar Token</h3>

          <div class="p-4 rounded bg-red-50 text-red-600 prose-sm" v-if="form.errors.length > 0">
            <p class="mb-0"><strong>Oops!</strong> Algo correu mal!</p>
            <ul>
              <li v-for="error in form.errors" :key="error">
                {{ error }}
              </li>
            </ul>
          </div>

          <div class="field">
            <label class="label">Nome</label>
            <div class="control">
              <input type="text" class="input" name="name" v-model="form.name">
            </div>
          </div>

          <div class="field" v-if="scopes.length > 0">
            <label class="label">Âmbitos</label>
            <div class="control" v-for="scope in scopes" :key="scope.id">
              <div class="checkbox">
                <div class="checkbox__input">
                  <input type="checkbox" :id="`scope${scope.id}`" :name="`scope${scope.id}`" @click="toggleScope(scope.id)" :checked="scopeIsAssigned(scope.id)">
                </div>
                <div class="checkbox__label">
                  <label :for="`scope${scope.id}`">{{ scope.id }}</label>
                  <small class="field__help">
                    {{ scope.description }}
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="modal__footer">
          <button type="submit" class="button button--primary">Criar</button>
          <button type="button" class="button" @click="$root.closeModal('modal-create-token')">Cancelar</button>
        </footer>
      </form>
    </modal>

    <modal id="modal-access-token" with-close>
      <div class="modal__body">
        <h3 class="modal__title">
          Token de acesso pessoal
        </h3>
        <p class="text-sm mb-4">
          Aqui está o seu novo token de acesso pessoal. Esta é a única vez que lhe vai ser mostrado,
          portanto não o perca! Pode agora usá-lo para fazer chamadas à API.
        </p>
        <textarea class="input text-sm font-mono" rows="10" :value="accessToken"></textarea>
      </div>
    </modal>

  </section>
</template>

<script>
  export default {
    /*
     * The component's data.
     */
    data () {
      return {
        accessToken: null,

        tokens: [],
        scopes: [],

        form: {
          name: '',
          scopes: [],
          errors: []
        }
      }
    },

    /**
     * Prepare the component (Vue 1.x).
     */
    ready () {
      this.prepareComponent()
    },

    /**
     * Prepare the component (Vue 2.x).
     */
    mounted () {
      this.prepareComponent()
    },

    methods: {
      /**
       * Prepare the component.
       */
      prepareComponent () {
        this.getTokens()
        this.getScopes()
      },

      /**
       * Get all of the personal access tokens for the user.
       */
      getTokens () {
        this.$http.get('/oauth/personal-access-tokens')
          .then(response => {
            this.tokens = response.data
          })
      },

      /**
       * Get all of the available scopes.
       */
      getScopes () {
        this.$http.get('/oauth/scopes')
          .then(response => {
            this.scopes = response.data
          })
      },

      /**
       * Show the form for creating new tokens.
       */
      showCreateTokenForm () {
        this.$root.openModal('modal-create-token')
      },

      /**
       * Create a new personal access token.
       */
      store () {
        this.accessToken = null

        this.form.errors = []

        this.$http.post('/oauth/personal-access-tokens', this.form)
          .then(response => {
            this.form.name = ''
            this.form.scopes = []
            this.form.errors = []

            this.tokens.push(response.data.token)

            this.showAccessToken(response.data.accessToken)
          })
          .catch(error => {
            if (typeof error.response.data === 'object') {
              this.form.errors = Object.values(error.response.data.errors)
            } else {
              this.form.errors = ['Algo correu mal. Por favor tente novamente.']
            }
          })
      },

      /**
       * Toggle the given scope in the list of assigned scopes.
       */
      toggleScope (scope) {
        if (this.scopeIsAssigned(scope)) {
          this.form.scopes = this.form.scopes.reject(this.form.scopes, s => s !== scope)
        } else {
          this.form.scopes.push(scope)
        }
      },

      /**
       * Determine if the given scope has been assigned to the token.
       */
      scopeIsAssigned (scope) {
        return this.form.scopes.indexOf(scope) >= 0
      },

      /**
       * Show the given access token to the user.
       */
      showAccessToken (accessToken) {
        this.$root.closeModal('modal-create-token')

        this.accessToken = accessToken

        this.$root.openModal('modal-access-token')
      },

      /**
       * Revoke the given token.
       */
      revoke (token) {
        this.$http.delete('/oauth/personal-access-tokens/' + token.id)
          .then(response => {
            this.getTokens()
          })
      }
    }
  }
</script>
