<template>
  <div class="sidebar-grupo" :class="{'sidebar-grupo--empty': !grupo}">
    <template v-if="isEditing">
      <div class="sidebar-grupo__picker" v-if="isEditing">
        <GrupoPicker v-model="internalValue" />
      </div>
      <div class="sidebar-grupo__buttons">
        <button type="button" class="sidebar__btn" @click="closeEditing" key="close">
          <span class="far fa-check"></span>
        </button>
      </div>
    </template>
    <template v-else>
      <div class="sidebar-grupo__selected">
        <template v-if="isLoading">
          <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">A carregar…</span>
          </div>
        </template>
        <template v-else-if="grupo">
          <ListLogo :grupo="grupo" icon="fas fa-users" class="sidebar-grupo__selected__logo"/>
          <p class="sidebar-grupo__selected__name">
            {{ grupo.nome }}
          </p>
        </template>
        <template v-else>
          Sem grupo associado
        </template>
      </div>
      <div class="sidebar-grupo__buttons" v-if="!readOnly">
        <button type="button" class="sidebar__btn" @click="startEditing" key="edit">
          <span class="fas fa-pencil"></span>
        </button>
      </div>
    </template>
  </div>
</template>

<script>
  import ListLogo from '../../ListLogo.vue'
  import GrupoPicker from '../../GrupoPicker.vue'

  export default {
    components: {
      ListLogo,
      GrupoPicker
    },
    props: {
      value: {
        type: String,
        required: false
      },
      readOnly: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        internalValue: null,
        grupo: null,
        isEditing: false,
        isLoading: false
      }
    },
    methods: {
      loadValue () {
        if (this.value) {
          this.fetchGrupo()
        } else {
          this.grupo = null
        }
      },
      startEditing () {
        this.internalValue = this.value
        this.isEditing = true
      },
      closeEditing () {
        this.isEditing = false
        this.$emit('input', this.internalValue)
      },
      async fetchGrupo () {
        this.isLoading = true
        const response = await this.$http.post('/graphql', { query: `{ grupo (id: ${this.value}) { id nome nome_curto logo } }` })
        this.grupo = response.data.data.grupo
        this.isLoading = false
      }
    },
    created () {
      this.loadValue()
    },
    watch: {
      value () {
        this.loadValue()
      }
    }
  }
</script>

<style lang="scss">
  .sidebar-grupo {
    display: flex;
    align-items: center;

    &__selected {
      display: flex;
      align-items: center;
      flex: 1;

      &__logo {
        flex-shrink: 0;
      }

      &__name {
        flex: 1;
        font-weight: bold;
        margin: 0;
        line-height: 1.1;
        font-size: .9em;
      }
    }

    &--empty &__selected {
      @apply text-gray-500;
      font-style: italic;
    }

    &__picker {
      flex: 1;
    }

    &__buttons {
      margin-left: .5em;
    }
  }
</style>
