<template>
  <section class="content-editor__sidebar__section">
    <header class="content-editor__sidebar__section__header">
      <h6 class="content-editor__sidebar__section__title">{{ title }}</h6>
    </header>
    <div class="content-editor__sidebar__section__content">
      <slot></slot>
    </div>
  </section>
</template>

<script>
  export default {
    name: 'SidebarSection',
    props: {
      title: String
    }
  }
</script>

<style lang="scss">
  .content-editor__sidebar__section {
    @apply border-b border-gray-200;
    &__header {
      @apply text-gray-500;
      padding: 1rem;
    }
    &__title {
      font-weight: bold;
    }
    &__content {
      padding: 0 1rem 1rem;
    }
  }
</style>
