<template>
  <div class="content-editor__sidebar" :class="{'content-editor__sidebar--is-open': isOpen}">
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'Sidebar',
    props: {
      isOpen: Boolean
    }
  }
</script>

<style lang="scss">
  .content-editor__sidebar {
    @apply border-l border-gray-300 w-1/4 bg-white transform transition-transform duration-500 absolute top-0 right-0 bottom-0;

    &:not(&--is-open) {
      @apply translate-x-full;
      transform: translateX(100%);
    }
  }

  .sidebar__btn {
    @apply text-gray-500 rounded w-10 h-10 text-base bg-transparent border border-transparent flex justify-center items-center cursor-pointer;
    @apply hover:bg-gray-200 hover:text-gray-600;

    svg {
      @apply block;
    }

    &--active {
      @apply text-gray-900;
    }
  }
</style>
