<template>
  <div class="sidebar-autor">
    <template v-if="isEditing">
      <div class="sidebar-autor__picker" v-if="isEditing">
        <pessoa-picker :value="value" @input="onInput" :grupo-id="grupo ? `${grupo.id}` : undefined"  />
      </div>
      <div class="sidebar-autor__buttons">
        <button type="button" class="sidebar__btn" @click="closeEditing" key="close">
          <span class="far fa-check"></span>
        </button>
      </div>
    </template>
    <template v-else>
      <div class="sidebar-autor__selected">
        <template v-if="isLoading">
          <div class="spinner-border text-secondary" role="status">
            <span class="sr-only">A carregar…</span>
          </div>
        </template>
        <template v-else>
          <img :src="autor.foto" class="sidebar-autor__selected__photo">
          <p class="sidebar-autor__selected__name">
            {{ autor.nomeExibicao }}
          </p>
        </template>
      </div>
      <div class="sidebar-autor__buttons">
        <button type="button" class="sidebar__btn" @click="startEditing" key="edit">
          <span class="fas fa-pencil"></span>
        </button>
      </div>
    </template>
  </div>
</template>

<script>
  import PessoaPicker from '../../PessoaPicker.vue'

  export default {
    components: {
      PessoaPicker
    },
    props: {
      value: {
        type: String,
        required: false
      },
      grupo: {
        type: Object
      }
    },
    data () {
      return {
        autor: null,
        isEditing: false,
        isLoading: false
      }
    },
    methods: {
      loadValue () {
        if (this.value) {
          this.fetchPessoa()
        } else {
          this.onInput(null)
        }
      },
      startEditing () {
        this.isEditing = true
      },
      closeEditing () {
        this.isEditing = false
      },
      async fetchPessoa () {
        this.isLoading = true
        const response = await this.$http.post('/graphql', { query: `{ pessoa (id: ${this.value}) { id nomeExibicao foto } }` })
        this.autor = response.data.data.pessoa
        this.isLoading = false
      },
      onInput (value) {
        this.$emit('input', value)
      }
    },
    created () {
      this.loadValue()
    },
    watch: {
      value () {
        this.loadValue()
      }
    }
  }
</script>

<style lang="scss">
  .sidebar-autor {
    display: flex;
    align-items: center;

    &__selected {
      display: flex;
      align-items: center;
      flex: 1;

      &__photo {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-right: 1rem;
      }

      &__name {
        flex: 1;
        font-weight: bold;
        margin: 0;
        line-height: 1.1;
        font-size: .9em;
      }
    }

    &--empty &__selected {
      @apply text-gray-500;
      font-style: italic;
    }

    &__picker {
      flex: 1;
    }

    &__buttons {
      margin-left: .5em;
    }
  }
</style>
