<template>
  <div class="content-editor__template-options">
    <h4 class="title title--xs">Opções do modelo <small>{{ template.label }}</small></h4>

    <div class="field" v-for="option in template.options" :key="option.name">
      <div class="checkbox" v-if="option.type === 'switch'">
        <div class="checkbox__input">
          <input type="checkbox" :id="option.name" :checked="options[option.name]" @change="updateOption(option.name, $event.target.checked)">
        </div>
        <div class="checkbox__label">
          <label :for="option.name">{{ option.label }}</label>
        </div>
      </div>
      <template v-else-if="option.type === 'radio'">
        <label class="label">{{ option.label }}</label>
        <div class="control" v-for="(optVal, optKey) in option.options" :key="optKey">
          <div class="radio">
            <div class="radio__input">
              <input type="radio" :id="`${option.name}${optKey}`" :name="option.name"
                     :checked="optKey === options[option.name] || (!options[option.name] && optKey === option.default)"
                     @change="updateOption(option.name, optKey)">
            </div>
            <div class="radio__label">
              <label :for="`${option.name}${optKey}`">{{ optVal }}</label>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      template: {
        type: Object,
        required: true
      },
      value: {
        type: Object,
        required: false
      }
    },
    computed: {
      options () {
        return this.value || {}
      }
    },
    methods: {
      updateOption (name, value) {
        const newOptions = {
          ...this.options,
          [name]: value
        }
        this.$emit('input', newOptions)
      }
    }
  }
</script>

<style lang="scss">
  .content-editor__template-options {
    padding: 1rem;

    h4 {
      @apply mb-4;
      small {
        @apply text-base text-gray-500 font-accent ml-2;
      }
    }
  }
</style>
