<template>
  <div class="content-editor__topbar">
    <div class="content-editor__topbar__toolbar" v-if="noContent"></div>
      <div class="content-editor__topbar__toolbar" v-else>
        <template v-for="(btn, idx) in toolbar">
          <button v-if="btn" :key="btn.label" class="content-editor__topbar__toolbar-btn"
                  :class="{ 'content-editor__topbar__toolbar-btn--active': btn.active() }"
                  @click="btn.action()" :title="btn.label">
            <span :class="btn.icon"></span>
          </button>
          <span v-else class="content-editor__topbar__toolbar__divider" :key="idx"></span>
        </template>
      </div>
    <span class="content-editor__topbar__spinner" v-if="saving"><span
      class="far fa-circle-notch fa-spin"></span></span>
    <template v-if="!saving && !isNew">
      <div class="content-editor__topbar__dates">
        <p><strong>Criado a</strong> {{ mf(content.created_at) }}</p>
        <p v-if="content.created_at !== content.updated_at">
          <strong>Atualizado a</strong> {{ mf(content.updated_at) }}
        </p>
      </div>
      <a :href="viewLink" class="content-editor__topbar__toolbar-btn"
         title="Ver"><span class="far fa-eye"></span></a>
      <a href="#" class="content-editor__topbar__toolbar-btn content-editor__topbar__toolbar-btn--danger"
         title="Eliminar" @click.prevent="$root.openModal('deleteModal')">
        <span class="far fa-trash"></span></a>
    </template>
    <button class="button button--primary content-editor__topbar__btn content-editor__topbar__btn--save"
            :disabled="!saveEnabled" @click="save">
      {{ isNew ? 'Criar' : 'Guardar' }}
    </button>
    <button class="content-editor__topbar__btn content-editor__topbar__btn--menu content-editor__topbar__toolbar-btn"
      :class="{'content-editor__topbar__toolbar-btn': sidebarActive}" @click="toggleSidebar">
      <span class="fas fa-cog"></span>
    </button>
  </div>
</template>

<script>
  import formatters from '../../../mixins/formatters'

  export default {
    name: 'Topbar',
    mixins: [formatters],
    props: {
      editor: {
        required: true
      },
      saving: {
        type: Boolean,
        default: false
      },
      content: {
        type: Object,
        required: true
      },
      saveEnabled: {
        type: Boolean,
        default: false
      },
      isNew: {
        type: Boolean,
        required: true
      },
      viewLink: {
        type: String
      },
      sidebarActive: {
        type: Boolean
      },
      isCodeView: {
        type: Boolean
      },
      noContent: {
        type: Boolean
      }
    },
    data () {
      const NOOP = () => {}
      return {
        toolbar: [
          {
            icon: 'far fa-undo',
            label: 'Desfazer',
            action: () => this.editor.chain().undo().run(),
            active: NOOP
          },
          {
            icon: 'far fa-redo',
            label: 'Refazer',
            action: (commands) => this.editor.chain().redo().run(),
            active: NOOP
          },
          null,
          {
            icon: 'far fa-code',
            label: 'Vista de código',
            action: () => this.toggleCodeView(),
            active: () => this.isCodeView
          }
        ]
      }
    },
    methods: {
      save () {
        this.$emit('save')
      },
      toggleSidebar () {
        this.$emit('toggleSidebar')
      },
      toggleCodeView () {
        this.$emit('toggleCodeView')
      }
    }
  }
</script>

<style lang="scss">
  .content-editor__topbar {
    @apply flex items-center p-2 sticky top-0 z-10 bg-white border-b border-gray-300;

    &__toolbar {
      @apply flex-1 flex items-center;

      &-btn {
        @apply w-10 h-10 text-gray-400 rounded text-base bg-transparent border border-transparent flex justify-center items-center cursor-pointer;
        @apply transition-colors duration-300;
        @apply hover:border-gray-200 hover:text-gray-600;
        @apply focus:outline-none focus:ring-2 focus:ring-gray-50;

        svg {
          @apply block;
        }

        &--active {
          @apply text-gray-900;
        }

        &--danger {
          @apply hover:text-red-600;
        }
      }

      &__divider {
        @apply mr-4;
      }
    }

    &__spinner {
      @apply text-gray-500;
      font-size: 1.5rem;
    }

    &__dates {
      @apply text-gray-500 text-right text-xs mr-4 hidden md:block;

      p {
        @apply m-0;
      }
    }

    &__btn {
      @apply ml-2;
      &--save {
        @apply ml-4;
      }
    }
  }
</style>
